

<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label "Question" %>
    <%= f.text_field :name, class: 'login-intxt full-width form-control' , :required => true %><br><br>
  </div>
  <div class="field">
    <%= f.label :answer %>
    <%= f.text_field :answer, class: 'login-intxt full-width form-control' , :required => true %><br><br>
  </div>

  <div class="actions">
    <%= f.submit "Create", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', questions_path, class: 'cancel-btn pad-btn btn' %></span>
  </div>
<% end %>
