<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Questions</div>
      <hr>
    <p id="notice"><%= notice %></p>
    <%= link_to 'Add more', new_question_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
         <% @questions.each do |question| %>
            <tr>
              <td><%= question.name %></td>
              <td><%= question.answer %></td>
              <!-- <td><#%= link_to 'Show', question %></td> -->
              <td><%= link_to 'Edit', edit_question_path(question) %></td>
              <!-- <td><%#= link_to 'Show', question_path(question)%> -->
              <!-- <td><%#= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>



<br>
