<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="admin-main-jumbo jumbotron">
        <div class="admin-hd1">Hello, <%= current_user.name %>!!</div>
        <hr>
        <span class="activate">Please contact Admin to activate your Professional account first.</span><br>
        <br>
        <%= link_to contact_admin_activate_vendors_path, class: 'green-btn btn pad-btn' do %>
          <span>Contact Admin &nbsp;<i class="fa fa-paper-plane"> </i></span>
        <% end %>
      </div><!--admin-main-jumbo-->
    </div><!--col-md-* end-->
  </div>
</div>
