<li class="<%=  self_or_other(message) %>">
  <div class="avatar">
    <!-- <img src="http://placehold.it/50x50" /> -->
  </div>
  <div class="chatboxmessagecontent">
  	<% if message.image_present? %>
      <% message.images.each do |i| %>
        <%= attachment_image_tag(i, :file, :fill, 150, 150 , rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }, class: "mytooltip img-pop") %> <br>
      <% end %>
  		<!-- <%#= image_tag attachment_url(message, :image, :fill, 50, 50, format: 'jpg') %> -->
  	<% end %>

    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).name %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>

<script>

  // document.getElementById("chat-choose").style.visibility = "visible";
  // // Reset File Choose previous
  // $("#chat-choose").val('');
  // $(".chat_message").val('');

  // var selectToHide = document.getElementsByClassName("chat-image-type");
  // for(var i = 0; i < selectToHide.length; i++){ selectToHide[i].style.display = "none"; }

  // $(".chatboxinput  input[name='message[images_files][]']").val("");
  // document.getElementById("userImage").innerHTML="";

  //Image popup
  $('.img-pop').on('click',function(){
      var sr=$(this).attr('src');
     $('#mimg').attr('src',sr);
     $('#myPopupModal').modal('show');
  });


</script>
