<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-mymd-offset-3 col-md-5">
      <div class="login-box">
        <div class="login-logo-div">
          <%= image_tag("icons/user.png", class: 'login-logo')%>
        </div>
        <br><br>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <legend>Resend confirmation instructions</legend>

          <div class="field">
            <%= f.email_field :email, placeholder: 'Email', class: 'login-box-width login-intxt form-control', required: 'required', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div><br>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: 'org-btn2 pad-btn btn' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <br><br><br>
</div>
