<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">Active Questionnaire</div>
      <hr>
    <p id="notice"><%= notice %></p>
    <%= link_to 'Add Questions', new_question_path, class: 'org-btn2 btn' %>
    <%= form_for question_sequences_path, :url => { :action => "deactivate_questions" } do |f| %>
      <table class="table">
        <thead>
          <tr>
            <th> </th>
            <th>Questions</th>
            <th>
              Category
            </th>
             <!-- <th>Question Sequence</th> -->
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @question_sequences.each_with_index do |ques, index| %>
            <tr>

              <td><%= check_box_tag 'question_id[]', ques.question.id , false, class: 'deactivate_ques'%></td>
              <td><%= ques.question.name %></td>
              <td>
                <%= Category.where(id: Questioner.where(question_id: ques.question_id).pluck(:category_id).uniq[0]).pluck(:name)[0]
 %>
              </td>
              <!-- <td>
                <select id="seq.<%= ques.question.id%>">
                    <% (1..@no_of_ques_seq).each do |i| %>
                    <option value="<%=i%>"  <% if i == ques.sequence_no %> selected <% end %>   ><%= i%></option>
                    <% end %>
                </select>
              </td> -->

              <!-- <td><button type="button" class ="btn updateSequence" id = "<%= ques.question.id%>" >Update</button></td> -->
              <!-- <td><#%= link_to 'Show', category %></td> -->
              <!-- <td><#%= link_to 'Show', ques %></td>
              <td><#%= link_to 'Edit', edit_question_sequence_path(ques) %></td>
              <td><#%= link_to 'Destroy', ques, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>

      </table>
      <%= submit_tag "Remove Questions from list" , :class => "org-btn2 pad-btn btn rem_ques_btn" , :disabled => "true"  %>


      <% end %>

      <div>
      <br>
      <%= form_for question_sequences_path, :url => { :action => "activate_questions" } do |f| %>
         <table class="table">
            <thead>
              <tr>
                <th>Questions</th>
                <th>
                  Category
                </th>
                <th>Check to Activate</th>

                <!-- <th colspan="3"></th> -->
              </tr>
            </thead>

            <tbody>
              <div class="admin-hd1">Deactived Questions</div>
              <% @questions.each do |question| %>

                <% if !@que_no.include? question.id  %>
                <tr>
                  <td><%= question.name %></td>
                  <td>
                    <%= Category.where(id: Questioner.where(question_id: question.id).pluck(:category_id).uniq[0]).pluck(:name)[0]
 %>
                  </td>
                  <td><%= check_box_tag 'question_id[]', question.id , false, class: 'activate_ques'%></td>
                </tr>
              <% end %>

              <% end %>
            </tbody>

          </table>
        <%= submit_tag "Add Question to List" , :class => "org-btn2 pad-btn btn add_ques_btn" , :disabled => "true" %>
      <% end %>
      </div>
  </div>
</div>

<br>

<script type="text/javascript">


</script>
