<br>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
          <center><h3>You're almost there!</h3></center>
          <center><h5 class="exper">Sign up to receive your first moodboards!</h5></center>

        <%= form_for @user, url: guest_path(@user), html: { :id => "guest_form" , method: :put } do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="exper"><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
          <!-- To update the value of Guest from true to false -->
          <%= f.hidden_field :guest, value: false %>
          <!-- <#%= hidden_field_tag :vendor_id, value: @vendor_id.name %> -->
          <input type="hidden" id="vendor_id" name="vendor_id" value="<%= params[:vendor_id] %>">

          <p class="text-muted">Your awesome name!!</p>
          <%= f.text_field :name, value: "", placeholder: 'Name', class: 'login-intxt full-width form-control', required: true, autofocus: true %>
          <br><br>
          <p class="text-muted">Your email-id please</p>
          <%= f.email_field :email, value: "", type: 'email', placeholder: 'Email', class: 'login-intxt full-width form-control', required: true, autofocus: true %>
          <br><br>
          <p class="text-muted">We need your number so that Professionals can contact you</p>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">+91 -</span>
            <%= f.text_field :phone, type: 'number', placeholder: 'Phone', class: 'login-intxt full-width form-control', required: true, autofocus: true %>
          </div>
          <br>
          <p class="text-muted">Choose your password for this time</p>
          <%= f.password_field :password, placeholder: 'Password', class: 'login-intxt full-width form-control', required: true, autocomplete: "off" %>
          <em class="text-muted"> (8 characters minimum)</em>
          <br><br>
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'login-intxt full-width form-control', required: true, autocomplete: "off" %>
          <br><br>
          <%#= f.submit "Update", class: 'org-btn2 pad-btn btn'  %>
          <button type="button" name="button" class="org-btn2 pad-btn btn" onclick="guest_submit()">Submit</button>
        <% end %>

      <!-- <h3>Cancel my account</h3> -->

      <!-- <p>Unhappy? <#%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'org-btn2 pad-btn btn' %></p> -->

      <!-- <#%= link_to "Back", :back, class: 'org-btn2 pad-btn btn' %> -->
    </div>
  </div>
</div>
</div>
<br><br>
