<% @blogs.each_with_index do |blog , index| %>
  <% if index == 0 %>
    <div class=" ">
      <div class="row  first-blog">
        <% if  !blog.image.nil? %>
          <%= image_tag attachment_url(blog, :image, :fill, 900, 300, format: 'jpg'), alt: "dsadasdsadas" ,  class: "img-responsive col-md-12  first-blog-img" %>
        <% else %>
          <%= image_tag "blog/temp.png", class: 'img-responsive col-xs-12 col-md-12  first-blog-img ' , :size => "900x300" , :crop => :fill , alt: 'Get Professional Interior Designers' %>
        <% end %>

        <div class=" col-md-12 col-sm-12 col-xs-12 first-blog-title">
          <% if blog.title.length > 70 %>
            <%= truncate(blog.title, length: 70) %>
          <% else %>
            <%=  blog.title %>
          <% end %>

        </div>
        <div class=" col-md-12 col-sm-12 col-xs-12  first-blog-content">
          <div class="col-md-10 hidden-sm hidden-xs first-blog-content-text">
            <% if blog.subtitle.length > 180 %>
              <%= truncate(blog.subtitle, length: 180)%>
            <% else %>
              <%= blog.subtitle %>
            <% end %>

          </div>
          <div class="col-md-2 col-md-offset-0 col-sm-offset-4 col-sm-2 col-xs-offset-4 col-xs-1 first-blog-content-btn">
            <%= link_to 'Full Story', blog_path(blog) , class: 'btn full-story-btn'%>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="blog-sub-jumbo ">
      <div class="row">
        <div class="col-md-6">
            <% if  !blog.image.nil? %>
              <%= image_tag attachment_url(blog, :image, :fill, 440, 300, format: 'jpg') , class: "img-responsive " %>
            <% else %>
                <%= image_tag "blog/temp.png", class: 'img-responsive blog-sub-img ' , :size => "400x300" , :crop => :fill , alt: 'Get Professional Interior Designers' %>
            <% end %>
        </div>
        <div class="col-md-6">
          <div class="sub-category">
              <%= link_to  get_type_name(blog.type_id)  , blog_path(blog) , class: ""%> <i class="fa fa-chevron-right sub-category-icon" aria-hidden="true"></i>
          </div>
          <div class="">
            <% if blog.title.length > 50 %>
              <%= link_to  truncate(blog.title, length: 50)  , blog_path(blog) , class: "blog-sub-title"%>
            <% else %>
              <%= link_to  blog.title  , blog_path(blog) , class: "blog-sub-title"%>
            <% end %>

          </div>

          <div class="blog-sub-author">
            By <%= blog.author %>
          </div>
          <div class="blog-sub-subtitle">
            <% if blog.subtitle.length > 220 %>
              <%= truncate(blog.subtitle, length: 220)%>
            <% else %>
              <%= blog.subtitle %>
            <% end %>
          </div>
          <%= link_to 'Full Story', blog_path(blog) , class: "blog-sub-full-link"%>
          <div class="visitor mytooltip" data-placement = "bottom" data-toggle="tooltip" title="Visitors">
               <i class="fa fa-user" aria-hidden="true"></i> <%= blog.visitor_count %>
          </div>
        </div>
        <hr>
      </div>
    </div>
  <% end %>
<% end %>
<center id="blog_pagination">
  <%= will_paginate @blogs, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>
</center>
