<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Blogs</div>
      <hr>
    <p id="notice"><%= notice %></p>
    <%= link_to 'Add Blog', new_blog_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th> Sub Category</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= blog.title %></td>
              <td><%= if !blog.category.nil? then blog.category.name end %></td>

              <td><%= get_type_name(blog.type_id) %></td>


              <!-- <td><#%= link_to 'Show', category %></td> -->
              <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
              <td><%= link_to 'Show', blog_path(blog)%>
              <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= will_paginate @blogs, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>
      </center>
  </div>
</div>



<br>
