<br>
<div class="container">
  <div class="row">
    <div class="">
      <div class="login-box">
        <h2>Edit Blog</h2>
        <hr>
        <%= form_for(@blog) do |f| %>
          <% if @blog.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

              <ul>
              <% @blog.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :title , class: "admin-hd1 " %>
            <%= f.text_field :title, placeholder: 'Title', class: ' form-control'  , :required => true  %>
          </div>
          <br>
          <div class="field">
            <%= f.label :subtitle , class: "admin-hd1 " %><br>
            <%= f.text_field :subtitle, placeholder: 'Subtitle', class: ' form-control'  , :required => true  %>
          </div>
          <br>
          <div class="field">
            <%= f.label :author , class: "admin-hd1 " %><br>
            <%= f.text_field :author, placeholder: 'Author', class: ' form-control'  , :required => true  %>
          </div>
          <br>
          <div class="field">
            <%= f.label "Blog Cover Image" , class: "admin-hd1 " %> (Optional)<br>
            <%= f.attachment_field :image, direct: true, presigned: true, class: ' form-group'  %>
          </div>
          <br>
          <div class="field">
            <%= f.label :Category , class: "admin-hd1 "%><br>
            <%= f.select :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, @blog.category_id), { prompt: 'Select category' }, class: 'category-item  form-control' , :required => true %>
          </div>
          <br>
          <div class="field">
            <%= f.label "Sub Category" , class: "admin-hd1 " %><br>
            <%= f.select :type_id, options_for_select(Type.where(category_id: @blog.category_id).collect { |c| [c.name, c.id] }, @blog.type_id), { prompt: 'Select Sub Category' }, class: 'category-type  form-control' ,:required => true %>
          </div>
          <br>
          <div class="field">
            <%= f.label :body , class: "admin-hd1 " %><br>
            <%= f.cktext_area :body, placeholder: 'Body', class: ' form-control'  , :required => true  %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit"Update Blog", class: 'org-btn2 pad-btn btn' %>
            <span><%= link_to 'Cancel', admin_blog_blogs_path, class: 'cancel-btn pad-btn btn' %></span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<br><br>

<script type="text/javascript">
  if(!window.location.hash) {
      window.location = window.location + '#loaded';
      window.location.reload();
  }
</script>
