<% @blogs.each_with_index do |blog , index| %>
  <div class="blog-sub-jumbo ">
    <div class="row">
      <div class="col-md-6">
          <%= image_tag attachment_url(blog, :image, :fill, 400, 300, format: 'jpg'), class: "img blog-sub-img" %>
      </div>
      <div class="col-md-6">
        <div class="sub-category">
            <%= link_to  get_type_name(blog.type_id)  , blog_path(blog) , class: ""%> <i class="fa fa-chevron-right sub-category-icon" aria-hidden="true"></i>
        </div>
        <div class="">
          <% if blog.title.length > 50 %>
            <%= link_to  truncate(blog.title, length: 50)  , blog_path(blog) , class: "blog-sub-title"%>
          <% else %>
            <%= link_to  blog.title  , blog_path(blog) , class: "blog-sub-title"%>
          <% end %>
        </div>
        <div class="blog-sub-author">
          By <%= blog.author %>
        </div>
        <div class="blog-sub-subtitle">
          <% if blog.subtitle.length > 220 %>
            <%= truncate(blog.subtitle, length: 220)%>
          <% else %>
            <%= blog.subtitle %>
          <% end %>
        </div>
        <%= link_to 'Full Story', blog_path(blog) , class: "blog-sub-full-link"%>
      </div>
    </div>
  </div>
<% end %>
