<br>
<div class="container">

    <div class="row">
      <div class="col-md-2 col-sm-2  blog-sidebar-jumbo jumbotron">
          <div class="">
            <div class="blog-categ-hd1" data-toggle="collapse" data-target=".sidebar-list" >Stories for Huzzpa</div>
            <ul class="sidebar-list collapse in">
              <li class="sidebar-item">
                <a href="#" class="sidebar-item-label">

                    <%= link_to 'Latest from Huzzpa', blogs_path %>
                  
                </a>
              </li>

              <% @categories.each do |category_id| %>
                <li id="categ-<%= category_id %>" data-toggle="collapse" data-target="#<%= category_id %>" class="collapsed sidebar-item
                  <% if params[:blog_category].present?%>
                    <% if @category_id == category_id %>
                      active
                    <% end %>
                  <%end%>
                ">
                  <a href="#" class="sidebar-item-label">
                    <span class="blog-categ-sub-hd" onclick="get_blogs(<%=category_id%>)">
                      <%= if !category_id.nil? then get_category_name(category_id) end %>
                    </span>
                  </a>
                </li>
                <% sub_categorys = get_typesin_category(category_id)  %>
                 <ul class="sub-menu sidesub-items collapse" id="<%=category_id%>">
                    <% sub_categorys.each do |sub_category| %>
                      <li class="sidebar-item ">
                        <a href="#" class="sidebar-item-label ">
                          <span class="" onclick="get_blogs_by_type(<%=sub_category.id%>)">
                            <%= get_type_name(sub_category.id)%>
                          </span>
                        </a>
                      </li>
                    <% end %>
                  </ul>
              <% end %>
            </ul>
          </div>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="blog-main-jumbo " id="all_blogs">
              <%= render 'show_blogs' %>


          </div>
      </div>
    </div>

</div>



<br>

<script type="text/javascript">
if ($(window).width() < 700 || $(window).height() < 480) {

      $(".sidebar-list").removeClass("in");
    }
else {
  if ($(".sidebar-list").hasClass("in")) {

  }
  else {
    $(".sidebar-list").addClass("in");
  }

}


</script>
