<br>
<div class="container">
  <div class="row">
    <div class="">
      <div class="login-box">
        <h2>New Blog</h2>
        <hr>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<br><br>

<script type="text/javascript">
  if(!window.location.hash) {
      window.location = window.location + '#loaded';
      window.location.reload();
  }
</script>
