
<br>
<div class="container">
    <div class="blog-main-jumbo2">
      <div class="blog-top-links">
        <% if !@blog.category.nil? %>
            <%= link_to  @blog.category.name  , blogs_path(blog_category: @blog.category_id) , class: ""%> |
        <% end %>

        <%= link_to  get_type_name(@blog.type_id)  , blogs_path(blog_type: @blog.type_id) , class: ""%>
      </div>
      <br>
      <div class="blog-show-header">
        <div class="blog-show-title">
          <%= @blog.title %>
        </div>
        <div class="blog-show-subtitle">
          <%= @blog.subtitle %>
        </div>
        <hr class="blog-hr-top">
        <div class="blog-show-subtitle blog_author">
          By- <%= @blog.author %>
          <div class="blog_date">
            <%= l(@blog.created_at, format: '%B, %e  %Y ') %>
          </div>
        </div>
        <hr class="blog-hr-bottom">
      </div>
      <div class="blog-show-content">
        <%= @blog.body.html_safe %>
      </div>

      <br>
      <% if user_signed_in? %>
        <h3>New comment</h3>
        <% if @comment.parent %>
          <%= render 'comment', comment: @comment.parent, from_reply_form: true %>
        <% end %>
        <%= render 'comments/form' %>
      <% else %>
        <div class="row"> <%= link_to "Please Signup to comment", user_role_path, style: 'color: green !important;' , class: 'btn btn-default col-md-offset-3 col-md-6'%> </div>
      <% end %>

    </div>
    <br>

    <div class="blog-main-jumbo2">
      <div class="comment_count">
        This blog has  <%=pluralize(@comments.count, 'Comment') %>
      </div>
      <br>
      <%= comments_tree_for @comments %>
    </div>

</div>
<br>
