<style>

</style>

<div class="main_blog_content">
  <p>
    <span style="font-size:17px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
    essentially unchanged. It was popularised In the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </span>
  </p>
  <p>
    <%= image_tag("blog/1.png" , :crop => :fill , width: "564px" , height: "403px" , :align=> "left"  , :style => "padding-right: 10px; padding-top: 5px;")%>
    <span style="font-size:17px;">
      Lorem ipsum dolor sit amet , consectetuer elit . Aenean commodo ligula eget dolor . Aenean massa . Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis , ultricies nec , pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      In enim justo, rhoncus ut,
    </span>
  </p>
  <p>
    <span style="font-size:17px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
    essentially unchanged. It was popularised In the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </span>
  </p>
  <p>
    <span style="font-size:17px;">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
      from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
      looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
      word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de
      Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
       theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
       comes from a line in section.
    </span>
  </p>
  <p>
    <%= image_tag("blog/2.jpg" , :crop => :fill , width: "990px" , height: "700px" , :align=> "middle")%>
  </p>
  <p>
    <span style="font-size:17px; padding-right: 10px; padding-left: 10px;">
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
      injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
      Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
      on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It
       uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
       which looks reasonable.
    </span>
  </p>
  <p>
    <%= image_tag("blog/3.jpg" , :crop => :fill , width: "990px" , height: "700px" , :align=> "middle")%>
  </p>
  <p><span style="font-size:17px;">
      Lorem ipsum dolor sit amet , consectetuer elit . Aenean commodo ligula eget dolor . Aenean massa . Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis , ultricies nec , pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
      tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
      eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
      nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
      ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
      amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et
      ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
      faucibus tincidunt.
    </span>
  </p>
</div>
