<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <% if current_user.guest == true %>
          <h4>Hello Guest, Its time you update your Info. and we will connect you to right Professionals.</h4>
        <% end %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <legend>Update <%= resource_name.to_s.humanize %> Information</legend>

          <% if current_user.guest == true %>
          <!-- To update the value of Guest from true to false -->
          <%= f.hidden_field :guest, value: false %>
            <i>Your name</i>
          <% end %>
          <%= f.text_field :name, placeholder: 'Name', class: 'login-box-width login-intxt form-control', autofocus: true %>
          <br><br>
          <% if current_user.guest == true %>
            <i>Please update your email</i>
          <% end %>
          <%= f.email_field :email, type: 'email', placeholder: 'Email', class: 'login-box-width login-intxt form-control', autofocus: true %>
          <br><br>
          <% if current_user.guest == true %>
            <i>We need your number so that Professionals can contact you</i>
          <% end %>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">+91 -</span>
            <%= f.text_field :phone, type: 'number', placeholder: 'Phone', class: 'login-intxt form-control', autofocus: true %>
          </div>
          <br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <% if current_user.guest == true %>
            <i>You must choose password for this time</i><br />
          <% else %>
            <i>(leave blank if you don't want to change it)</i><br />
          <% end %>
          <%= f.password_field :password, placeholder: 'Password', class: 'login-box-width login-intxt form-control', autocomplete: "off" %>
          <br><br>
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'login-box-width login-intxt form-control', autocomplete: "off" %>
          <br><br>
          <% if current_user.provider? %>
            <i>(Hey no problem if you dont know your current password, we will handle it for you.)</i>
          <% else %>
            <i>(we need your current password to confirm your changes)</i>
          <% end %>
          <br />
          <%= f.password_field :current_password, placeholder: 'Current Password', class: 'login-box-width login-intxt form-control', autocomplete: "off" %>
          <br><br>
          <%= f.submit "Update", class: 'org-btn2 pad-btn btn' %>
        <% end %>

      <!-- <h3>Cancel my account</h3> -->

      <!-- <p>Unhappy? <#%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'org-btn2 pad-btn btn' %></p> -->

      <!-- <#%= link_to "Back", :back, class: 'org-btn2 pad-btn btn' %> -->
    </div>
  </div>
</div>
</div>
<br><br>
<script type="text/javascript">
// $( "#edit_user" ).validate({
//   rules: {
//     user_password: "required",
//     user_password_confirmation: {
//       equalTo: "#user_password"
//     }
//   }
// });
</script>
