<br><br>
<div class="container">
  <div class="row">
    <div class="col-mymd-offset-3 col-md-5">
      <div class="login-box">
        <%= link_to root_path, class: 'close' do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        <div class="login-logo-div">
          <%= image_tag("icons/user.png", class: 'login-logo')%>
        </div>
        <br><br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

            <%= f.text_field :name, placeholder: 'Name', class: 'login-intxt full-width form-control', required: 'required', autofocus: true %>
            <br><br>
            <%= f.email_field :email, type: 'email', placeholder: 'Email', class: 'login-intxt full-width form-control', required: 'required', autofocus: true %>
            <br><br>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">+91 -</span>
              <%= f.text_field :phone, type: 'number', placeholder: 'Contact number', pattern: "[0-9]{9}", class: 'login-intxt form-control', required: 'required', autofocus: true %>
            </div>
            <br>
            <%= f.password_field :password, placeholder: 'Password', class: 'login-intxt full-width form-control', required: 'required', autocomplete: "off" %>
            <% if @minimum_password_length %>
            <em class="text-muted">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <br><br>
            <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'login-intxt full-width form-control', required: 'required', autocomplete: "off" %>
            <br><br>
            <span class='login-intxt full-width'>I am a</span>
            <%= f.collection_radio_buttons(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) do |b| %>
              <% b.label do %>
                <%= b.radio_button %><%= if b.value == 'vendor' then 'Professional' else b.text end %>
              <% end %>
            <% end %>
            <br><br>
              <%= f.submit "Sign up", class: 'org-btn2 pad-btn btn', onclick: "ga('send', 'event', { eventCategory: 'Account Creation', eventAction: 'Click', eventLabel: 'Create Account'});" %>
              <br><br>
              <div class="row">

                  <%= link_to omniauth_authorize_path(resource_name, :facebook), class: "btn btn-social btn-facebook" do %>
                    <span class="fa fa-facebook"></span> Sign up with Facebook
                  <% end %>

                  <%= link_to omniauth_authorize_path(resource_name, :google_oauth2), class: "btn btn-social btn-google" do %>
                    <span class="fa fa-google"></span> Sign up with Google
                  <% end %>

              </div>

              <br><br>
        <% end %>
            <%= render "devise/shared/links" %><br>
            <em class="exper">By Signing-up you agree to the Terms and Conditions of this site.</em>

          </div><!--login-box end-->
        </div><!--col-md-6 end-->
      </div><!--row end-->
      <br><br><br>
    </div><!--div container-->
