<h4>Hi <%= @user.name %>, !! <br> <br>

We are glad that you found us !!! <br><br>

Now lets get on with building your dream space, your way – The Huzzpa way . <br><br>

We would be reaching out to you within the next 24 hrs . In the meanwhile explore us further. <br><br>

The FAQ section should be able to answer to most of your queries .<br><br>

We would love to talk to you on 080-395-12575 between 10:00 AM and 8:00 PM . <br><br>

Thank you, <br>
The Happy Huzzpa Team
</h4>
