
  <div class=" jumbotron">
    <div class="admin-hd1">
      <div class="">
        Name: <%= @user_detail.first.user.name %>
      </div>
      <div class="">
          Email: <%= @user_detail.first.user.email %>
      </div>

    </div>
    <br>
    <div class="admin-hd1"> Requirements</div>
    <hr>
    <span class="">
      <% @user_detail.each do |detail| %>
        <div class="row">
          <div id="" class="col-md-4 ">
            <% if detail.floor_plan_image.present? %>
              <div>
                <%= image_tag attachment_url(detail, :floor_plan_image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail img-pop mytooltip' %>
              </div><!--slide content-->
            <% else %>
                No Floor Plan Image Shared <br>
            <% end %>
          </div>
          <div class="col-md-8 jumbotron">
            <div class="user_pre_hd1">
                <div> Budget: </div>
                <div class="user_pre_suhd1">
                <% if detail.budget == 1 %>
                  5 Lac and Under
                <% elsif detail.budget == 2 %>
                  10 Lac and Under
                <% elsif detail.budget == 3 %>
                  15 Lac and Under
                <% elsif detail.budget == 4 %>
                  15 Lac above
                <% else %>
                 NA
                <% end %>
              </div>
            </div>
            <br>
            <div class="user_pre_hd1">
                <div> Type of House: </div>
                <div class="user_pre_suhd1">
                  <% if detail.work_scope.present? %>
                    <%= detail.work_scope[0] %>
                  <% else %>
                    NA
                  <% end %>
                </div>
            </div>
            <br>
            <div class="user_pre_hd1">
                <div>  Spaces Interested : </div>
                <div class="user_pre_suhd1">
                  <% if detail.spaces.present? %>
                  <% Category.find(detail.spaces).each_with_index do |categ_id , index| %>
                    <!-- <label class="btn btn-primary"> -->
                      <% if index != 0 %>
                        ,
                      <% end %>
                      <%= categ_id.name %>
                    <!-- </label> -->
                  <% end %>
                  <% else %>
                    NA
                  <% end %>
                </div>
            </div>
            <br>
            <div class="user_pre_hd1">
              <div> Description : </div>
              <div class="user_pre_suhd1">
                <% if detail.description.present? %>
                  <%= detail.description %>
                <% else %>
                  NA
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div>
          <div class="admin-hd1">Designs</div>
          <% if FlatImage.where(user_detail_id: detail.id).present? %>
            <div class=" admins-user-profile-slider ">
              <!-- <%#= image_tag attachment_url(detail, :flat_image, :fill, 300, 300, format: "jpg"), data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %> -->
              <% FlatImage.where(user_detail_id: detail.id).each do |img| %>
                <div>
                  
                  <% if img.file_content_type == "application/pdf" %>
                    <%= attachment_image_tag(img, :file, :fill, 300, 300 , class: ' img-thumbnail img-pop mytooltip', format: "jpg" ,  rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' })  %>
                    <%= link_to "Download file", attachment_url(img, :file, format: "pdf") %>
                  <% else %>
                      <%= attachment_image_tag(img, :file, :fill, 300, 300 , class: ' img-thumbnail img-pop mytooltip' ,  rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' })  %>
                  <% end %>

                </div>
              <% end %>
              <br>
            </div><!--preference slider-->
          <% else %>
              No Designs Shared
          <% end %>
        </div>


      <% end %>
    </span>
  </div>

  <div class="jumbotron">
    <div class="admin-hd1">Interests</div>
    <hr>
    <span class="">
      <%#= @user_profile.work_details %>
      <% if !@user_interest.empty? %>
        <% @questions.each do |ques| %>
          <div class="container">
            <div class="admin-main">
              <div class="admin-hd1"><%= ques.answer %></div><br>
              <div id="" class="admins-user-profile-slider ">
                <% @user_interest.where(question_id: ques.id).each do |catg_images| %>
                  <div>
                    <%= image_tag attachment_url(catg_images.category_item, :image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail img-pop mytooltip' %>

                  </div><!--slide content-->
                <% end %>
              </div><!--preference slider-->
            </div>
          </div>
        <% end %>
      <% end %>
    </span>
  </div><!--jumbo-->

  <div class=" jumbotron">
    <div class="admin-hd1">Favourate Products</div>
    <hr>
    <span class="admin-txt2">
      <%#= @user_profile.work_details %>
      <% if !@fav_products.empty? %>
          <div class="container">
            <div class="admin-main">
              <div id="" class="admins-user-profile-slider">
                <% @fav_products.each do |fav_product| %>
                  <div>
                    <%= image_tag attachment_url(fav_product.product, :product_image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail img-pop mytooltip' %>

                  </div><!--slide content-->
                <% end %>
              </div><!--preference slider-->
            </div>
          </div>
      <% else %>
        <div class="admin-hd1"><center>Not Available</center></div>
      <% end %>
    </span>
  </div><!--admin-main-jumbo-->

<script type="text/javascript">
var ready;
ready = function() {
  $('.admins-user-profile-slider').slick({
  dots: false,
  infinite: true,
  speed: 1000,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
}

// $(document).on('page:load', ready);
setTimeout(function(){
   ready();
}, 3000);

</script>
