<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Users</div>
      <hr>
      <!-- Search Form starts here -->
      <%= search_form_for @search, url: users_admins_path(@search) do |f| %>
          <%= f.search_field :name_cont, placeholder: 'Name contains' %>
          <%= f.search_field :email_cont, placeholder: 'Email contains' %>
          <%= f.search_field :name_or_email_cont, placeholder: 'Name or Email contains' %>
        <span class="actions">
          <%= f.submit "Search", class: 'btn btn-sm btn-primary' %>
          <button type="button" onclick="clearForm();" class="btn btn-sm btn-default">Clear fields</button>
        </span>
      <% end %>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <!-- <th>Current Status</th> -->
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="filter-user" data-user="<%= if user.activate then "active" else "inactive" end %>">
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone %></td>
              <!-- <td><#%= if user.activate then "active" else "inactive" end %></td>
              <td>
                <#% if user.activate %>
                  <#%= link_to 'Deactivate', status_admins_path(id: user.id, activate: false), class: 'btn btn-sm btn-danger' %>
                <#% else %>
                  <#%= link_to 'Activate', status_admins_path(id: user.id, activate: true), class: 'btn btn-sm btn-success' %>
                <#% end %>
              </td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= will_paginate @users, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>
      </center>
    </div>
  </div>
<br>
