<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <%= form_for @user, url: create_vendor_admins_path(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
          <legend>Create New Vendor Account</legend>
          <%= f.hidden_field :role, value: 'vendor' %>

          <%= f.text_field :name, placeholder: 'Name', class: 'login-intxt form-control', required: true, autofocus: true %>
          <br><br>
          <%= f.email_field :email, type: 'email', placeholder: 'Email', class: 'login-intxt form-control', required: true, autofocus: true %>
          <br><br>
          <%= f.text_field :phone, type: 'number', placeholder: 'Phone', pattern: "[0-9]{9}", class: 'login-intxt form-control', required: true, autofocus: true %>
          <i class="text-muted">number without +91</i>
          <br><br>
          <%= f.password_field :password, placeholder: 'Password', class: 'login-intxt form-control', required: true, autocomplete: "off" %>
          <br><br>
          <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'login-intxt form-control', required: true, autocomplete: "off" %>
          <br><br>
          <%= f.submit "Create", class: 'org-btn2 pad-btn btn' %>
        <% end %>
    </div>
  </div>
</div>
</div>
<br><br>
