<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Vendors</div><br>
    <span>
        <label for="">Filter vendor:</label>
        <select class="" id="vendors">
          <option value="all">Select</option>
          <option value="all">All</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
    </span>
      <hr>
      <!-- Search Form starts here -->
      <%= search_form_for @search, url: vendors_admins_path(@search) do |f| %>
          <%= f.search_field :name_cont, placeholder: 'Name contains' %>
          <%= f.search_field :email_cont, placeholder: 'Email contains' %>
          <%= f.search_field :name_or_email_cont, placeholder: 'Name or Email contains' %>
          <%= f.submit "Search", class: 'btn btn-sm btn-primary' %>
          <button type="button" onclick="clearForm();" class="btn btn-sm btn-default">Clear fields</button>
      <% end %>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Blocked</th>
            <th>Current Status</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @vendors.each do |vendor| %>
            <tr class="filter-vendor" data-vendor="<%= if vendor.activate then "active" else "inactive" end %>">
              <td><%= vendor.name %></td>
              <td><%= vendor.email %></td>
              <td>
                <% if vendor.vendor_profile.selection_no == 3 %>
                  <%= link_to 'Unblock', unblock_admins_path(id: vendor.id), class: 'btn btn-sm btn-danger' %>
                <% else %>
                  No
                <% end %>
              </td>
              <td><%= if vendor.activate then "active" else "inactive" end %></td>
              <td>
                <% if vendor.activate %>
                  <%= link_to 'Deactivate', status_admins_path(id: vendor.id, activate: false), class: 'btn btn-sm btn-danger' %>
                <% else %>
                  <%= link_to 'Activate', status_admins_path(id: vendor.id, activate: true), class: 'btn btn-sm btn-success' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <center>
        <%= will_paginate @vendors, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>
      </center>

      <%= link_to 'Create Vendor', new_vendor_admins_path, class: 'org-btn2 btn' %>
      <%= link_to 'Download Vendor Data', export_vendors_admins_path(format: 'csv'), class: 'download-btn btn'%>
    </div>
  </div>
<br>
