<div class="comment_box" id= 'well-<%= comment.id %>' >
  <div class="text-muted row ">
    <div class="col-sm-4">


      <div class="col-sm-1">
        <% if comment.user.role == "admin" || comment.user.role == "user" %>
          <% if !comment.user.user_profile.profile_image_id.nil?%>
              <%= image_tag attachment_url(comment.user.user_profile, :profile_image, :fill, 25, 25, format: 'png'), class: ' img-circle blog_profile_img ', title: 'Profile Image' %>
          <% else %>
            <%= image_tag "default.png", class: 'head-prof-img img-circle blog_profile_img' %>
          <% end %>
        <% elsif comment.user.role == "vendor" %>
          <% if !comment.user.vendor_profile.profile_image_id.nil?%>
              <%= image_tag attachment_url(comment.user.vendor_profile, :profile_image, :fill, 25, 25, format: 'png'), class: ' img-circle blog_profile_img ', title: 'Profile Image' %>
          <% else %>
            <%= image_tag "default.png", class: 'head-prof-img img-circle blog_profile_img' %>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-10">
         <strong><%= comment.user.name %></strong> on <%= l(comment.created_at, format: '%d, %b  %y ') %>
      </div>

    </div>
   </div>

    <!-- <blockquote> -->
    <div class="content"><%= comment.content %></div>
  <!-- </blockquote> -->

  <% if user_signed_in? %>
    <% from_reply_form ||= nil %>
    <% unless from_reply_form %>
      <div class="comment_buttons">
      <%= button_tag "Reply", class: "reply-comment btn btn-link", id: "reply-comment-#{comment.id}", data: { "comment-id": "#{comment.id}"} %>
      <% if comment.user == current_user || current_user.role == "admin" %>
        <%= link_to 'Delete Comment', comment , method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-link" %>
      <% end %>
      <div class="reply-box" id="comment-<%= comment.id%>"></div>
    </div>

    <% end %>
  <% end %>
  <hr>
</div>
