<%= form_for(@chat_access) do |f| %>
  <% if @chat_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_access.errors.count, "error") %> prohibited this chat_access from being saved:</h2>

      <ul>
      <% @chat_access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
