

<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">Listing Chat Accesses</div>
      <hr>
      <%#= link_to 'Add more', new_chat_access_path, class: 'org-btn2 btn' %>
      <p id="notice"><%= notice %></p>
      <table class="table">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Designer Name</th>
             <th>Status</th>
             <th>State </th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @chat_accesses.each do |chat_access| %>
            <tr>

              <td><%= chat_access.user.name %></td>
              <td><%= chat_access.vendor_profile.vendor.name %></td>
              <td>

                <div class="btn-group btn-toggle" id= "<%= chat_access.id %>"  >
                  <button class="btn btn-xs
                    <%= if chat_access.status
                      "active btn-primary"
                    end  %>
                  " value = "true">ON</button>
                  <button class="btn btn-xs
                    <%= if !chat_access.status
                      "active btn-primary"
                    end  %>
                  " value = "false" >OFF</button>
                </div>

              </td>
              <td>

                <% @conv_id %>
                <% if @conv.where(sender_id: chat_access.user_id , recipient_id: chat_access.vendor_profile.vendor_id).present? %>
                  <% @conv_id = @conv.where(sender_id: chat_access.user_id , recipient_id: chat_access.vendor_profile.vendor_id).pluck(:id)[0] %>
                <% elsif @conv.where(sender_id: chat_access.vendor_profile.vendor_id , recipient_id: chat_access.user_id).present?%>
                  <% @conv_id = @conv.where(sender_id: chat_access.vendor_profile.vendor_id , recipient_id: chat_access.user_id).pluck(:id)[0] %>
                <% end %>

                <% if @conv_id.nil? %>
                  NA
                <% else %>
                  <%= @conv.find(@conv_id).status.name %>
                <% end %>
              </td>
              <!-- <td><#%= link_to 'Show', type %></td> -->
              <!-- <td><#%= link_to 'Edit', edit_chat_access_path(chat_access) %></td> -->
              <td><%= link_to 'Destroy', chat_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/javascript">
    $('.btn-toggle').click(function() {
        $(this).find('.btn').toggleClass('active');

        if ($(this).find('.btn-primary').size()>0) {
          $(this).find('.btn').toggleClass('btn-primary');
        }
        $(this).find('.btn').toggleClass('btn-default');

        update_chat_status(  this.id  , $(this).find('.active').attr("value") )

    });

    function update_chat_status (id , status) {
       $.ajax({
          type: "get",
          url: "/chat_accesses/update_status",
          dataType: "json",
          data: {id: id , status: status },
          success: function(data){
              // if (data.message == "Success") {
              //   $(".like-school-"+school_id).hide();
              //   $(".not-like-school-"+school_id).show();

              // }
                // location.reload();
          },
          error: function (err){
          }

        });
    }


  </script>
