<h4>Hey <%= @user.name %>,<br> We are happy to have you onboard!!</h4>
  <p>
    Now lets get on with building your dream space, your way – The Huzzpa way . <br>
    We would be reaching out to you within the next 24 hrs . In the meanwhile explore us further.<br>
    The FAQ section should be able to answer to most of your queries .<br>
    We would love to talk to you on 080-395-12575 between 10:00 AM and 8:00 PM . Or your could also write to us at hello@huzzpa.com.<br>
  </p>
  <p>
    Thank you, <br>
    The Happy Huzzpa Team!! <br>
    http://www.huzzpa.com/ <br>
    https://www.facebook.com/Huzzpa/<br>
  </p>
