<!-- <div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <h1><%= @reciever.name %> </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
  </div>
  <br clear="all"/>
</div> -->
<div class="chatboxcontent">
  <% if @messages.any? %>
    <%= will_paginate @messages, page_links: false, renderer: BootstrapPagination::Rails %>
      <%= render @messages.sort_by(&:created_at) %>
  <% end %>

</div>
<div class="chatboxinput ">
  <div class="">
    <div class="">
      <%= form_for([@conversation, @message], :remote => true, :html => {class: 'frm_conversation', id: "conversation_form_#{@conversation.id}"}) do |f| %>
          <%= f.text_area :body, class: "chatboxtextarea chat_message", "data-cid" => @conversation.id , required: true %>
      <%# end %>
      <%#= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
          <%= f.attachment_field :images_files, multiple: true, presigned: true, id: "chat-choose" , class: "form-group chat-choose-#{@conversation.id}" , onclick: "reset_chat_choose()"%>
          <span id="" class="chat_image_upload_status chatuserImage"></span>
          <%#= f.text_area :body, class: "chatboxtextarea" ,  style: "#{'display:none'}" , placeholder: 'Enter Comment'%>
          <div class="chat-image-type">
            <div class=" ">
                <%= label_tag 'Type of Image', nil, class: ' '%> <br>
                <div class="col-md-6">
                  <%= f.radio_button :image_type, 'general' , checked: true , id: "radio_general_#{@conversation.id}", class: " radio_image_type with-font "%>
                  <label for="radio_general_<%= @conversation.id %>">General</label>
                </div>
                <div class="col-md-6">
                  <%= f.radio_button :image_type, 'mood_board' ,  id: "radio_mood_board_#{@conversation.id}" , class: " radio_image_type with-font"%>
                  <label for="radio_mood_board_<%= @conversation.id %>">Mood Board</label>
                </div>
                <div class="col-md-6">
                    <%= f.radio_button :image_type, 'design' , id: "radio_design_#{@conversation.id}" , class: " radio_image_type with-font"%>
                    <label for="radio_design_<%= @conversation.id %>">Design</label>
                </div>
                <div class="col-md-6">
                    <%= f.radio_button :image_type, 'quote' , id: "radio_quote_#{@conversation.id}" ,  class: " radio_image_type with-font"%>
                    <label for="radio_quote_<%= @conversation.id %>">Quote</label>
                </div>
            </div>
              <%= f.submit "Upload", class: 'org-btn4   btn  chat_upload ' %>
          </div>
          <%#= f.select :image_type, [['General','general'],['Mood Board','mood_board'] ,['Design','design'],['Quote','quote']],{:selected => 'general'}, {autofocus: 'false' , class: "form-control chat-image-type" , :prompt => "Placeholder"} %>
          <%#= f.text_area :body, class: "" %>
      <% end %>
    </div>
  </div>
</div>

<%= subscribe_to conversation_path(@conversation) %>

<script>

function reset_chat_choose() {
  $(this).val('');
}

// $("#chat-choose").on('click',function(){
//    $("#chat-choose").val('');
// });

$(document).on("upload:start", "form", function(e) {
  // document.getElementById("chat-choose").style.visibility = "hidden";
  var selectToHide = document.getElementsByClassName("chat-image-type");
  for(var i = 0; i < selectToHide.length; i++){ selectToHide[i].style.display = "block"; }
  });


$(".chatboxcontent" ).scroll(function() {
  var chatbox = $('#floatdiv .tab-pane.active .chatbox').attr("id")
  url = $("#"+chatbox + ' .pagination .next a').attr('href');
  if ($('#'+chatbox + ' .pagination').length) {
    if ( url && $("#"+chatbox + ' .chatboxcontent').scrollTop() < 50 ) {
      $("#"+chatbox + ' .pagination').text("Fetching Old Chats...");
        $.getScript(url);
    }
  }
});

$(".frm_conversation").on('ajax:success', function(e , data , status , xhr){
  console.log("succes");
  // // Reset File Choose previous
  $("#chat-choose").val('');
  $(".chat_message").val('');

  var selectToHide = document.getElementsByClassName("chat-image-type");
  for(var i = 0; i < selectToHide.length; i++){ selectToHide[i].style.display = "none"; }

  $(".chatboxinput  input[name='message[images_files][]']").val("");

  var img_uload_status = document.getElementsByClassName("chatuserImage");
  for(var i = 0; i < img_uload_status.length; i++){ img_uload_status[i].innerHTML=""; }

});

var ready;
ready = function() {
  var selectToHide = document.getElementsByClassName("chat-image-type");
  for(var i = 0; i < selectToHide.length; i++){ selectToHide[i].style.display = "none"; }


  $(document).on("upload:start", "form", function(e) {
    $(this).find("input[type=submit]").attr("disabled", true);
    $(".chatuserImage").text("Uploading...");
  });

  $(document).on("upload:progress", "form", function(e) {
    $(".chatuserImage").text("please wait while image uploads....");
    detail  = e.originalEvent.detail;
    percentComplete = Math.round(detail.loaded / detail.total * 100);
  });

  $(document).on("upload:complete", "form", function(e) {
    if (!$(this).find("input.uploading").length) {
      $(this).find("input[type=submit]").removeAttr("disabled");
    }
    $(".chatuserImage").text("image looks good!! click save at the end");
  });

}

$(document).ready(ready);
$(document).on('page:load', ready); // Loads javascript while loading page
</script>
