
$('#chatbox_'+<%=@conversation.id%>+'  .chatboxcontent').prepend('<%= j render(@messages.sort_by(&:created_at)) %>');

<% if @messages.next_page %>
  $('#chatbox_'+<%=@conversation.id%>+'  .pagination').replaceWith('<%= j will_paginate(@messages, page_links: false, renderer: BootstrapPagination::Rails) %>')
<% else %>
  $('#chatbox_'+<%=@conversation.id%>+'  .pagination').remove();
<% end %>
<% sleep 1 %>
