<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="admin-main-jumbo jumbotron common-font-all">
        <center>
          <% if current_user.vendor_profile.selection_no.to_i == 3 %>
            <p>You can only make 3 changes to your preferences.</p>
            <span>
              Please contact Admin to Unlock this feature.
            </span>
          <% else %>
          <div id="preference-image">
            <span class="main-sugg-hd2">What rooms are you interested in designing?<span>
            <hr class="myhr">
            <!-- <span class="admin-txt"> in few steps</span> -->
            <br>
            <div id="preference-image" class="preference-slider category-slider">
              <% @categories.each do |category|%>
                <div>
                  <%= image_tag attachment_url(category, :profile_image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: 'Select to view choices from the design library', data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %>
                  <br>
                  <div class="pref-content">
                    <div class="row">
                      <div class="col-md-6 mob-mg-btm">
                        <div class="admin-hd1"><%= category.name %></div>
                      </div><!--col-md-* end-->
                      <div class="col-md-6 mob-mg-btm">
                        <div class="filters">
                          <label>
                            <span class="chbox-txt">Interested</span>
                              <input type="radio" name="select-category" class="select-category" value="<%= category.id %>">
                            <span class="icon"><i class="fa fa-check reg-check"></i></span>
                          </label>
                        </div><!--Filter End-->
                      </div><!--col-md-* end-->
                    </div><!--row end-->
                  </div><!--pref-content-->
                </div><!--slide content-->
              <% end %>
            </div><!--preference slider-->
          </div>
            <div class="category-items"></div><br>
          <% end %>
        </center>
      </div><!--admin-main-jumbo-->
    </div>
  </div>
</div><!--container end-->

<!-- ########################################################################### -->
<% if !current_user.vendor_profile.preference_no.nil? %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="admin-main-jumbo jumbotron common-font-all">
          <div class="admin-hd1">My Preferences</div>
          <hr>
          <% if @prefer_details %>
            <% cat = nil %>
            <div class="selected_preference">
              <% @prefer_details.each_slice(4) do |cat_items| %>
                <div class="row">
                  <% cat_items.each do |cat_item|%>
                    <!-- <#% current_cat = cat_item.category.name %> -->
                    <!-- <h2><#%= current_cat unless cat == current_cat %></h2> -->
                    <!-- <#% cat = current_cat %> -->
                    <div class="col-sm-3 mob-mgbtm">
                      <div class="sugg-box img-thumbnail">
                        <%= image_tag attachment_url(cat_item, :image, :fill, 300, 300, format: "jpg"), class: 'port-img img-thumbnail' %>
                        <span class="hashtag">
                          <% if cat_item.tags.present? %>
                            <% cat_item.tags.each do |tag_id| %>
                              #<%= Tag.find(tag_id).name %>
                            <% end %>
                          <% else %>
                            NA
                          <% end %>
                        </span>
                      </div><!--sugg-box -->
                    </div>
                  <% end %>
                </div>
                <br>
              <% end %>
            </div>
          <% end %>
        </div><!--admin-main-jumbo-->
      </div>
    </div>
  </div><!--container end-->
<% end %>

  <script type="text/javascript">
    window.selectedCount = [];
  </script>
