<span class="main-sugg-hd2">Select atleast 3 images to help us get a sense of your taste!<span>
<hr class="myhr">
<div class="container">
  <% @category_items.each_slice(3) do |category_items| %>
    <div class="row">
      <% category_items.each do |category_item| %>
        <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
          <div class="sugg-box img-thumbnail">
            <div class="filters">
              <label>
                <%= image_tag attachment_url(category_item, :image, :fill, 300, 300, format: 'jpg'), rel: 'tooltip', title: 'Select multiple images to indicate preferences', data: { 'placement': 'bottom' }, class: "category-items port-img img-thumbnail"%><br>
                <span class="hashtag">
                  <% if category_item.tags.present? %>
                    <% category_item.tags.each do |tag_id| %>
                      #<%= Tag.find(tag_id).name %>
                    <% end %>
                  <% else %>
                    NA
                  <% end %>
                </span><br>
                  <input type="checkbox" class="select-image select-image-<%= category_item.id %>" onclick='selectImage("<%= category_item.id %>", "<%= @category.id %>", <% if @selected.include? category_item.id %>false<% else %>true<% end %>)' <% if @selected.include? category_item.id %>checked<% end %> >
                <span class="icon"><i class="fa fa-check reg-check"></i></span><span class="chbox-txt"> I Like it</span>
              </label>
            </div><!-- Filter End -->
          </div>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
</div>
<br>
<span class="next-btn"><button type="button" onclick="backToCategory();" rel="tooltip"  class="green-btn btn" name="button" data-toggle="tooltip" data-placement="bottom" title="Click here to select Images from another category">Proceed to Next category</button> &nbsp;</span>
<span class="finish-btn">
  <%= link_to '/vendor_preferences/?finish=true', rel: 'tooltip', title: 'Get the Matched User', data: { 'placement': 'bottom' }, class: 'org-btn2 pad-lr btn' do %>
    <center>Submit your selections</center>
  <% end %>
</span>
