<% cat = nil %>
<% @prefer_details.each do |cat_item| %>
  <% current_cat = cat_item.category.name %>
<h2><%= current_cat unless cat == current_cat %></h2>
  <%  cat = current_cat %>
  <%= cat_item.description %>
  <% end %>
