<%= form_for(@chat_datum) do |f| %>
  <% if @chat_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_datum.errors.count, "error") %> prohibited this chat_datum from being saved:</h2>

      <ul>
      <% @chat_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
