<div class="container " >
<% @chat_images.each_slice(3) do |chat_images| %>
  <div class="row">
    <% chat_images.each do |chat_image| %>
      <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
        <div class="sugg-box img-thumbnail">
          <div class="filters">

              <%= image_tag attachment_url(chat_image, :file, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: 'Click to zoom or Download Image', data: { 'placement': 'bottom'  }, class: 'port-img img-thumbnail img-pop mytooltip' %><br>
              <div class="message_content">
                <%= get_message(chat_image.message_id) %>
              </div>
              <div class="message_download_btn">
                <%= link_to 'Download File', attachment_url(chat_image, :file , filename: "File" ) , target: '_blank' , class: "download_file"  %>
              </div>
          </div><!-- Filter End -->
        </div>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
</div>

<script type="text/javascript">
  //Image popup
  $('img').on('click',function(){
      var sr=$(this).attr('src');
     $('#mimg').attr('src',sr);
     $('#myModal').modal('show');
  });
</script>
