<div class="container" >
  <div class="row" >
    <div class="col-md-12">
      <div class="admin-main-jumbo jumbotron " id="chat-history-container">
        <ul class="nav nav-tabs row" id="board_header">
          <% if current_user.role == "user"%>
            <li class="  col-md-offset-3  "><a href="#general" class="common-font-color" data-toggle="tab" onclick="populate_image('general')" >General</a></li>
            <li class="  "><a href="#mood_board" class="common-font-color" data-toggle="tab" onclick="populate_image('mood_board')" >Mood Board</a></li>
            <li class=" "><a href="#design" class="common-font-color" data-toggle="tab" onclick="populate_image('design')" >Design</a></li>
            <li class=" "><a href="#quote" class="common-font-color" data-toggle="tab" onclick="populate_image('quote')" >Quote</a></li>
            <li class="   col-md-offset-2 hidden-xs">
              <%  if @hash_vendor_id_conv_id.present?%>
                  <a class="common-font-color chat_hd " >  Project in: <span id="project_phase"> <%= Conversation.find(@first_conv_id).status.name %>  Phase </span> </a>
              <% else %>
                <a class="common-font-color chat_hd " > Chat Not Started!</a>
              <% end %>
            </li>
          <% elsif current_user.role == "vendor" %>
            <li class=" col-md-offset-2  "><a href="#general" class="common-font-color" data-toggle="tab" onclick="populate_image('general')" >General</a></li>
            <li class=" "><a href="#mood_board" class="common-font-color" data-toggle="tab" onclick="populate_image('mood_board')" >Mood Board</a></li>
            <li class=" "><a href="#design" class="common-font-color" data-toggle="tab" onclick="populate_image('design')" >Design</a></li>
            <li class=" "><a href="#quote" class="common-font-color" data-toggle="tab" onclick="populate_image('quote')" >Quote</a></li>
            <li class=" "><a href="#client" class="common-font-color" data-toggle="tab" onclick="get_user_profile()" >Client Profile</a></li>
            <li class=" hidden-xs ">
              <% if  @hash_vendor_id_conv_id.present?%>
                <a class="common-font-color vendor_chat_hd " > Project in: <span id="project_phase">
                  <%= collection_select(:post, :chat_status, @status.all, :id, :name,  options = {include_blank: false, :selected =>  Conversation.find(@first_conv_id).status_id } , html_options = {:onchange => "updateChatStatus(this , #{@first_conv_id})" , class: "change_state_btn "}) %>
                  Phase </span> </a>
              <% else %>
                <a class="common-font-color chat_hd " > Chat Not Started!</a>
              <% end %>
            </li>
          <% end %>
        </ul>
        <p id="mynotice"></p>

        <% if current_user.role == "user" %>
          <div class="container row">
            <div class="col-md-2 col-lg-2">
              <ul class="nav nav-pills nav-stacked user_name_nav">
                <% @chat_access_allowed.each_with_index do |t,index| %>
                  <li data-userid = "<%= t.vendor_profile.vendor.id %>"  <% if index == 0 %> class = "active" <% end %>  >
                    <a data-toggle="tab" class="vendor_name common-font-color" href="#<%= t.vendor_profile.vendor.id %>" onclick="reset_active() , get_project_phase(<%= t.vendor_profile.vendor.id %>)" >
                      <div class="row">
                        <div class="col-sm-3">
                          <% if !t.vendor_profile.profile_image_id.nil?%>
                            <%= image_tag attachment_url(t.vendor_profile, :profile_image, :fill, 30, 30, format: 'png'), class: 'img-circle', title: 'Profile Image' %>
                          <% else %>
                            <%= image_tag("default.png", size: "30x30" , class: ' img-circle' ) %>
                          <% end %>
                        </div>
                        <div class="col-sm-9 chat-user-name">
                          <%= t.vendor_profile.vendor.name %>
                        </div>
                      </div>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="tab-content col-md-10 col-lg-10">
              <div class="tab-content" id="board_content">
                  <div class="tab-pane  general tab-content" id="general"></div>
                  <div class="tab-pane mood_board tab-content" id="mood_board"></div>
                  <div class="tab-pane design tab-content" id="design" ></div>
                  <div class="tab-pane quote tab-content" id="quote" ></div>
              </div>
            </div>
          </div>
        <% elsif current_user.role == "vendor" %>

          <div class="container row">
            <div class="col-md-2 col-lg-2">
              <ul class="nav nav-pills nav-stacked user_name_nav ">
                <% @chat_access_allowed.each_with_index do |t,index| %>
                    <li  data-userid = "<%= t.user_id %>" <% if index == 0 %> class = "active " <% end %> >
                     <a data-toggle="tab" class="user_name common-font-color " href="#<%= t.user_id %>" onclick="reset_active() , get_project_phase_for_dropdown(<%= t.user_id %>)" >
                       <div class="row">
                         <div class="col-sm-3">
                         <% if !t.user.user_profile.profile_image_id.nil?%>
                           <%= image_tag attachment_url(current_user.vendor_profile, :profile_image, :fill, 30, 30, format: 'png'), class: ' img-circle', title: 'Profile Image' %>
                         <% else %>
                           <%= image_tag("default.png", size: "30x30" , class: ' img-circle' )%>
                         <% end %>
                         </div>
                         <div class="col-sm-9 chat-user-name">
                           <%= t.user.name %>
                         </div>
                       </div>
                     </a>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="tab-content col-md-10 col-lg-10">
                <div class="tab-content" id="board_content">
                    <div class="tab-pane  general tab-content" id="general"></div>
                    <div class="tab-pane mood_board tab-content" id="mood_board"></div>
                    <div class="tab-pane design tab-content" id="design" ></div>
                    <div class="tab-pane quote tab-content" id="quote" ></div>
                    <div class="tab-pane client tab-content" id="client" ></div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<%#= link_to 'New Chat datum', new_chat_datum_path %>
