<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-category">
          <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseCategory" aria-expanded="false" aria-controls="collapseOne">
            <h5 class="panel-title">
              <a role="button" >
                Category
              </a>
            </h5>
          </div>
          <div id="collapseCategory" class="panel-collapse  " role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <% @categories.each do |categ| %>
                <input type="checkbox" class="categ_check" id="<%= categ.name %>" name="<%= categ.name %>" value="<%= categ.id %>">
                <label for="<%= categ.name %>"><%= categ.name %></label>
                <br>
              <% end %>

            </div>
          </div>
        </div>

        <div class="panel panel-price">
          <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapsePrice" aria-expanded="false" aria-controls="collapseOne">
            <h5 class="panel-title">
              <a role="button" >
                Price
              </a>
            </h5>
          </div>
          <div id="collapsePrice" class="panel-collapse  " role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="">
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly>
                </p>
              </div>
              <div id="slider-range"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 " id="products_div">
      <%= render 'show_products' %>
    </div>
  </div>
</div>
