<p id="chataccessnotice"></p>
<center><h4 class="exper">We think these designers are best matched for your taste & style!.</h4></center>
<center><h4 class="exper">Connect with your favorite designer now!</h4></center>
<br>
<%# if @vendors.count == 1 then count_is_less = true else count_is_less = false end %>
<% @vendors.each_slice(2) do |vendors| %>
  <div class="row">
    <div class="col-md-offset-1  col-md-10">
    <%# i = 0 %>
    <% vendors.each do |vendor|%>
      <% vendor_budget = vendor.vendor_profile.price_range.to_i %>
        <% if @vendors.count < 2 %>
          <div class=" col-sm-offset-3 col-sm-6 mob-mgbtm filter-budget" data-budget="<%= vendor_budget %>">
        <% else %>
          <div class="col-sm-6 mob-mgbtm filter-budget" data-budget="<%= vendor_budget %>" >
        <% end %>

          <%= link_to public_vendor_profiles_path(vendor) do %>
            <div class="sugg-box img-thumbnail text_cl matched_vendors_sugg_box">
              <div class="row">
                <div class="col-md-offset-0 col-md-4 col-xs-offset-3 col-xs-6">
                  <% if !vendor.vendor_profile.profile_image_id.nil? %>
                    <%= image_tag attachment_url(vendor.vendor_profile, :profile_image, :fill, 100, 100, format: 'png'), class: 'prof-img img-circle' %>
                  <% else %>
                    <%= image_tag "default.png", class: 'default_img prof-img img-circle' , height: "100px" , width: "100px" %>
                  <% end %>
                  <br>
                </div>
                <div class="col-md-8 col-xs-12 vendor_detail">
                  <span class="suggbox-hd1"><%= vendor.name %></span>
                  <br>
                  <span class="place"><%= if !vendor.vendor_profile.experience.present? then 'Expreience Not Mentioned' else "#{vendor.vendor_profile.experience} yrs. of experience" end %> </span>
                  <!-- <span class="suggbox-txt1"><#%= vendor.vendor_profile.address %></span> -->
                  <br>
                  <span>Minimum Budget:</span>
                  <span class="exper">
                    <% if vendor_budget == 0 %>
                      <%= 'Not Mentioned' %>
                    <% elsif vendor_budget < 2000000 %>
                      <%= "Under #{vendor_budget}" %>
                    <% else %>
                      <%= "Above #{vendor_budget}" %>
                    <% end %>
                  </span>
                </div>
              </div>
              <br>
              <span>

                <div class="">
                  <%= button_tag(type: 'submit', class: 'sm-green-btn btn col-md-6 mytooltip ' , rel: 'tooltip' ,  title: 'View Professional Profile' , data: { 'placement': 'bottom' }) do %>
                    View Profile &nbsp;<i class="fa fa-user"> </i>
                  <% end %>
                  <a href="#" onClick="return false" >
                    <% chat_access = get_chat_access(vendor.id) %>
                    <% if chat_access.present? %>
                      <% if chat_access[0].status %>
                          <label id="chat_allowed_lable" for="" class="mytooltip btn sm-green-btn col-md-6  pull-right" data-toggle="tooltip" data-placement="bottom" title="Approved from Admin to Chat and Share images with Professionals" ><i class="fa fa-check" aria-hidden="true"></i> Connected</label>
                      <% else %>
                        <label id="chat_waiting_req_lable" for="" class="mytooltip btn btn-warning col-md-6 lbl-waiting  pull-right" data-toggle="tooltip" data-placement="bottom" title="Waiting for Admin to approve your request to Connect with our Professionals"  ><i class="fa fa-exclamation" aria-hidden="true"></i> Waiting </label>
                      <% end %>
                    <% else %>
                      <%= button_tag(type: 'button',:onclick =>"chat_request_designer(#{vendor.id})" , id: "chat_request_btn#{vendor.id}" , class: 'mytooltip sm-green-btn btn col-md-6  pull-right connect-profile-btn' , rel: 'tooltip' ,  title: ' Request for connect to The Professional' , data: { 'placement': 'bottom' }) do %>
                        Connect &nbsp;<i class="fa fa-paper-plane"> </i>
                       <% end %>
                    <% end %>
                    <!-- <button type="button"  class="btn btn-warning col-md-6  pull-right" name="button">Waiting for Approve</button> -->
                  </a>
                </div>
              </span>

            </div><!--sugg-box-->
          <% end %>
        </div> <!--close dive of the dive selected in if tag not closed above-->
      <%# i = 1 %>
    <% end %>
  </div>
  </div>
  <br>
<% end %>
