<div id="products_view">

<% @products.each_slice(3) do |products| %>
  <div class="row">
    <% products.each do |product| %>
      <% if @products.count == 1 %>
          <div class="col-sm-12 mob-mgbtm categ_id<%= product.category_id %> price_<% if product.price.present? %><%= product.price %><% else %><%=0%><% end %>" id="<%= product.id %>" >
      <% elsif  @products.count == 2  %>
          <div class="col-sm-6 mob-mgbtm categ_id<%= product.category_id %> price_<% if product.price.present? %><%= product.price %><% else %><%=0%><% end %>" id="<%= product.id %>" >
      <% else %>
          <div class="col-sm-4 mob-mgbtm categ_id<%= product.category_id %> price_<% if product.price.present? %><%= product.price %><% else %><%=0%><% end %>" id="<%= product.id %>" >
      <% end %>
        <a href="/products/<%=product.id%>" class="font_color" >
        <div class="sugg-box img-thumbnail">
          <div class="filters">
            <label>
              <%= image_tag attachment_url(product, :product_image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: product.description , data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %><br>
              <br>
              <div >
                <div class="col-md-9">
                  <span class="productbox-hd1 product_id" data-product-id= "<%= product.id %>" ><%= product.name %></span><br>
                  <span>Price:</span>
                  <span class="exper price" data-price="<% if product.price.present? %><%= product.price %><% else %><%=0%><% end %>">
                    <% if product.price.present? %>
                      <%= product.price %> INR
                    <% else %>
                      <%= 'Not Mentioned' %>
                    <% end %>
                  </span><br>
                  <span class="sold_by">Sold By: <%= product.seller %></span>
                </div>
                <div class="col-md-3">
                  <%#= check_box_tag 'category_item_id[]', questioner.category_item.id -%>
                  <a href="#" onClick="return false">
                    <i class="fav_icon fa  fa-2x fav<%= product.id %>
                        <% if @fav_prod_id.include? product.id %>
                          <%= "fa-heart" %>
                          <% else %>
                          <%= "fa-heart-o" %>
                          <% end %>
                        " aria-hidden="true" onclick="set_favourate(<%= product.id %>)"></i>
                    </a>
                </div>
              </div>
            </label>
          </div><!-- Filter End -->
        </div><!--img-thumbnail End-->
      </a>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
</div>
