<% if user_signed_in? && current_user.guest %>
  <br>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="admin-main-jumbo jumbotron ">
        <%= link_to preferences_path do %>
          <!-- <span class="main-sugg-hd1">Preferences </span> -->
        <% end %>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="sugg_rec_nav">
          <li role="presentation" id="sugg_li" class="<%= 'active' if params[:tab]  != 'recom' %> suggest_proff col-xs-6 col-md-4"><a href="#sugg_prof" aria-controls="sugg_prof" role="tab" data-toggle="tab" id="sugg_header" class="main-sugg-hd2">Suggested Professionals</a></li>
          <li role="presentation" id="max-price" class="<%= 'active' if params[:tab] == 'recom' %> recommendation col-xs-6 col-md-4" data-max-price="<%= @max_price%>" ><a href="#recom" aria-controls="recom" role="tab" id="reco_header" data-toggle="tab" class="main-sugg-hd2">Recommendations</a></li>
          <li class="pull-right hidden-xs hidden-sm col-md-4" id="choose_budget">
            <label for="choose_budget" class="choose_budget_text">Your budget </label>
            <span class=" ">
              <div class="form-group pull-right">

                <select class="form-control budget_dropdown" id="budget">
                  <option value="">Select</option>
                  <option value="500000">5 lac and Under</option>
                  <option value="1000000">10 lac and Under</option>
                  <option value="1500000">15 lac and Under</option>
                  <option value="2000000">Above 15 lac</option>
                </select>
              </div>
            </span>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab]  != 'recom' %> " id="sugg_prof"> <%= render 'get_matched_vendor' %> </div>
          <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab]  == 'recom' %> " id="recom"> <%= render 'get_products' %> </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71174259-1', 'huzzpa.com');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
function chat_request (id) {
  $.ajax({
          type: "get",
          url: "/matched_vendors/chat_request",
          dataType: "json",
          data: { vendor_id: id },
          success: function(data){
          },
          error: function (err){
          }
        });
}

</script>
