<%= form_for(@type) do |f| %>
  <% if @type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, @type.category_id), { prompt: 'Select category' }, class: 'login-intxt form-control' , required: true  %>
  </div>
<br>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'login-intxt form-control full-width' , required: true  %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Create", class: 'org-btn2 pad-btn btn' %><span> <%= link_to 'Cancel', types_path, class: 'cancel-btn pad-btn btn' %></span>
  </div>
<% end %>
