<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Category Items</div>
      <hr>
      <%= link_to 'Add more', new_type_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @types.each do |type| %>
            <tr>
              <td><%= type.name %></td>
              <td><%= type.category.name %></td>
              <!-- <td><#%= link_to 'Show', type %></td> -->
              <td><%= link_to 'Edit', edit_type_path(type) %></td>
              <td><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
