<%= form_for(@vendor_profile) do |f| %>
  <% if @vendor_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_profile.errors.count, "error") %> prohibited this vendor_profile from being saved:</h2>
      <ul>
      <% @vendor_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt">Company Name</span><br>
      <%= f.text_field :company, placeholder: 'Company', class: 'admin-intxt2 form-control' %>
    </div><!--col-sm-* end-->
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt">Company Website</span><br>
      <%= f.text_field :website, placeholder: 'website of the company', class: 'admin-intxt2 form-control' %>
    </div><!--col-sm-* end-->
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt">Profile Image</span><br>
      <%= f.attachment_field :profile_image, direct: true, presigned: true, class: 'admin-intxt2 form-group' %>
      <span id="vendorImage" class="hashtag"></span>
      <!-- <img src="" height="200" alt="Image preview..."> -->
    </div><!--col-sm-* end-->
  </div><!--row end-->
  <br>
  <div class="row">
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt2">Your Price Range</span><br>
        <%= f.select(:price_range, options_for_select([['5 lac & under', 500000], ['10 lac & under', 1000000], ['15 lac & under', 1500000], ['15 lac & above', 2000000]], @vendor_profile.price_range),{include_blank: "Select Price Range"}, class: 'admin-intxt2 form-control', required: true) %>
    </div><!--col-sm-* end-->
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt2">Experience</span><br>
        <%= f.select(:experience, options_for_select([['1 yr.', 1], ['2 yrs.', 2], ['3 yrs.', 3], ['4 yrs.', 4], ['5 yrs.', 5], ['6 yrs.', 6], ['7 yrs.', 7], ['8 yrs.', 8],['9 yrs.', 9], ['10+ yrs.', 10]], @vendor_profile.experience),{include_blank: "Select"}, class: 'admin-intxt2 form-control') %>
    </div><!--col-sm-* end-->
  </div><!--row end-->
  <br>
  <div class="row">
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt">Address</span><br>
      <%= f.text_area :address, class: 'admin-intxt2 form-control' %>
    </div><!--col-sm-* end-->
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt2">City</span><br>
        <%= f.select(:city, options_for_select([['Bangalore', 'Bangalore'], ['Chennai', 'Chennai'], ['Delhi', 'Delhi'], ['Hyderabad', 'Hyderabad'], ['Mumbai', 'Mumbai']], @vendor_profile.city),{include_blank: "Select your city"}, class: 'admin-intxt2 form-control', required: true) %>
    </div><!--col-sm-* end-->
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt">Pincode</span><br>
      <%= f.text_field :pincode, placeholder: 'pincode', type: 'number', class: 'admin-intxt2 form-control' %>
    </div><!--col-sm-* end-->
  </div>
  <br>
  <span class="admin-txt">About</span><br>
  <%= f.text_area :about, placeholder: 'Something interesting about you', class: 'admin-txtarea form-control', rows: '10' %>
  <!-- <span id="countchars"></span> -->
  <br><br>
  <div class="actions">
    <%= f.submit 'Save', class: 'org-btn2 btn' %>
    <%= link_to 'Cancel', vendor_profile_path(current_user.vendor_profile), class: 'grey-btn btn' %>
  </div>
<% end %>
