<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">Edit Profile</div>
    <hr>
    <br>
      <%= render 'form' %>
</div><!--admin-main-jumbo-->
</div><!--container end-->
