<p id="notice"><%= notice %></p>

<h1>Listing Vendor Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>About</th>
      <th>Address</th>
      <th>Vendor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_profiles.each do |vendor_profile| %>
      <tr>
        <td><%= image_tag attachment_url(vendor_profile, :profile_image, :fill, 50, 50, format: 'jpg') %></td>
        <td><%= vendor_profile.company %></td>
        <td><%= vendor_profile.about %></td>
        <td><%= vendor_profile.address %></td>
        <td><%#= vendor_profile.vendor_id %></td>
        <td><%= link_to 'Show', vendor_profile %></td>
        <td><%= link_to 'Edit', edit_vendor_profile_path(vendor_profile) %></td>
        <td><%= link_to 'Destroy', vendor_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor profile', new_vendor_profile_path %>
