<!-- <#% @vendor_details.each do |vendor| %> -->
<% @title = "Huzzpa interior |Team |bangalore |mumbai" %>
<% @description= "We have passionate, knowledgeable and experienced interior design professionals are design excellence are committed to create customized   space with the undying spirit of collaboration and a practice of innovation" %>
  <div class="container">
    <div class="admin-main-jumbo jumbotron">
      <br><p id="notice"><%= notice %></p>
      <!-- <a href="interests"><span class="main-sugg-hd1">Interests /</span></a> -->
        <% if user_signed_in? && current_user.role == 'user' %>
          <%= link_to matched_vendors_path, class: ''  do %>
            <span class="main-sugg-hd1">Suggested Professionals /</span>
          <% end %>
        <% else %>
          <%= link_to all_vendor_works_path do %>
            <span class="main-sugg-hd1"> Back /</span>
          <% end %>
        <% end %>
      <span class="main-sugg-hd2"><%= @vendor_details.name %>'s Profile</span>

      <!-- <a href="suggvendors"></a> -->
      <!-- <a href="vendorsprofile"><span class="main-sugg-hd2">Madagascar</span></a> -->
      <hr class="myhr">
      <br>
      <div class="row">
        <div class="col-md-2" oncontextmenu="return false;">
          <% if !@vendor_details.vendor_profile.profile_image_id.nil?%>
            <%= image_tag attachment_url(@vendor_details.vendor_profile, :profile_image, :fill, 500, 500, format: 'png'), class: 'vendor-prof-img' %>
          <% else %>
            <%= image_tag "default.png",size: "200x200", class: ' thumbnail admin-prof-img'%>
          <% end %>
        </div>
        <div class="col-md-8">

          <div class="row">
            <div class="col-md-6 mob-mgbtm2">
              <div class="sugg-hd1"><%= @vendor_details.name %></div>
              <br>
              <span class="sugg-txt1">Location:</span><span class="sugg-txt2"><%= @vendor_details.vendor_profile.address %></span>
              <br><br>
              <span class="sugg-txt1">Company Name:</span><span class="sugg-txt2"><%= @vendor_details.vendor_profile.company %></span>
              <br><br>
              <span class="sugg-txt1">Experience:</span><span class="sugg-txt2"><%= @vendor_details.vendor_profile.experience %> yrs.</span>
            </div><!--div.col-md-* end-->
            <div class="col-md-6 mob-mgbtm2">
              <span class="sugg-txt1 pull-right">
                <!-- Allow connect only if user is signed in -->
                <% if user_signed_in? %>
                  <% chat_access = get_chat_access(@vendor_details.id) %>
                  <% if chat_access.present? %>
                    <% if chat_access[0].status %>
                        <label id="chat_allowed_lable" for="" class="btn vendor-sm-green-btn " >Connected for Chat</label>
                    <% else %>
                      <label id="chat_waiting_req_lable" for="" class="btn btn-warning" >Chat Requested</label>
                    <% end %>
                  <% else %>
                    <!-- Connect button for users -->
                    <%= form_tag(controller: "matched_vendors", action: "connect") do %>
                      <%= hidden_field_tag(:vendor_id, "#{@vendor_details.id}") %>
                      <span><%= button_tag(type: 'submit', class: 'green-btn btn pad-btn') do %>
                            Lets Connect &nbsp;<i class="fa fa-paper-plane"> </i>
                            <% end %>
                      </span>
                    <% end %>
                  <% end %>
                <% end %>
              </span>
              <!-- <span class="sugg-txt1">Website:</span><span class="sugg-txt2"><#%= vendor.vendor_profile.website %></span>
              <br><br>
              <span class="sugg-txt1">Email:</span><span class="sugg-txt2"><#%= vendor.email %></span>
              <br><br>
              <span class="sugg-txt1">Contact:</span><span class="sugg-txt2"><#%= vendor.phone %></span> -->
            </div>
            <!--div.col-md-* end-->
          </div><!--inner row-->
          <hr class="myhr">
          <div class="sugg-hd2">About Professional</div>
          <span class="admin-txt">
            <%= @vendor_details.vendor_profile.about %>
          </span>
          <br><br>
        </div><!--div.col-md-* end-->
      </div>
      <br><br>
      <div class="row" oncontextmenu="return false;">
        <div class="col-md-10 col-md-offset-1">
          <div class="vendor-public-preference-slider">
            <% @vendor_details.vendor_works.each do |vendor_works| %>
              <% vendor_works.vendor_portfolio_images.each do |images|%>
                <div>
                  <%= attachment_image_tag(images, :file, :fill, 500, 500, {class: 'exp-img port-img img-thumbnail'})%>
                  <br>
                </div><!--slide content-->
              <% end %>
            <% end %>
          </div><!--preference slider-->
        </div>
      </div>
    </div>
  </div>
<!-- <#% end %> -->
