<!-- <#%= image_tag attachment_url(@vendor_profile, :profile_image, :fill, 50, 50, format: 'jpg') %> -->

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="admin-main-jumbo jumbotron">
        <div class="admin-hd1">About</div>
        <hr>
        <span class="admin-txt2">
          <%= @vendor_profile.about %>
        </span>
      </div><!--admin-main-jumbo-->
    </div><!--col-md-* end-->
    <div class="col-md-5">
      <div class="admin-main-jumbo jumbotron">
        <div class="admin-hd1">Company</div>
        <hr>
        <table class="prof-comp-table">
          <tr>
            <td><i class="fa fa-briefcase"></i></td>
            <td><%= @vendor_profile.company %></td>
          </tr>
          <tr>
            <td><i class="fa fa-map-marker"></i></td>
            <td><%= @vendor_profile.address %></td>
          </tr>
          <tr>
            <td><i class="fa fa-map-marker"></i></td>
            <td><%= @vendor_profile.pincode %></td>
          </tr>
          <tr>
            <td><i class="fa fa-globe"></i></td>
            <td><%= @vendor_profile.website %></td>
          </tr>
        </table>
      </div><!--admin-main-jumbo-->
    </div><!--col-md-* end-->
  </div><!--row end-->
</div><!--container end-->
