<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <h2>Editing Category Item</h2>
        <hr>
        <%= form_for(@category_item) do |f| %>
          <% if @category_item.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@category_item.errors.count, "error") %> prohibited this category_item from being saved:</h2>

              <ul>
              <% @category_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :category_id %><br>
            <%= f.select :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, @category_item.category_id), { prompt: 'Select category' }, class: 'category-item login-intxt form-control' , :required => true %>
          </div>
          <br>
          <div class="field">
            <%= f.label :image %>(Optional)<br>
            <%= f.attachment_field :image, direct: true, presigned: true, class: 'login-intxt form-group'  %>
          </div>
          <br>
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description, placeholder: 'Description', class: 'login-intxt full-width form-control' %>
          </div>
          <div class="field">
            <%= f.label :tags %><br>
            <!-- <%#= f.select :category_id, options_for_select(Tag.all.collect { |t| [t.name, t.id] }, @category_item.category_id), { prompt: 'Select category' }, :multiple => true , class: 'category-item login-intxt form-control' %><br><br> -->
            <div class="btn-group" data-toggle="buttons">
              <% @tags.each do |tag| %>
                <% if  @category_item.tags.present? %>
                  <% if @category_item.tags.include? tag.id.to_s %>
                    <label class="btn btn-default client-req-frm  active">
                      <%= f.check_box_tag 'category_item[tags][]' , tag.id ,  :checked => true %> <%= tag.name %>
                    </label>
                  <% else %>
                      <label class="btn btn-default client-req-frm ">
                        <%= f.check_box_tag 'category_item[tags][]' , tag.id %> <%= tag.name %>
                      </label>
                  <% end %>
                <% else %>
                  <label class="btn btn-default client-req-frm ">
                    <%= f.check_box_tag 'category_item[tags][]' , tag.id %> <%= tag.name %>
                  </label>
                <% end %>
              <% end %>


            </div>
            <%#= f.text_area :tags, value: @category_item.tags.to_a.join(', '), class: 'login-intxt form-control' %>
          </div>
          <br>
          <div class="field">
            <%= f.label "Choose Sub Category" %><br>
            <%= f.select :type_id, options_for_select(Type.where(category_id: @category_item.category_id).collect { |c| [c.name, c.id] }, @category_item.category_id), { prompt: 'Select type' }, class: 'category-type login-intxt form-control' %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit"Update", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', category_items_path, class: 'cancel-btn pad-btn btn' %></span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<br><br>
