<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Category Items</div>
      <hr>
      <span class="">
        <div class="form-group pull-right">
          <label for="sel1">Select Category:</label>
          <select class="form-control" id="category">
            <option value="all">Select</option>
            <option value="all">All</option>
            <% @categories.each do |category| %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% end %>
          </select>
        </div>
      </span>
      <%= link_to 'Add more', new_category_item_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Type</th>
            <th>Category</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @category_items.each do |category_item| %>
            <tr class="filter-category" data-category="<%= category_item.category.name %>">
              <td class="sugg-box img-thumbnail"><%= image_tag attachment_url(category_item, :image, :fill, 100, 100, format: 'jpg') %></td>
              <td><%= category_item.description %></td>
              <td><%#= category_item.tags.to_a.join(', ') %>
                <% if category_item.tags.present? %>
                  <% category_item.tags.each do |tag_id| %>
                    #<%= Tag.find(tag_id).name %>
                  <% end %>
                <% else %>
                  NA
                <% end %>
              </td>
              <td><% unless category_item.type.nil? %> <%= category_item.type.name %> <% end %></td>
              <td><%= category_item.category.name %></td>
              <!-- <td><#%= link_to 'Show', category_item %></td> -->
              <td><%= link_to 'Edit', edit_category_item_path(category_item) %></td>
              <!-- <td><%#= link_to 'Destroy', category_item, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%#= will_paginate @category_items, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>
      </center>
    </div>
  </div>
<br>
