<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag attachment_url(@category_item, :image, :fill, 50, 50, format: 'jpg') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category_item.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @category_item.tags.join(', ') %>
</p>

<% unless @category_item.type_id.nil? %>
  <p>
    <strong>Type:</strong>
    <%= Type.find_by(id: @category_item.type_id).name %>
  </p>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @category_item.category.name %>
</p>

<%= link_to 'Edit', edit_category_item_path(@category_item) %> |
<%= link_to 'Back', category_items_path %>
