<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-mymd-offset-3 col-md-5">
      <div class="login-box">
        <div class="login-logo-div">
          <%= image_tag("icons/user.png", class: 'login-logo')%>
        </div>
        <br><br>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <legend>Change your password</legend>
          <%= f.hidden_field :reset_password_token %>
          <%= f.label :password, "New password" %>
          <% if @minimum_password_length %>
          <em class="text-muted">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autofocus: true, class: 'login-box-width login-intxt form-control', autocomplete: "off" %><br>
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, class: 'login-box-width login-intxt form-control', autocomplete: "off" %><br><br>
          <%= f.submit "Change my password", class: 'org-btn2 pad-btn btn' %><br>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<br/><br/>
