<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-mymd-offset-3 col-md-5">
      <div class="login-box">
        <div class="login-logo-div">
          <%= image_tag("icons/user.png", class: 'login-logo')%>
        </div>
        <br><br>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <legend>Forgot your password?</legend>
            <%= f.email_field :email, placeholder: 'Email', class: 'login-box-width login-intxt form-control', autofocus: true %><br><br>

            <%= f.submit "Send me reset password instructions", class: 'org-btn2 pad-btn btn' %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<br><br>
