<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <h2>Editing Project</h2>
        <hr>

        <%= form_for(@huzzpa_work) do |f| %>
          <% if @huzzpa_work.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@huzzpa_work.errors.count, "error") %> prohibited this category from being saved:</h2>

              <ul>
              <% @huzzpa_work.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label 'Logo' %> (Optional)<br>
            <%= f.attachment_field :logo, direct: true, presigned: true  , class: 'form-group' %> <br>
          </div>
          <div class="field">
            <%= f.label 'Project Image' %> (Optional)<br>
            <%= f.attachment_field :project_images_files, multiple: true, presigned: true, direct: true , class: 'form-group' %> <br>
          </div>
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'login-intxt form-control full-width' , required: true %><br><br>
          </div>
          <div class="field">
            <%= f.label :location %><br>
            <%= f.text_field :location, class: 'login-intxt form-control full-width' , required: true %><br><br>
          </div>
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description, class: 'login-intxt form-control full-width' %><br><br>
          </div>
          <div class="actions">
            <%= f.submit "Create", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', huzzpa_works_path, class: 'cancel-btn pad-btn btn' %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br><br>
