
<%#= link_to 'New Huzzpa work', new_huzzpa_work_path %>

<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Huzzpa Works</div>
      <hr>
    <%= link_to 'Add more', new_huzzpa_work_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Images</th>
            <th>Project Name</th>
            <th>Location</th>
            <th>Description</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @huzzpa_works.each do |huzzpa_work| %>
            <tr>
              <td class=" "><%= image_tag attachment_url(huzzpa_work, :logo, :fill, 75, 50, format: 'jpg') %></td>
              <td class=" ">
                <%#= image_tag attachment_url(huzzpa_work, :image, :fill, 100, 100, format: 'jpg') %>

                <% ProjectImage.where(huzzpa_work_id: huzzpa_work.id).each do |i| %>
                  <%= attachment_image_tag(i, :file, :fill, 50, 50) %>
                <% end %>
              </td>
              <td><%= huzzpa_work.name %></td>
              <td><%= huzzpa_work.location %></td>
              <td><%= huzzpa_work.description %></td>
              <td><%= link_to 'Edit', edit_huzzpa_work_path(huzzpa_work) %></td>
              <!-- <td><%#= link_to 'Show', huzzpa_work_path(huzzpa_work)%> -->
              <td><%= link_to 'Destroy', huzzpa_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= will_paginate @huzzpa_works, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>
      </center>
  </div>
</div>



<br>
