<!-- <#% content_for(:body_attributes) do %>
   ##data-no-turbolink="true"
 <#% end %> -->
<% @title = "Best Interior Decorator Bangalore | Interior Designer Mumbai" %>
<% @description= "Best Interior Decorators in Bangalore. Get best designs to bring your dream home to life with Huzzpa, best interior designers in Mumbai & Bangalore." %>
<% @keyword = 'best interior decorator bangalore, interior designer mumbai, interiors designs ideas'%>
 <br><br>
     <div class="main-content">
       <center>
         <div class="home-hd1">
           Make your house a home with Huzzpa
         </div>
         <br>
         <%= link_to 'Get Started', guests_path, method: :post, class: 'org-btn2 btn mg-btn' %>
         <div class="home-txt1">
           <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. -->
         </div>
       </center>
     </div><!--main-content end-->
   </div><!--main-jumbo end-->
   <div class="jumbo1 jumbotron">
     <div class="container">
       <center>
         <div class="jumbo1-hd">
           <h1>Best Interior Decorators</h1>
         </div>
       </center>
       <br><br>
       <div class="row">
         <div class="col-md-8 mob-mgbtm">
           <div class="about-us-txt">
             We are a platform for enabling space and interior design, space planning and
             project execution spanning into both residential and commercial segments.
             We bring to you bespoke hand-picked Designers, Architects, Project
             execution teams and resources enabling you to create beautiful, functional
             and elegant spaces and forms.<br><br>

             So be it the bedroom room where you snooze on the lazy Sunday
             afternoons waking up to the echoes of fun and laughter, the kitchen with the
             lingering whiffs of the glass-jarred marmalade and the perfectly burnt toast or
             be it the welcoming living room with design and forms reflective of your
             aspirations and uniqueness - We breathe in the chutzpah of life into your
             spaces - with our “Handcrafted & Machine crafted”- with thought solutions.<br><br>

             Begin your journey towards a home you will never want to leave!! <br><br>
           </div>
         </div>
         <div class="col-md-4 mob-mgbtm">
           <%= image_tag "home/areas/lr.png" , class: "img-thumbnail about-img"%>
         </div>
         <!-- <center>A home says a lot about it’s inhabitants. Your space. Your way.</center> -->
       </div>
       <br><br><br>
       <div class="container">
        <center>
          <div class="abt-hd1">
            <h2> Our Team</h2>

          </div>
          <div class="abt-txt1">
            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. -->
          </div>
        </center>
        <br><br>
        <div class="responsive">
      <div class="slide-div">
        <%= link_to("#", data: {toggle: "modal", target: ".lisa-content"}) do %>
        <div class="team-outer lisa">
          <div class="team-overlay">
              <div class="team-outer-desc">
                <span class="team-name">Lisa</span>
                <br>
                <span class="team-pos">Chief Mastermind</span>
              </div>
          </div>
        </div>
        <% end %>
      </div><!-- slide-div end -->

      <div class="slide-div">
        <%= link_to("#", data: {toggle: "modal", target: ".shyama-content"}) do %>
        <div class="team-outer shyama">
          <div class="team-overlay">
              <div class="team-outer-desc">
                <span class="team-name">Shyama</span>
                <br>
                <span class="team-pos">Chief Design & Creative </span>
              </div>
          </div>
        </div>
        <% end %>
      </div><!-- slide-div end -->

      <div class="slide-div">
        <%= link_to("#", data: {toggle: "modal", target: ".mahima-content"}) do %>
        <div class="team-outer mahima">
          <div class="team-overlay">
              <div class="team-outer-desc">
                <span class="team-name">Mahima</span>
                <br>
                <span class="team-pos">Customer Happiness Queen</span>
              </div>
          </div>
        </div>
        <% end %>
      </div>
      <!-- slide-div end -->

      <div class="slide-div">
        <%= link_to("#", data: {toggle: "modal", target: ".hari-content"}) do %>
        <div class="team-outer hari">
          <div class="team-overlay">
              <div class="team-outer-desc">
                <span class="team-name">Hari</span>
                <br>
                <span class="team-pos">Execution Ninja</span>
              </div>
          </div>
        </div>
        <% end %>
      </div><!-- slide-div end -->

      <div class="slide-div">
        <%= link_to("#", data: {toggle: "modal", target: ".ann-content"}) do %>
        <div class="team-outer ann">
          <div class="team-overlay">
              <div class="team-outer-desc">
                <span class="team-name">Ann</span>
                <br>
                <span class="team-pos">Content Poet</span>
              </div>
          </div>
        </div>
        <% end %>
      </div><!-- slide-div end -->

      <div class="slide-div">
        <%= link_to("#", data: {toggle: "modal", target: ".abhinay-content"}) do %>
        <div class="team-outer abhinay">
          <div class="team-overlay">
              <div class="team-outer-desc">
                <span class="team-name">Abhinay</span>
                <br>
                <span class="team-pos">Code-smith</span>
              </div>
          </div>
        </div>
        <% end %>
      </div><!-- slide-div end -->
    </div><!-- responsive end -->
        <!-- Modal for Shyama  -->
        <div class="modal fade shyama-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <br><br><br>
          <div class="modal-dialog modal-lg">
            <br><br><br>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="team_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h3 class="modal-title">Shyama</h3></center>
              </div>
              <br>
              <div class="container">
                <div class="about-us-txt">
                     Design Visualization, threading them together and communicating them in a understandable and executable language is her forte , all that and lot more when she is not  cheering away at the high energy soccer matches .
                </div>
              </div>
              <hr>
              <center>
                <div class="foo-social">
                  <a href="https://www.linkedin.com/in/shyama-viswanathan-7582138b" target="_blank">
                    <i class="fa fa-linkedin link"></i>
                  </a>
                  </div><!--social end-->
              </center>
              <!-- </div> -->
            </div>
              <br><br><br>
          </div>
        </div>

        <!-- Modal for Abhinay -->
        <div class="modal fade abhinay-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <br><br><br>
          <div class="modal-dialog modal-lg">
            <br><br><br>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="team_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h3 class="modal-title">Abhinay</h3></center>
              </div>
              <br>
              <div class="container">
                <div class="about-us-txt">
                    Spending love  time with "Ruby on Rails" has made his choice of learning and using languages very poetic. What with names like Sinatra, My SQL, PHP, Bootstrap, jQuery, Javascript in his tool box !! He comes fully stacked as a web developer.
                </div>
              </div>
              <hr>
              <center>
                <div class="foo-social">
                  <a href="https://www.linkedin.com/in/abhinaykumar21" target="_blank">
                    <i class="fa fa-linkedin link"></i>
                  </a>
                  </div><!--social end-->
              </center>
              <!-- </div> -->
            </div>
              <br><br><br>
          </div>
        </div>
        <!-- Modal for Lisa -->
        <div class="modal fade lisa-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <br><br><br>
          <div class="modal-dialog modal-lg">
            <br><br><br>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="team_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h3 class="modal-title">Lisa</h3></center>
              </div>
              <br>
              <div class="container">
                <div class="about-us-txt">
                    Analytical to the core and as focused as a zen monk when it comes to the firms objectives. She leads her team like a two way push and pull nonstop locomotive engine . Thrillers & mysteries intrigue her , she can multitask between smashing the shuttle across the net and handling business verticals .
                </div>
              </div>
              <hr>
              <center>
                <div class="foo-social">
                  <a href="https://in.linkedin.com/in/lisamohapatra" target="_blank">
                    <i class="fa fa-linkedin link"></i>
                  </a>
                  </div><!--social end-->
              </center>
              <!-- </div> -->
            </div>
              <br><br><br>
          </div>
        </div>

        <!-- Modal for Mahima  -->
        <div class="modal fade mahima-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <br><br><br>
          <div class="modal-dialog modal-lg">
            <br><br><br>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="team_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h3 class="modal-title">Mahima</h3></center>
              </div>
              <br>
              <div class="container">
                <div class="about-us-txt">
                     She's the 'Customer Relationship Queen' of the team and has an ache for wanderlust and floating around swimming pools and beaches in faraway scenes.
                </div>
              </div>
              <hr>
              <center>
                <div class="foo-social">
                  <a href="https://www.linkedin.com/in/mahima-girish-73a67878/" target="_blank">
                    <i class="fa fa-linkedin link"></i>
                  </a>
                  </div><!--social end-->
              </center>
              <!-- </div> -->
            </div>
              <br><br><br>
          </div>
        </div>

        <!-- Modal for Hari  -->
        <div class="modal fade hari-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <br><br><br>
          <div class="modal-dialog modal-lg">
            <br><br><br>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="team_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h3 class="modal-title">Hari</h3></center>
              </div>
              <br>
              <div class="container">
                <div class="about-us-txt">
                     This gentleman gets things done on ground zero and is the 'Execution Ninja ' of the team. The other days he can be seen around traveling to an unknown destination!
                </div>
              </div>
              <hr>
              <!-- </div> -->
            </div>
              <br><br><br>
          </div>
        </div>

        <!-- Modal for Ann  -->
        <div class="modal fade ann-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <br><br><br>
          <div class="modal-dialog modal-lg">
            <br><br><br>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="team_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h3 class="modal-title">Ann</h3></center>
              </div>
              <br>
              <div class="container">
                <div class="about-us-txt">
                     A woman of her words, she is the 'Content Poet' of the team. Expect her to be in a library, art gallery or on the beach all the other times.
                </div>
              </div>
              <hr>
              <center>
                <div class="foo-social">
                  <a href="https://www.linkedin.com/in/ann-loraine-zacharias-75b158101/" target="_blank">
                    <i class="fa fa-linkedin link"></i>
                  </a>
                  </div><!--social end-->
              </center>
              <!-- </div> -->
            </div>
              <br><br><br>
          </div>
        </div>

  </div><!--container end-->
  <br><br>
     </div>
   </div>

 </div><!--home div end -->
 <div class="abt-jumbo1 jumbotron">
   <div class="container">
     <div class="row">
       <div class="col-md-3">
         <%= image_tag "home/team/ivk-new.jpg", class: 'img-responsive' %>
       </div><!--col-md-* end-->
       <div class="col-md-1">
       </div><!--col-md-* end-->
       <div class="col-md-8">
         <div class="abt-hd2">Vijaya Kumar Ivaturi</div>
         <div class="abt-hd3">Advisor</div>
         <div class="abt-txt2">
           <p class="abt-txt2">
             Vijaya Kumar Ivaturi (known as IVK) is the Co-Founder and CTO of Crayon Data, a Big data analytics product company at Singapore with a development center in Chennai. He is also an active member of Indian Angel Network, a syndicate for early stage capital to invest in the start-up companies.
           </p>
           <p>
             He consults in the areas of business strategy and transformation through new age technologies covering the areas of embedded systems, Cloud services, Big Data analytics and Mobility. Also, he is one of the co-founders of India Innovation Labs, a start-up in the field of augmented reality and robotics.
           </p>
         </div>
         <br>
         <div class="social2">
           <!-- <a href="#"><img src="/assets/home/icons/fb.png"></a>
           <a href="#"><img src="/assets/home/icons/tw.png"></a>
           <a href="#"><img src="/assets/home/icons/gp.png"></a> -->
          <%= link_to "https://www.linkedin.com/in/vkivaturi" do %>
            <%= image_tag "home/icons/link.png" %>
           <% end %>
           <!-- <a href="#"><img src="/assets/home/icons/pin.png"></a> -->
         </div>
       </div><!--col-md-* end-->
     </div><!--row end-->
   </div><!--abt-jumbo1 end-->
 </div><!--container end-->
<!-- <div class="container">
  <div class="admin-main-jumbo jumbotron">
    <span class="main-sugg-hd2">About us<span>
      <hr> -->
      <!-- <a data-pin-board-width="600" data-pin-do="embedBoard" data-pin-scale-height="440" data-pin-scale-width="100" href="https://www.pinterest.com/hutfy/wall-treatment/"></a> -->
    <!-- </div>
  </div> -->
