<% @title = "Contact Best Interior Designing Company in Bangalore & Mumbai" %>
<% @description= "Contact Huzzpa Home, one of the best interior designing companies in Bangalore & Mumbai. Please contact us for getting full quotation for your requirement." %>
<% @keyword = 'best interior designing company, home interiors, bangalore, mumbai'%>

<div class="jumbo6 jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-md-offset-1 bg-color col-md-10">

        <center>
          <div class="jumbo6-hd">
          <h1>Got any question ?</h1>
          </div>
          <div class="jumbo1-txt1">
            Feel free to ask. Just fill the form. We will get back to you very soon!
          </div>
        </center>
        <br><br><br>

        <div class="row">
          <div class="col-md-6 mob-mgbtm">
            <span class="cont-txt1">Call Us</span><br>
            <span class="cont-txt2">080-395-12575</span>
            <br><br>
            <div class="foo-hd">Address</div>
            <div class="foo-txt">
              139, First Cross Road,
              V Block, A Cross Road<br>
              Koramangala, Bengaluru,
              Karnataka - 560095 <br>
              Ph : 080-395-12575
              Email : hello@huzzpa.com<br>
            </div>

            <!-- <span class="cont-txt1">Call Us</span><br>
            <span class="cont-txt2">+91 8028569724</span> -->
          </div><!--col-md-* end-->
          <div class="col-md-6 mob-mg-btm">
              <%= form_tag(controller: "home", action: "contact_us") do %>
                <%= text_field_tag(:name,'', {class: 'in-txt form-control', placeholder: 'Name', required: true})  %><br>
                <%= text_field_tag(:email,'', {type: 'email', class: 'in-txt form-control', placeholder: 'Email', required: true }) %><br>
                <%= text_field_tag(:mobile,'', {type: 'number', class: 'in-txt form-control', placeholder: 'Mobile number', required: true})  %><br>
                <%= text_area_tag(:message,'', {class: 'in-tarea form-control', rows: "5", placeholder: 'Message', required: true})  %><br>
                <%= recaptcha_tags %>
                <br>
                <%= submit_tag(:send, {value: 'Send', class: 'green-btn btn'}) %>
              <% end %>
          </div><!--col-md-* end-->
        </div>

      </div><!--col-md-* end-->
    </div><!--div.row end-->

  </div><!--container-->
</div><!--jumbo5 end-->
