<!-- <#% content_for(:body_attributes) do %>
   ##data-no-turbolink="true"
 <#% end %> -->
<% @title = "Best Interior Designers Mumbai | Home Interior Decorators Mumbai" %>
<% @description= "Huzzpa is Best Interior Designers in Mumbai. Premium interior decorator firm best known for creating a beautiful & elegant interiors for residential & commercial properties." %>
<% @keyword = 'best interior designers mumbai, interior decorators mumbai, residential interior designers'%>

 <br><br>
     <div class="main-content">
       <center>
         <div class="home-hd1 mumbai-hd1">
           Make your house a home with Huzzpa
         </div>
         <br>
         <%= link_to 'Get Started', guests_path, method: :post, class: 'org-btn2 btn mg-btn' %>
         <div class="home-txt1">
           <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. -->
         </div>
       </center>
     </div><!--main-content end-->
   </div><!--main-jumbo end-->
   <div class="jumbo1 jumbotron">
     <div class="container">
       <center>
         <div class="jumbo1-hd">
           <h1>Interior Designers in Mumbai</h1>
         </div>
       </center>
       <br><br>
       <div class="row">
         <div class="col-md-8 mob-mgbtm">
           <div class="about-us-txt">
            We started Huzzpa with a simple idea of making premium design services available to everyone, no matter what their budget was. Our belief in transparent pricing,
             an unparalleled customer service & a personalized design experience is what underpins Huzzpa’s key tenets - tailoring our services to every client’s individual
             taste, needs & budget.<br><br>

             Huzzpa has best interior designers in Mumbai who offer you expert interior designing services. Our home interior design services are entirely online and that means
             you can get your space designed from anywhere – even when you are on a space travel to Mars! And with no extra weight on your pockets!<br><br>

             To get you started with your design project, we have carefully crafted packages that provide custom interior solutions that suit both your budget and aspirations.
              Go pick “The Whole Thing” if you need a full-throttled jaw-dropping design makeover for your interior space. Looking for functional and minimalist ideas for your
              space, then “Nuts & Bolts” is exactly you need. “It’s Just Perfect”, as the name suggests is just perfect, bringing together elements of both functional and
              top-of-the-shelf design. Each package includes dedicated time with Huzzpa’s designers with unlimited iterations to your personalized design. <br><br>

             We believe “Design is for everybody” and therefore we offer completely complimentary design services for all our clients. If you are interested in making your home a
             beautiful place to live, let our expert interior decorators help you with that. Feel free to ask us! We are here to answer your queries. Just fill this <%= link_to 'simple form', guests_path, method: :post, class: 'mumbai_form' %>.<br><br>
           </div>
         </div>
         <div class="col-md-4 hidden-xs mob-mgbtm">
           <%= image_tag "home/areas/interior_designer_mumbai.png"  , class: "img-thumbnail about-img"%>
         </div>
         <!-- <center>A home says a lot about it’s inhabitants. Your space. Your way.</center> -->
       </div>
       <br><br><br>

       <div class="container">
        <center>
          <div class="abt-hd1">
            <h2>Best Home Interiors</h2>
          </div>
          <div class="abt-txt1">
            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. -->
          </div>
        </center>
        <br><br>
        <div class="responsive">
          <div class="slide-div">

            <div class="team-outer img_1">
              <!-- <div class="team-overlay">
                  <div class="team-outer-desc">
                    <span class="team-name">Lisa</span>
                    <br>
                    <span class="team-pos">Chief Mastermind</span>
                  </div>
              </div> -->
            </div>

          </div><!-- slide-div end -->
          <div class="slide-div">

            <div class="team-outer img_2">
              <!-- <div class="team-overlay">
                <div class="team-outer-desc">
                  <span class="team-name">Rashmi</span>
                  <br>
                  <span class="team-pos">Head/Tail Ops & Business</span>
                </div>
              </div> -->
            </div>

          </div><!-- slide-div end -->
          <div class="slide-div">

            <div class="team-outer img_3">
              <!-- <div class="team-overlay">
                  <div class="team-outer-desc">
                    <span class="team-name">Shyama</span>
                    <br>
                    <span class="team-pos">Chief Design & Creative </span>
                  </div>
              </div> -->
            </div>

          </div><!-- slide-div end -->

          <div class="slide-div">

            <div class="team-outer img_4">
              <!-- <div class="team-overlay">
                <div class="team-outer-desc">
                  <span class="team-name">Maheswari</span>
                  <br>
                  <span class="team-pos">Social media transmitter</span>
                </div>
              </div> -->
            </div>

          </div><!-- slide-div end -->

          <!-- <div class="slide-div">
            <#%= link_to("#", data: {toggle: "modal", target: ".niraj-content"}) do %>
            <div class="team-outer niraj">
              <div class="team-overlay">
                <div class="team-outer-desc">
                  <span class="team-name">Niraj</span>
                  <br>
                  <span class="team-pos">Technology</span>
                </div>
              </div>
            </div>
            <#% end %> -->
          <!-- </div> -->
          <!-- slide-div end -->

          <div class="slide-div">

            <div class="team-outer img_5">
              <!-- <div class="team-overlay">
                <div class="team-outer-desc">
                  <span class="team-name">Soumya</span>
                  <br>
                  <span class="team-pos">Design Wizard</span>
                </div>
              </div> -->
            </div>

          </div><!-- slide-div end -->


          <div class="slide-div">

            <div class="team-outer img_6">
              <!-- <div class="team-overlay">
                  <div class="team-outer-desc">
                    <span class="team-name">Ashwin</span>
                    <br>
                    <span class="team-pos">U { X ,I } human Interactor</span>
                  </div>
              </div> -->
            </div>

          </div><!-- slide-div end -->
          <div class="slide-div">

            <div class="team-outer img_7">
              <!-- <div class="team-overlay">
                  <div class="team-outer-desc">
                    <span class="team-name">Abhinay</span>
                    <br>
                    <span class="team-pos">Code-smith</span>
                  </div>
              </div> -->
            </div>

          </div><!-- slide-div end -->
        </div><!-- responsive end -->

  <br><br>
     </div>
   </div>

 </div><!--home div end -->
 <div class="abt-jumbo1 jumbotron">
   <div class="container">
     <div class="row">
       <div class="mumbai-jumbo-hd">
         Design packages tailor-made for You!!
       </div>
        <br>
        <br>
        <br><br>

       <div class="col-xs-12 col-sm-3 mumbai-block">
         <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 mumbai-block-logo">
           <%= image_tag "home/mumbai/the_whole_thing.jpg" ,  class: "img-thumbnail "%>
         </div>
         <br>
         <div class=" col-xs-12 col-sm-12 mumbai-block-header">
           The Whole Thing
         </div>

         <div class="  col-xs-12 col-sm-12 mumbai-block-content">
          <i class="fa fa-check " aria-hidden="true"><span>  Branded Plywood (Green/Century)</span> </i>
          <i class="fa fa-check" aria-hidden="true"> <span>  Merino Laminate, Acrylic, Veneer, PU Finish  </span> </i>
          <i class="fa fa-check" aria-hidden="true"> <span> Hettich/Hafele Hardware </span></i>
          <i class="fa fa-check" aria-hidden="true"> <span> Gyproc False Ceiling </span></i>
          <i class="fa fa-check" aria-hidden="true"> <span> Electrical & Lighting (Phillips/Panasonic lights with Roma/GE/Havel’s switches)</span></i>
          <i class="fa fa-check" aria-hidden="true"> <span> Bathroom Fittings ( Jaguar ) </span></i>
          <i class="fa fa-check" aria-hidden="true"> <span> Kajaria/Italian Tiles </span></i>
          <i class="fa fa-check" aria-hidden="true"> <span> Granite, Corian, Italian Marble Work</span></i>
         </div>
       </div>
       <div class="col-xs-12 col-sm-offset-1 col-sm-3 mumbai-block">
         <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 mumbai-block-logo">
           <%= image_tag "home/mumbai/affordable_space.jpg" ,  class: "img-thumbnail "%>
         </div>
         <div class=" col-xs-12 col-sm-12 mumbai-block-header">
           It’s Just Perfect
         </div>
         <div class="  col-xs-12 col-sm-12 mumbai-block-content">
             <i class="fa fa-check " aria-hidden="true"><span> Branded Plywood (Nocte/Archid) </span></i>
             <i class="fa fa-check " aria-hidden="true"><span> Laminate Finish, Veneer Finish </span></i>
             <i class="fa fa-check " aria-hidden="true"><span> SS Hardware </span></i>
             <i class="fa fa-check " aria-hidden="true"><span> Gypsum False Ceiling </span></i>
             <i class="fa fa-check " aria-hidden="true"><span> Electrical & Lighting (Panasonic lights with Roma/GE/Havel’s switches) </span></i>
             <i class="fa fa-check " aria-hidden="true"><span> Bathroom Fitting (Cera, Hind ware, Parry ware) </span></i>
             <i class="fa fa-check " aria-hidden="true"><span> Granite, Premium Quality Indian marble. </span></i>
             <i class="fa fa-check " aria-hidden="true"><span> Vitrified Tiles </span></i>
         </div>
       </div>
       <div class="col-xs-12 col-sm-offset-1 col-sm-3 mumbai-block">
         <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 mumbai-block-logo">
           <%= image_tag "home/mumbai/functional_space.jpg" ,  class: "img-thumbnail "%>
         </div>
         <div class="  col-xs-12 col-sm-12 mumbai-block-header">
           Nuts & Bolts
         </div>
         <div class="  col-xs-12 col-sm-12 mumbai-block-content">
            <i class="fa fa-check " aria-hidden="true"><span> Plywood, MDF, Particle Board </span></i>
            <i class="fa fa-check " aria-hidden="true"><span> Durable Laminate </span></i>
            <i class="fa fa-check " aria-hidden="true"><span> SS Hardware </span></i>
            <i class="fa fa-check " aria-hidden="true"><span> Granite, Indian marble. </span></i>
            <i class="fa fa-check " aria-hidden="true"><span> Basic false ceiling.    </span></i>
            <i class="fa fa-check " aria-hidden="true"><span> Electrical & Lighting (Panasonic lights with Roma/GE/Havel’s switches) </span></i>
            <i class="fa fa-check " aria-hidden="true"><span> No Civil work. </span></i>
         </div>
       </div>
     </div><!--row end-->
   </div><!--abt-jumbo1 end-->
 </div><!--container end-->
<!-- <div class="container">
  <div class="admin-main-jumbo jumbotron">
    <span class="main-sugg-hd2">About us<span>
      <hr> -->
      <!-- <a data-pin-board-width="600" data-pin-do="embedBoard" data-pin-scale-height="440" data-pin-scale-width="100" href="https://www.pinterest.com/hutfy/wall-treatment/"></a> -->
    <!-- </div>
  </div> -->
