<% @title = "Service Feedback huzzpa bangalore |mumbai" %>
<% @description= "Your valuable feedback  very important to us, where we can constantly thinking about what we've done and how we could be doing it better. we think that's the single best piece of advice: constantly think about how we could be doing things better and questioning our self" %>
<div class="container">
  <div class="faq-jumbo jumbotron">
    <div class="faq-hd1">Frequently Asked Questions</div>
    <br><br>
    <div class="faq-hd2">We love to answer your concerns.</div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <div class="panel-heading default-bg" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-minus"></span>
              Why should we engage Huzzpa ?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            Well because we are good. Well that doesn’t satisfy you... Does it ?..well then
            read on <br> We love to create. <br>We love space and form and how they can forge relationship with people. <br>
            We have been doing this for quite some time now. <br> Yes, we are technology and tool driven.<br>
            We love to see the content satisfied expressions on our client’s faces <br>
            With us, you will get <br>
            <ul>
              <li>Value for Money</li>
              <li>Quality</li>
              <li>a houseproud “YOU”</li>
            </ul>
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              How does the process work?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            After choosing your preferences/likes online & providing some information about
            your space, you will get 2 things: <br>
            <ul>
              <li>Based on your preference & style, our intelligent algorithm at the backend
                matches right kind of designers for you. At this time, you may invite
                designers to your project.</li>
              <li>You will also start receiving style boards, also called Moodboards.</li>
            </ul>
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              What is a “Moodboard”?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            A Moodboard is a preliminary style board that depicts the overall theme/mood of
            the décor of your home. Think of it as our first impression of your space, based on
            your Design Brief. A Moodboard is not a final design, rather an ideaboard or a
            styledeck. Check out an example board below: <br>
            Check more moodboards on our pinterest page
            <a href="https://in.pinterest.com/huzzpa/moodboard/">(https://in.pinterest.com/huzzpa/moodboard/ )</a>
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->
      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              How will the designers know what I like?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Designers will look at your Design Brief, your personal style from the preference
            images you would have chosen and your space.
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              When should you be getting in touch with us ?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Now..is a good time - Just about any time, more so when your walls , ceilings and
            flooring are ready to be layered and occupied  by you , your  ,aesthetics &
            aspirations , or when your space needs a change of scene ,change of functional
            context or a facelift .
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              Can we work in the budget prescribed by you ?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Yes , we can , we always do , in the scenarios that we feel that the budget
            constraint may impact the quality then we open up to advise  you, but then we are
            flexible and creative enough to cater to your budget size , bring it on..!!
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              What kind of projects entices us?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse7" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            We have the sweet tooth for all genres of projects. Be it residential or commercial
            – if the terms “space”  “interiors”  “design” “execution” “form” form  the key
            words  - we jump right in with delight !!
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              What happens next after we have spoken?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            We visit your space – that tangible connection is required.
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              Do I need to prepare for your first visit?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse9" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Yes , that would make our conversations much more focused – Identify your needs
            , aspirations , design styles , set a budget , execution timeframe and be ready to
            communicate them to us .Show us reference images/ videos/sketches if you wish
            to reflect your aspirations  . We can both replicate and better them!!
            Communication is the key here- say it all us. we are all ears .. <br>
            <b>And we do not mind a cup of tea!!</b>
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              Now you have had your soul talk with us and the tea ..next is what ?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse10" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Our super excited designers, start looping into creative orbits, drawing out
            concepts and translating them into them into humanly comprehendible designs.
            The execution team picks it up and relates it to cost.<br>
            The proposal team gathers it all, after multiple reiterations have taken place and
            shares with you – for your inputs!!
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              After I have received the first design and quotation, can I request for
              changes?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse11" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Yes, absolutely, that’s you right!!
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              How many times can I request for changes?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse12" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Mostly, our clients are happy with the fist cut of our design…but then our
            designers would happily go for the third iteration too.
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              What is next after I am pleased with the designs and have approved them?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse13" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Congrats!! That’s a huge milestone. Next step would be you receiving the Bill of
            quantity, basically the quotation for execution of the project.
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              What is next after I am pleased with the costing?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse14" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Awesome !! That’s another huge milestone. Next step would be you receiving
            project timelines as a detailed chart for your approval.
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              What is next after I am pleased with the project timelines & have approved them?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse15" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Yesss!! That’s yet another huge milestone. Now we all are in sync as to what is
            desired as an end result, the time period to achieve it and the cost involved!!
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              When do we pay you?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse16" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            The quotation would clearly dictate all payment terms, but generally we work
              on stage wise staggered payments module, starting off with 40-50% advances.
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              Do you have a team of subcontractors and resources to execute the project?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse17" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Yes , an absolutely dedicated team .
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              How many days does it take to complete a project?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse19" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            We would have shared feasible detailed project timelines with you, and we
            Would stick to that , and possibly surprise you with delivering before due
            date!!
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

      <div class="panel panel-default">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <span class="fa fa-plus"></span>
              How do I start?
            </h4>
          </div><!--panel heading end-->
        </a>
        <div id="collapse20" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            Call us now on 080-395-12575  or  sign up on <a href="http://www.huzzpa.com/">http://www.huzzpa.com/</a>
          </div><!--panel-body end-->
        </div><!--panel-collapse end-->
      </div><!--panel end-->

    </div><!--panel-group end-->
  </div><!--faq-jumbo end-->
  <br>
</div><!--container end-->
