<% content_for(:body_attributes) do %>
   data-no-turbolink="true"
 <% end %>
<br><br>
    <div class="main-content">
      <div id="home1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#home1" data-slide-to="0" class="active"></li>
          <li data-target="#home1" data-slide-to="1"></li>
          <li data-target="#home1" data-slide-to="2"></li>
        </ol> -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="h-slide">
              <div class="home-hd1">
                Make your house a home with Huzzpa
              </div>
              <div class="home-txt1 index_links">
                <%= link_to 'Bangalore', about_path %>
                 | <%= link_to 'Mumbai', interior_designers_mumbai_path %>
              </div>
              <br>
              <%= link_to 'Get Started', guests_path, method: :post, class: 'home-org-btn2 btn mg-btn' %>
              <!-- <button class="">How it Works</button> -->
            </div><!--h-slide end-->
          </div><!--item1-->
        </div>
        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#home1" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#home1" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div><!--home1-->
    </div><!--main-content end-->
  </div><!--main-jumbo end-->

  <div class="jumbo1 jumbotron">
    <div class="container">
      <center>
        <div class="jumbo1-hd">
           <h1>Interior Designers in Bangalore</h1>
        </div>
        <div class="jumbo1-txt1">
          Cozy designs ideas for a comfort space.
        </div>
      </center>

      <br><br>

      <div class="row">
        <div class="col-sm-4 mob-mgbtm"  title=" The illustration shows a wardrobe with mirror and bookshelves, a desk and a large floor lamp" alt="Interior design for wardrobe">
          <%= link_to design_modular_wardrobe_designers_path do %>
            <div class="box wardrobe">
              <center>
                <div class="j1box-txt">
                  Wardrobes
                </div>
                <button class="btn-overlay white-btn btn">Explore</button>
              </center>
            </div><!--box green end-->
          <% end %>
        </div><!--col-md-* end-->
        <div class="col-sm-4 mob-mgbtm" title="Bathroom vanity with open cabinets, single sinks, and accent lighting in contemporary upscale home interior" alt="Bathroom interior design ideas">
          <%= link_to design_vanity_unit_designers_path do %>
            <div class="box vanity_unit">
              <center>
                <div class="j1box-txt">
                  Vanity Unit
                </div>
                <button class="btn-overlay white-btn btn">Explore</button>
              </center>
            </div><!--box green end-->
          <% end %>
        </div><!--col-md-* end-->
        <div class="col-sm-4 mob-mgbtm" title="Beautiful view of shoe cabinet with wall painting" alt="Interior idea for shoe cabinet">
          <%= link_to design_shoe_cabinet_designers_path do %>
            <div class="box shoe_cabinet">
              <center>
                <div class="j1box-txt">
                   Shoe Cabinet
                </div>
                <button class="btn-overlay white-btn btn">Explore</button>
              </center>
            </div><!--box green end-->
          <% end %>
        </div><!--col-md-* end-->
      </div><!--row end-->

      <br>

      <div class="row">
        <div class="col-sm-4 mob-mgbtm" title="luxury classic study room with book rack" alt="Decorating idea for study room">
          <%= link_to design_study_unit_designers_path do %>
            <div class="box study_unit">
              <center>
                <div class="j1box-txt">
                  Study Unit
                </div>
                <button class="btn-overlay white-btn btn">Explore</button>
              </center>
            </div><!--box green end-->
          <% end %>
        </div><!--col-md-* end-->
        <div class="col-sm-8 mob-mgbtm" title="Beautiful View Of Modern Kitchen" alt = "Interior designs for modular kitchen">
          <%= link_to design_modular_kitchen_designers_path do %>
            <div class="box kitchen">
              <center>
                <div class="j1box-txt">
                  Kitchen
                </div>
                <button class="btn-overlay white-btn btn">Explore</button>
              </center>
            </div><!--box green end-->
          <% end %>
        </div><!--col-md-* end-->
      </div><!--row end-->

      <br>

      <div class="row">
        <div class="col-sm-8 mob-mgbtm" alt="Home decor ideas for living room" title = "Contemporary Living room with whit color wall unit with luxury tv and sofa ">
          <%= link_to design_tv_unit_designers_path do %>
            <div class="box tv_unit" >
              <center>
                <div class="j1box-txt">
                  TV Unit
                </div>
                <button class="btn-overlay white-btn btn">Explore</button>
              </center>
            </div>
          <% end %>
        </div><!--col-md-* end-->
        <div class="col-sm-4 mob-mgbtm" title="View of dining area inside modern house" alt="Interior design ideas for living room">
          <%= link_to design_crockery_unit_designers_path do %>
            <div class="box crockery_unit">
              <center>
                <div class="j1box-txt">
                  Crockery Unit
                </div>
                <button class="btn-overlay white-btn btn">Explore</button>
              </center>
            </div><!--box green end-->
          <% end %>
        </div><!--col-md-* end-->
      </div><!--row end-->

      <br><br>

      <!-- <center>
        <button class="org-btn2 btn pad-lr">Search for More</button>
      </center> -->

      <br>

    </div><!--container-->
  </div><!--jumbo1 end-->
  <div id="how-it-works" class="jumbo2 jumbotron">
    <div class="container">
      <center>
        <div class="jumbo2-hd">
          How Huzzpa works
        </div>
        <div class="jumbo2-txt1">
          We have found a new way to make you "HouseProud".
        </div>
      </center>
      <br>

      <div class="row">
        <div class="col-md-3">
          <div class="admin-main-jumbo jumbotron">
          <!-- <div class="white-box"> -->
            <center>
              <%= image_tag "home/like.png", class: 'img-size img-circle img-thumbnail' , alt: "How Interior Design works" , lazy: true %>
            <br>
            <h4>Like Images</h4>
            <h5 class="exper">Tell us about your taste and style</h5>
            </center>
            <!-- <span class="suggbox-txt1"></span> -->
          <!-- </div> -->
        </div>
        </div>
        <div class="col-md-3">
          <div class="admin-main-jumbo jumbotron">
          <!-- <div class="white-box"> -->
            <center>
              <%= image_tag "home/get-pro.png", class: 'img-size img-circle img-thumbnail' , alt: 'professional interior designers' , lazy: true  %>
            <br>
            <h4>Get Professional</h4>
            <h5 class="exper">Get Matched with right professional</h5>
            </center>
            <!-- <span class="suggbox-txt1"></span> -->
          <!-- </div> -->
        </div>
        </div>
        <div class="col-md-3">
          <div class="admin-main-jumbo jumbotron">
          <!-- <div class="white-box"> -->
            <center>
              <%= image_tag "home/moodboard.jpg", class: 'img-size img-circle img-thumbnail' , alt: 'Choose Design from Moodboard' , lazy: true %>
            <br>
            <h4>Choose from Moodboard</h4>
            <h5 class="exper">Get storyboarded & top it up with 3d designs</h5>
            </center>
            <!-- <span class="suggbox-txt1"></span> -->
          <!-- </div> -->
        </div>
        </div>
        <div class="col-md-3">
          <div class="admin-main-jumbo jumbotron">
          <!-- <div class="white-box"> -->
            <center>
              <%= image_tag "home/get-interior.png", class: 'img-size img-circle img-thumbnail' , alt: 'Interior design of your home ready'  , lazy: true  %>
            <br>
            <h4>Get Your Interiors Ready</h4>
            <h5 class="exper">Watch your space taking shape within your budget</h5>
            </center>
            <!-- <span class="suggbox-txt1"></span> -->
          <!-- </div> -->
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbo4 jumbotron" id="testimonials">
    <div class="container">
      <center>
        <div class="jumbo4-hd">
          Wow Experience
        </div>
        <div class="jumbo4-txt1">
          Read what proud house owners are saying about Huzzpa.
        </div>
      </center>
      <br><br>

      <div id="testi" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <div class="testi-box">
              <div class="row">
                <div class="col-mymd-offset-2 col-md-5">
                  <%= image_tag "home/testimonials/1.jpg", class: 'testi-main-img', alt: "bedroom interior designs"  , lazy: true  %>
                </div><!--col-md-* end-->
                <div class="col-md-4">
                  <i class="fa fa-quote-left quote"></i>
                  <span class="testi-txt">
                    Loved the way Huzzpa got us the various options of designers and competitive pricing too.
                  </span>
                  <br><br><br>
                  <!-- <#%= image_tag "home/exp/seb.jpg", class: 'testi-img img-circle img-thumbnail' %> -->
                  <span class="testi-name">Asha Khandelwal, Whitefield, Bangalore</span>
                </div><!--col-md-* end-->
              </div><!--row end-->
            </div><!--testi-box end-->
          </div>

          <div class="item">
            <div class="testi-box">
              <div class="row">
                <div class="col-mymd-offset-2 col-md-5">
                  <%= image_tag "home/testimonials/2.jpg", class: 'testi-main-img' , alt: "Living room interiors bangalore"  , lazy: true %>
                </div><!--col-md-* end-->
                <div class="col-md-4">
                  <i class="fa fa-quote-left quote"></i>
                  <span class="testi-txt">
                    Great Experience. This is one of its kinds, the concept of Moodboarding is wonderful, it helped us visualize a lot of new ideas before finalizing designs – and yes, it was affordable too!!
                  </span>
                  <br><br><br>
                  <!-- <#%= image_tag "home/exp/seb.jpg", class: 'testi-img img-circle img-thumbnail' %> -->
                  <span class="testi-name">Rashmi K, Sarjarpura Road, Bangalore</span>
                </div><!--col-md-* end-->
              </div><!--row end-->
            </div><!--testi-box end-->
          </div>

          <div class="item">
            <div class="testi-box">
              <div class="row">
                <div class="col-mymd-offset-2 col-md-5">
                  <%= image_tag "home/testimonials/3.jpg", class: 'testi-main-img' , alt: "Modular kitchen interior design bangalore"  , lazy: true  %>
                </div><!--col-md-* end-->
                <div class="col-md-4">
                  <i class="fa fa-quote-left quote"></i>
                  <span class="testi-txt">
                    We had limited budget but we wanted something designer. Huzzpa helped us get to the right kind of designer and a very smooth experience in the entire process of designing and execution
                  </span>
                  <br><br><br>
                  <!-- <#%= image_tag "home/exp/seb.jpg", class: 'testi-img img-circle img-thumbnail' %> -->
                  <span class="testi-name">Gaurav Agarwal, Yeshwantpur</span>
                </div><!--col-md-* end-->
              </div><!--row end-->
            </div><!--testi-box end-->
          </div>

          <div class="item">
            <div class="testi-box">
              <div class="row">
                <div class="col-mymd-offset-2 col-md-5">
                  <%= image_tag "home/testimonials/4.jpg", class: 'testi-main-img', alt: "bedroom design ideas"  , lazy: true  %>
                </div><!--col-md-* end-->
                <div class="col-md-4">
                  <i class="fa fa-quote-left quote"></i>
                  <span class="testi-txt">
                    Wonderful experience. We had the option of choosing and comparing and not worrying about execution at all!!
                  </span>
                  <br><br><br>
                  <!-- <#%= image_tag "home/exp/seb.jpg", class: 'testi-img img-circle img-thumbnail' %> -->
                  <span class="testi-name">Ramya Sridhar, Old Madras Road, Bangalore</span>
                </div><!--col-md-* end-->
              </div><!--row end-->
            </div><!--testi-box end-->
          </div>

          <div class="item">
            <div class="testi-box">
              <div class="row">
                <div class="col-mymd-offset-2 col-md-5">
                  <%= image_tag "home/testimonials/5.jpg", class: 'testi-main-img', alt: "living room interior design ideas"  , lazy: true %>
                </div><!--col-md-* end-->
                <div class="col-md-4">
                  <i class="fa fa-quote-left quote"></i>
                  <span class="testi-txt">
                    We are a working couple, so time was valuable. Huzzpa is a new concept of interior designing, where we could pick and choose things online which helped us save a lot of our time and effort in the design process
                  </span>
                  <br><br><br>
                  <!-- <#%= image_tag "home/exp/seb.jpg", class: 'testi-img img-circle img-thumbnail' %> -->
                  <span class="testi-name">Anirban Ghosh, Old Madras Road, Bangalore</span>
                </div><!--col-md-* end-->
              </div><!--row end-->
            </div><!--testi-box end-->
          </div>

        </div><!--carousel inner end-->

          <!-- Controls -->
          <a class="left carousel-control" href="#testi" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#testi" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div><!--testi slider end-->
      <br><br>
       <center>
         <%= link_to "Our Portfolio", our_portfolio_path, class: 'profile-btn btn-default btn pad-lr' %>
       </center>
       <br>
    </div><!--container-->
  </div><!--jumbo4 end-->

  <div class="jumbo5 jumbotron">
    <div class="container">
      <center>
        <div class="jumbo5-hd">
          We are going places
        </div>
        <!-- <div class="jumbo5-txt1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div> -->
      </center>
      <br><br><br>

      <div class="company-slider">
        <!-- <div><#%= image_tag "home/" %></div> -->
        <div>
          <%= link_to "http://startupsutras.org/2015/04/start-up-of-the-week-makeuber/", target: '_blank' do %>
            <%= image_tag "home/slide2.jpg", class: 'img-thumbnail' , alt: "TiE Global with Huzzpa"   %>
          <% end %>
        </div>
        <div>
          <%= link_to "http://www.anthahprerana.org/", target: '_blank' do %>
            <%= image_tag "home/media-2.png", class: 'img-thumbnail' , alt: "TiE Global rewards Huzzpa"    %>
          <% end %>
        </div>
        <div>
          <%= link_to "http://techstory.in/makeuber/", target: '_blank' do %>
            <%= image_tag "home/slide1.jpg", class: 'img-thumbnail' , alt: "Techstory features Huzzpa"   %>
          <% end %>
        </div>
        <div>
          <%= link_to "http://old.businessworld.in/news/business/entrepreneurship/meet-the-jury/1892916/page-1.html", target: '_blank' do %>
            <%= image_tag "home/media-1.png", class: 'img-thumbnail' , alt: "Huzzpa founder get young enterprenuer award"   %>
          <% end %>
        </div>
        <div>
          <%= link_to "http://weekendventures.org/startuplounge/tlabs-bangalore-dec-2014/", target: '_blank' do %>
            <%= image_tag "home/slide3.jpg", class: 'img-thumbnail' , alt: "Weekend venture features Huzzpa"   %>
          <% end %>
        </div>
        <div>
          <%= link_to "http://www.amritatbi.com/", target: '_blank' do %>
            <%= image_tag "home/media-4.png", class: 'img-thumbnail' , alt: "AMRITA TBI- Features Huzzpa"   %>
          <% end %>
        </div>
      </div><!--slider2-->

    </div><!--container-->
  </div><!--jumbo5 end-->

  <div class="jumbo6 jumbotron">
    <div class="container">

      <div class="row">
        <div class="col-md-offset-1 bg-color col-md-10">

          <center>
            <div class="jumbo6-hd">
              Get in Touch with us
            </div>
          </center>
          <br><br><br>

          <div class="row">
            <div class="col-md-6 mob-mgbtm">
              <span class="cont-txt1">Call Us</span><br>
              <span class="cont-txt2">080-395-12575</span>
              <br><br>
              <!-- <span class="cont-txt1">Call Us</span><br>
              <span class="cont-txt2">+91 8028569724</span> -->
            </div><!--col-md-* end-->
            <div class="col-md-6 mob-mg-btm">
                <%= form_tag(controller: "home", action: "contact_us") do %>
                  <%= text_field_tag(:name,'', {class: 'in-txt form-control', placeholder: 'Name', required: true})  %><br>
                  <%= text_field_tag(:email,'', {type: 'email', class: 'in-txt form-control', placeholder: 'Email', required: true }) %><br>
                  <%= text_field_tag(:mobile,'', {type: 'number', class: 'in-txt form-control', placeholder: 'Mobile number', required: true})  %><br>
                  <%= text_area_tag(:message,'', {class: 'in-tarea form-control', rows: "5", placeholder: 'Message', required: true})  %><br>
                  <%= recaptcha_tags %>
                  <br>
                  <%= submit_tag(:send, {value: 'Send', class: 'green-btn btn', onClick: "ga('send', 'event', { eventCategory: 'Contact Form Button', eventAction: 'Click', eventLabel: 'Send Message'});"}) %>
                <% end %>
            </div><!--col-md-* end-->
          </div>

        </div><!--col-md-* end-->
      </div><!--div.row end-->

    </div><!--container-->
  </div><!--jumbo5 end-->

</div><!--home-div-->


<div class="huzzpa_promise ">
  <span class="more">
    At Huzzpa, we believe in giving an experience to our customers that is personalized and professional at the same time. We understand that Interior design industry is a
    taste industry and we strive towards delivering unique taste & experiences for each of our clients irrespective of their budget.  So, be it the design or the execution
    or the installation, our team focuses on every minute detail to make the process effortless for our clients, which starts with just one <%= link_to 'simple click!', guests_path, method: :post, class: '' %>
    We have cherry picked some of the best interior designers in Bangalore & Mumbai who spend hours with each client understanding their persona and creating a design that
    is very personal. And the same translates into making of whichever products our client desire – modular kitchens, wardrobes, TV unit, crockery unit and many more.
  </span>
</div>

<script type="text/javascript">

</script>



<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
