<% @title= 'Privacy Policy of Huzzpa Bangalore|Mumbai'  %>
<% @description= "We know that our customers care about how your personal information is used and shared, and we take your privacy very seriously. Please read the following to learn more about our Privacy Policy. By visiting or using the www.huzzpa.com website" %>
<div class="container">
  <div class="faq-jumbo jumbotron">
    <center><div class="faq-hd1">Privacy Policy</div></center>
    <hr>
      <div class="about-us-txt">
        Thank you for visiting Huzzpa! <br><br>
        This privacy policy is to help you understand what information Huzzpa collects, how Huzzpa uses it, how it may be shared, and what choices you have. When you use the Site, you consent to our collection, use and disclosure of information about you as described in this privacy policy. Additionally, our Terms of Use are incorporated by reference into this privacy policy. <br><br>
        <b>How do we use the collected information?</b> <br><br>
        We collect information that you provide to us either directly or automatically when you register or use our Site. <br><br>
        We may use the information for purposes such as to: provide to the Site’s functionality, improve the Site’s quality, personalize your experience, track usage of the Site, provide feedback to businesses and professionals whose products or services are listed on the Site, display relevant advertising, evaluate the success of our advertising and provide customer support.<br><br>

        Of further note about the information we collect:<br><br>
        a. Account and Profile Information: When you register with Huzzpa, we collect your name and the contact information provided by you. You also will be asked to create a portfolio on Huzzpa. If you do, your username, any photo you submit, and information you enter into the fields indicated for public display will be displayed publicly on the website. You can customize some of the information displayed publicly in your Huzzpa profile by going to your account and profile settings. If you feel that an unauthorized account has been created depicting you or your likeness, please contact us at hello@huzzpa.com. You have an obligation to provide us accurate information.<br><br>
        b. Public Content: The information that you post to the Site is intended for public consumption, including your photos, comments and profile information. By posting on the Site, you agree to permit us to disclose publicly the material you post. <br><br>
        c. Transactional data: If you purchase products within the Site, certain information collected for processing your request, such as your phone number, address, email, and credit card information, may be shared with relevant third-parties in order for them to process your request (but not for their own marketing or other purposes). When you submit credit card numbers, we encrypt that information using industry standard technology and use commercially reasonable security measures to protect it from misuse. <br><br>
        d. Activity Tracking: We collect and may store information about your use of the Site, such as your search activity, the pages you view, and the date and time of your visit. We also collect and may store information that your computer or mobile device provides to us in connection with your use of the Site, such as your browser type, type of computer or mobile device, browser language, IP address, mobile carrier, unique device identifier, location, and requested and referring URLs. <br><br>
        e. Cookies: To save you comment’s information every time you visit Huzzpa, we place a little text cookie file which would reside in your web browser directory.<br><br>

        A cookie lets us store your profile information on your computer and lets our website retrieve it when you visit our site. No other website can use or view the cookie set by Huzzpa.<br><br>

        Cookies help us create a speedy web experience by remembering your address and email information, so you don’t have to re-type it when making comments.<br><br>

        We may use cookies on the website for the purpose of monitoring your and other users’ activity in order to improve the website and the services available to you. If you don’t want us to use cookies when you use our website, you will need to change your Internet browser settings so that your browser does not accept them.<br><br>

        <b>Sharing Your Information</b> <br><br>

        We do not rent or sell your personal contact information (such as your email address associated with your account registration) to third-parties to use for their own marketing purposes. We may share some information about you with third parties in connection with your use of the Site.<br><br>

        <b>Links to Third Party or other websites</b> <br><br>

        Huzzpa may use links of third-party advertising companies on its site or through its services. Whether you access third party websites through a link on our Site, or as a consequence of using our Service, you acknowledge that you are aware that these third party websites are not screened for privacy or security issues by us and you release us from any liability for the conduct of these third party websites. Please be aware that this Privacy Policy, and any other policies in place, in addition to any amendments, does not create rights enforceable by third parties. Huzzpa holds no responsibility for the information accumulated or used by any third party website or advertiser. Please review the privacy policy and terms of service for each site you visit through third party links or through our Service. When you link to another site, you are no longer on our site and are subject to the privacy policy of the new website. <br><br>

        <b>Keeping Your Information Secure</b> <br><br>

        We have implemented security measures we consider reasonable and appropriate to protect against the loss, misuse and alteration of the information under our control. Please be advised, however, that while we strive to protect your personally identifiable information and privacy, we cannot guarantee or warrant the security of any information you disclose or transmit to us online and are not responsible for the theft, destruction, or inadvertent disclosure of your personally identifiable information. From time to time we evaluate new technology for protecting information, and when appropriate, we upgrade our information security systems. <br><br>

        <b>Restriction of Liability</b> <br><br>

        Huzzpa claims, no promises or guarantees about the accuracy, completeness, or adequacy of the contents of this website and expressly disclaims liability for errors and omissions in the contents of this website. <br><br>

        <b>Updates to this Privacy Policy</b> <br><br>

        We may change some of the statements in this Privacy Policy at any time. We will prominently post notice of the changes at this URL. Any material changes to this Privacy Policy will be effective when posted.
        Your continued use of this site following the posting of any amendment, modification or change shall constitute your acceptance thereof. <br><br>

        <b>Contact</b><br><br>
        Write to us at hello@huzzpa.com should you have any queries, comments about our privacy policy.<br>
      </div>
      <hr>
  </div>
</div>
</div>
