<% @title = "Huzzpa Portfolio – Best Interior Designs" %>
<% @description= "Huzzpa is one of the leading Interior designing companies in Bangalore & Mumbai. We have delivered elegant designs to homes through best interior designers & architects." %>
<% @keyword = 'huzzpa portfolio, interior design ideas, best interior designers bangalore, interior decorators mumbai'%>

<br><br>
<div class="container">
  <div class="admin-main-jumbo jumbotron">

    <center>
      <div class="row">
        <span class="main-sugg-hd2"><h1 class="h1">Our Completed Projects</h1></span>
        <hr class="myhr">
        <div class= "">
        <br><br>
        <div class="container">
          <% @projects.each_slice(2) do |projects| %>
            <div class="row">
              <% projects.each do |project| %>

                <div class="col-sm-6 mob-mgbtm ">
                  <div class="thumbnail">
                  <div class="box2">
                    <div id="exp<%= project.id %>" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner set-height" role="listbox">
                        <% ProjectImage.where(huzzpa_work_id: project.id).each_with_index do |i , index| %>
                          <div class="item
                            <% if index == 0 %>
                              active
                            <% end %>
                          ">
                              <%= attachment_image_tag(i, :file, class: 'exp-img' )  %>
                          </div>
                        <% end %>
                      </div><!--carousel inner end-->
                      <!-- Controls -->
                      <a class="left carousel-control" href="#exp<%= project.id %>" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#exp<%= project.id %>" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div><!--exp1 slider end-->

                    <div class="white-box  set-height-padd" >
                      <div class="">
                        <div class=" text-left">
                          <span class="name profile-hd  "><%= project.name %></span><br>
                          <span class="exper ">Location - <%= project.location %></span><br>
                          <span class=" desc"><%= project.description %></span>
                        </div><!--col-sm-*-->
                        <!-- <div class="col-xs-4">
                          <%#= image_tag attachment_url(project, :logo, :fill, 120, 70, format: 'jpg' ) ,  class: 'square img-thumbnail' %>
                        </div><!--col-sm-*-->
                      </div><!--row end-->
                    </div><!--white-box end-->
                  </div><!--box2-->
                </div><!-- thumbnai -->
                </div><!--col-sm-*-->
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </center>
     <!-- style="display:none;" -->
  </div><!--admin-main-jumbo-->
</div><!--container end-->
