<% @title = "Terms and Conditions Huzzpa Bangalore|Mumbai" %>

<div class="container">
  <div class="faq-jumbo jumbotron">
    <center><div class="faq-hd1">Terms of use</div></center>
    <hr>
      <div class="about-us-txt">
        This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of www. huzzpa.com <br><br>

        The domain name www.huzzpa.com (hereinafter referred to as "Website") is owned by Modadome Online Private Limited a company incorporated under the Companies Act, 1956 with its registered office at A-112,Manar Manha ,Somesunderplaya Main Road ,Kudlu Gate, Bangalore - 560 068, Karnataka, India (hereinafter referred to as "Huzzpa").<br><br>

        You shall be subject to the policies that are applicable to the Website for such transaction. By mere use of the Website or while you transact, you shall be contracting with Huzzpa - owned by Modadome Online Private Limited and these terms and conditions.<br><br>

        For the purpose of these Terms of Use, wherever the context so requires "You" or "User" shall mean any natural or legal person who has agreed to become a buyer or seller of either services or products on the Website by providing Registration Data while registering on the Website as Registered User using the computer systems or by filling physical documents and lodging with Huzzpa . Huzzpa allows the User to surf the Website or making purchases without registering on the Website or notifying us.
        The term "We", "Us", "Our" shall mean the website Huzzpa owned by Modadome Online Private Limited. <br><br>

        When You use any of the services provided by us through the Website, including but not limited to, (Product Reviews, Seller Reviews, Bidding process, product purchase, service purchase), You will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use. We reserve the right, at our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to you .It is your responsibility to review these Terms of Use periodically for updates / changes. Your continued use of the Website following the posting of changes will mean that you accept and agree to the revisions. As long as you comply with these Terms of Use, We grant you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Website.<br><br>

        <b>Membership Eligibility</b><br>
        Persons who are "incompetent to contract" within the meaning of the Indian Contract Act, 1872 including minors, un-discharged insolvents etc. are not eligible to use the Website Huzzpa . If you are a minor under the age of 18 years, you shall not register as a User of the Huzzpa website and shall not transact on or use the website. As a minor if you wish to use or transact on website, such use or transaction may be made by your legal guardian or parents on the Website. Huzzpa reserves the right to terminate your membership and / or refuse to provide you with access to the Website if it is brought to Huzzpa's notice or if it is discovered that you are under the age of 18 years.<br><br>

        <b>Your Account and Registration Obligations</b><br>
        If you use the Website, You shall be responsible for maintaining the confidentiality of your Display Name and Password and you shall be responsible for all activities that occur under your Display Name and Password.  You agree that if You provide any information that is untrue, inaccurate, not current or incomplete or We have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete,or not in accordance with the this Terms of Use, We shall have the right to indefinitely suspend or terminate or block access of your membership on the Website and refuse to provide You with access to the Website.<br><br>

        <b>Communications</b><br>
        When You use the Website or send emails or other data, information or communication to us, You agree and understand that You are communicating with us through electronic records and You consent to receive communications via electronic records from Us periodically and as and when required. <br><br>

        <b>Platform for Transaction and Communication</b><br>
        The Website is a platform that Users utilize to meet and interact with one another for their transactions.  Huzzpa is not and cannot be a party to or control in any manner any transaction between the Website's Users.<br><br>

        <b>Henceforward:</b><br>
        1. Inside www.huzzpa.com , all commercial/contractual terms are offered by and agreed to between Buyers and Sellers alone. The commercial/contractual terms include without limitation price, shipping costs, payment methods, payment terms, date, period and mode of delivery, warranties related to products and services and after sales services related to products and services. Huzzpa does not have any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the Buyers and Sellers.<br>
        2. Huzzpa would endeavor to have quality checks but does not make any representation or Warranty as to specifics (such as quality, value, salability, etc.) of the products or services proposed to be sold or offered to be sold or purchased on the Website . Huzzpa does not implicitly or explicitly support or endorse the sale or purchase of any products or services on the Website. Huzzpa accepts no liability for any errors or omissions, whether on behalf of itself or third parties.<br>
        3. Huzzpa is not responsible for any non-performance or breach of any contract entered into between Buyers and Sellers .Huzzpa cannot and does not guarantee that the concerned Buyers and/or Sellers will perform any transaction concluded on the Website. Huzzpa shall not and is not required to mediate or resolve any dispute or disagreement between Buyers and Sellers.<br>
        4. Huzzpa does not make any representation or warranty as to the item-specifics (such as legal title, creditworthiness, identity, etc.) of any of its Users.  You are advised to independently verify the bona fides of any particular User that you choose from Huzzpa <br>
        5. Huzzpa does not at any point of time during any transaction between Buyer and Seller on the Website come into or take possession of any of the products or services offered by Seller nor does it at any point gain title to or have any rights or claims over the products or services offered by Seller to Buyer .You shall independently agree upon the manner and terms and conditions of delivery, payment, insurance etc.  With the seller(s) that you transact with on Huzzpa website.<br>
        6. At no time shall Huzzpa hold any right, title or interest over the products nor shall Huzzpa have any obligations or liabilities in respect of such contract entered into between Buyers and Sellers .Huzzpa is not responsible for unsatisfactory or delayed performance of services or damages or delays as a result of products which are out of stock, unavailable or back ordered.<br>
        7. The Website is only a platform that can be utilized by Users to reach a larger base to buy and sell products or services. Huzzpa is only providing a platform for communication and it is agreed that the contract for sale of any of the products or services shall be a strictly bipartite contract between the Seller and the Buyer.<br>
        8. Huzzpa is not responsible for unsatisfactory or delayed performance of services or damages or delays as a result of products which are out of stock, unavailable or back ordered.<br>
        9. You will release and indemnify Huzzpa and/or any of its executives and representatives from any cost, damage, liability or other consequence of any of the actions of the Users of the Website and specifically waive any claims that you may have in this behalf under any applicable law .Notwithstanding its reasonable efforts in that behalf, Huzzpa cannot take responsibility or control the information provided by other Users which is made available on the Website. You may find other User's information to be offensive, harmful, inconsistent, inaccurate, or deceptive. Please use caution and practice safe trading when using the Website.<br><br>

        <b>Fee/Charges</b><br>
        Membership on the Website is free for buyers .Huzzpa does not charge any fee for browsing and buying on the Website.  Huzzpa reserves the right to change its Fee Policy from time to time. In particular, Huzzpa may at its sole discretion introduce new services and modify some or all of the existing services offered on the Website. In such an event Huzzpa reserves the right to introduce fees for the new services offered or amend/introduce fees for existing services, as the case may be changes to the Fee Policy shall be posted on the Website and such changes shall automatically become effective immediately after they are posted on the Website.  Unless otherwise stated, all fees shall be quoted in Indian Rupees. You shall be solely responsible for compliance of all applicable laws including those in India for making payments to Modadome Online Private Limited.<br><br>

        <b>Use of the Website</b><br>
        You agree, undertake and confirm that your use of Website shall be strictly governed by the following binding principles:<br><br>

        1 .You shall not host, display, upload, modify, publish, transmit, update or share any information which: <br>
        (a) belongs to another person and to which You does not have any right to.<br>
        (b) is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever. or unlawfully threatening or unlawfully harassing including but not limited to "indecent representation of women" within the meaning of the Indecent Representation of Women (Prohibition) Act, 1986.<br>
        (c) Is misleading in any way.<br>
        (d) is patently offensive to the online community, such as sexually explicit content, or content that promotes obscenity, pedophilias, racism, bigotry, hatred or physical harm of any kind against any group or individual.<br>
        (e) Harasses or advocates harassment of another person.<br>
        (f) Involves the transmission of "junk mail", "chain letters", or unsolicited mass mailing or "spamming".<br>
        (g) Promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous.<br>
        (h) Infringes upon or violates any third party's rights [including, but not limited to, intellectual property rights, rights of privacy (including without limitation unauthorized disclosure of a person's name, email address, physical address or phone number) or rights of publicity].<br>
        (i) Promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated music or links to pirated music files.<br>
        (k) Provides material that exploits people in a sexual, violent or otherwise inappropriate manner or solicits personal information from anyone.<br>
        (l) Provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses.<br>
        (m) Contains video, photographs, or images of another person (with a minor or an adult).<br>
        (n) Tries to gain unauthorized access or exceeds the scope of authorized access to the Website or to profiles, blogs, communities, account information, bulletins, friend request, or other areas of the Website or solicits passwords or personal identifying information for commercial or unlawful purposes from other users.<br>
        (o)Solicits gambling or engages in any gambling activity which we, in our sole discretion, believe is or could be construed as being illegal.<br>
        (q) Interferes with another USER's use and enjoyment of the Website or any other individual's User and enjoyment of similar services.<br>
        (r) Refers to any website or URL that, in our sole discretion, contains material that is inappropriate for the Website or any other website, contains content that would be prohibited or violates the letter or spirit of these Terms of Use.<br>
        (s) Harm minors in any way.<br>
        (t) Infringes any patent, trademark, copyright or other proprietary rights or third party's trade secrets or rights of publicity or privacy or shall not be fraudulent or involve the sale of counterfeit or stolen products.<br>
        (u) Violates any law for the time being in force.<br>
        (v) Deceives or misleads the addressee/ users about the origin of such messages or communicates any information which is grossly offensive or menacing in nature.<br>
        (w) Impersonate another person.<br>
        (x) Contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource. Or contains any trojan horses, worms, time bombs, cancelbots, or other computer programming routines that may damage, detrimentally interfere with, diminish value of, surreptitiously intercept or expropriate any system, data or personal information.<br>
        (y) Threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation on Huzzpa’s website – www.huzzpa.com. <br>
        (z) Shall not be false, inaccurate or misleading.<br><br>

        2.You shall not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Website or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Website or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Website www.huzzpa.com . We reserve our right to bar any such activity. <br>
        3. You shall not attempt to gain unauthorized access to any portion or feature of the Website, or any other systems or networks connected to the Website or tony server, computer, network, or to any of the services offered on or through the Website, by hacking, password "mining" or any other illegitimate means. <br>
        4. You shall not probe, scan or test the vulnerability of the Website or any network connected to the Website nor breach the security or authentication measures on the Website or any network connected to the Website huzzpa You may not reverse look-up, trace or seek to trace any information on any other User of or visitor to Website, or any other customer, including any account on the Website not owned by You, to its source, or exploit the Website or any service or information made available or offered by or through the Website, in any way where the purpose is to reveal any information, including but not limited to personal identification or information, other than Your own information, as provided for by the Website . <br>
        5. You shall not make any negative, denigrating or defamatory statement(s) or comment(s) about Us or the brand name or domain name used by Us ,or engage in any conduct or action that might tarnish the image or reputation, of Huzzpa or sellers on platform or otherwise tarnish or dilute any Huzzpa's trade or service marks, trade name and/or goodwill associated with such trade or service marks, trade name as may be owned or used by Huzzpa .<br>
        6. You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of the Website or any transaction being conducted on the Website, or with any other person's use of the Website huzzpa <br>
        7. You may not forge headers or otherwise manipulate identifiers in order to disguise the origin of any message or transmittal you send to us on or through the Website or any service offered on or through the Website www.huzzpa.com . You may not pretend that you are, or that You represent, someone else, or impersonate any other individual or entity. <br>
        8.You shall at all times ensure full compliance with the applicable provisions of the Information Technology Act, 2000 and rules thereunder as applicable and as amended from time to time and also all applicable Domestic laws, rules and regulations (including the provisions of any applicable Exchange Control Laws or Regulations in Force) and International Laws, Foreign Exchange Laws, Statutes, Ordinances and Regulations (including, but not limited to Sales Tax/VAT, Income Tax, Octroi, Service Tax, Central Excise, Custom Duty, Local Levies) regarding Your use of Our service and Your listing, purchase, solicitation of offers to purchase, and sale of products or services while using www.huzzpa.com . You shall not engage in any transaction in an item or service, which is prohibited by the provisions of any applicable law including exchange control laws or regulations for the time being in force. <br>
        9. From time to time, You shall be responsible for providing information relating to the products or services proposed to be sold by You in www.huzzpa.com .  In this connection, you undertake that all such information shall be accurate in all respects. You shall not exaggerate or over emphasize the attributes of such products or services so as to mislead other <br>
        10. It is possible other users (including unauthorized users or "hackers") may post or transmit offensive or obscene materials on the Website and that you may be involuntarily exposed to such offensive and obscene materials – For which we may not be held responsible. It also is possible for others to obtain personal information about You due to your use of the Website, and that the recipient may use such information to harass or injure You .We does not approve of such unauthorized uses, but by using the Website You acknowledge and agree that We are not responsible for the use of any personal information that You publicly disclose or share with others on the Website .Please carefully select the type of information that You publicly disclose or share with others on the Website .<br><br>

        <b>Contents Posted on Site</b><br><br>

        All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music and artwork (collectively, "Content"), are third party user generated content and Huzzpa has no control over such third party user generated content. Though some of the content may have been acquired and purchased by Huzzpa.<br><br>

        Except as expressly provided in these Terms of Use, no part of the Website and no Content may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed in any way (including "mirroring") to any other computer, server, Website or other medium for publication or distribution or for any commercial enterprise, without Huzzpa's express prior written consent .<br><br>

        You may use information on the products and services purposely made available on the Website for downloading, provided that You (1) do not remove any proprietary notice language in all copies of such documents, (2) use such information only for your personal, non-commercial informational purpose and do not copy or post such information on any networked computer or broadcast it in any media, (3) make no modifications to any such information, and (4) do not make any additional representations or warranties relating to such documents.<br><br>

        You shall be responsible for any notes, messages, emails, billboard postings, photos, drawings, profiles, opinions, ideas, images, videos, audio files or other materials or information posted or transmitted to the Website (collectively, "Content") . Such Content will become our property and you grant us the worldwide, perpetual and transferable rights in such Content. We shall be entitled to, consistent with Our Privacy Policy as adopted in accordance with applicable law, use the Content or any of its elements for any type of use forever, including but not limited to promotional and advertising purposes and in any media whether now known or hereafter devised, including the creation of derivative works that may include the Content You provide. You agree that any Content You post may be used by us, consistent with Our Privacy Policy and Rules of Conduct on Site as mentioned herein and you are not entitled to any payment or other compensation for such – unless specified and agreed upon with documentation. <br><br>

        <b>Your Content</b><br><br>

        <b>a. Posting content </b><br><br>

        Huzzpa allows you the options and processes to post content, including photos, videos, comments, links, and other materials. Anything that you post or otherwise make available on our Products is referred to as "User Content." And you become solely responsible for, the User Content you post to Huzzpa’s website. You shall not post any content which does not belong to you originally and you have no right or claim to. Huzzpa shall not be held responsible for dispute arising out of conflict in ownership of content posted by you. If need arises Huzzpa has the right to remove the concerned disputable or any content for that matter without informing the owner of the content, at any point of time – without offering any clarification. <br><br>

        <b>b. How can Huzzpa and other users  use your content</b><br><br>

        By posting on www.huzzpa.com you grant Huzzpa and its users , registered or non-registered  a non-exclusive, royalty-free, transferable, sub licensable, worldwide license to use, store, display, reproduce, modify, create derivative works, perform, and distribute your User Content either inside Huzzpa website or or download and store or display in other social media or data storage platforms. You are advised to watermark/hologram or any other technology in your content as identifier and to discourage counterfeiting and non-fair usage.<br><br>

        <b>C. Request for removal of your content</b><br><br>
        You may choose to instruct us to remove your original content from the website, by sending us a mail at hello@huzzpa.com . <br><br>

        <b>Privacy</b><br><br>

        We view protection of your privacy as very important. We understand clearly that You and Your Personal Information is one of our most important assets. We store and process Your Information including any sensitive financial information collected (as defined under the Information Technology Act, 2000), if any, on computers that may be protected by physical as well as reasonable technological security measures and procedures in accordance with Information Technology Act 2000 and Rules . Our current Privacy Policy is available at………………………If You object to Your Information being transferred or used in this way please do not use the www.huzzpa.com website.<br><br>
      </div>
      <hr>
    </div>
  </div>
</div>
