<%= form_for(@user_profile) do |f| %>
  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt2">City</span><br>
        <%= f.select(:location, options_for_select([['Bangalore', 'Bangalore'], ['Chennai', 'Chennai'], ['Delhi', 'Delhi'], ['Hyderabad', 'Hyderabad'], ['Mumbai', 'Mumbai']], @user_profile.location),{include_blank: "Select your city"}, class: 'admin-intxt2 form-control', required: true) %>
    </div><!--col-sm-* end-->
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt">Pincode</span><br>
      <%= f.text_field :pincode, placeholder: 'pincode', class: 'admin-intxt2 form-control' %>
    </div><!--col-sm-* end-->
    <div class="col-sm-4 mob-mgbtm">
      <span class="admin-txt">Profile Image</span><br>
      <%= f.attachment_field :profile_image, direct: true, presigned: true, class: 'admin-intxt2 form-group' %>
      <span id="userImage" class="hashtag"></span>
      <!-- <img src="" height="200" alt="Image preview..."> -->
    </div><!--col-sm-* end-->
  </div>
  <br>
  <span class="admin-txt">About</span><br>
  <%= f.text_area :work_details, placeholder: 'Tell us something about the work.', class: 'admin-txtarea form-control', rows: '10' %>
  <br><br>
  <div class="actions">
    <%= f.submit 'Save', class: 'org-btn2 btn' %>
    <%= link_to 'Cancel', user_profile_path(current_user.user_profile), class: 'grey-btn btn' %>
  </div>
<% end %>
