<p id="notice"><%= notice %></p>

<h1>Listing User Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Work details</th>
      <th>Profile image</th>
      <th>Preference no</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.location %></td>
        <td><%= user_profile.work_details %></td>
        <td><%= user_profile.profile_image_id %></td>
        <td><%= user_profile.preference_no %></td>
        <td><%= user_profile.user_id %></td>
        <td><%= link_to 'Show', user_profile %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
        <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <#%= link_to 'New User profile', new_user_profile_path %> -->
