<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="admin-main-jumbo jumbotron">
        <div class="admin-hd1 ">My Requirements</div>
        <hr>
        <span class="admin-txt2 ">
          <% @user_detail.each do |detail| %>
            <div id="" class="preference-slider category-slider">
              <% if detail.floor_plan_image.present? %>
                <div>
                  <%= image_tag attachment_url(detail, :floor_plan_image, :fill, 300, 300, format: "jpg"), data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %>
                  <br>
                </div><!--slide content-->
              <% else %>
                  No Floor Plan Image Shared <br>
              <% end %>
              <% if FlatImage.where(user_detail_id: detail.id).present?  %>
                <div class="">Uploaded Designs</div><br>
                <div class=" preference-slider ">
                  <!-- <%#= image_tag attachment_url(detail, :flat_image, :fill, 300, 300, format: "jpg"), data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %> -->
                  <% FlatImage.where(user_detail_id: detail.id).each do |i| %>
                    <div>
                      <%= attachment_image_tag(i, :file, :fill, 400, 400 , class: ' img-thumbnail img-pop mytooltip' , rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }) %>
                      <br>
                    </div>
                  <% end %>
                  <br>
                </div><!--slide content-->
              <% else %>
                  No Flat  Image Shared
              <% end %>

            </div><!--preference slider-->
            <div>
              <h4>
                <b> Budget: </b>
                <% if detail.budget == 1 %>
                  5 Lac and Under
                <% elsif detail.budget == 2 %>
                  10 Lac and Under
                <% elsif detail.budget == 3 %>
                  15 Lac and Under
                <% elsif detail.budget == 4 %>
                  15 Lac above
                <% else %>
                 NA
                <% end %>
              </h4>
            </div>
            <div>
              <h4>
                <b> Type of House: </b>
                <% if detail.work_scope.present? %>
                  <%= detail.work_scope[0] %>
                <% else %>
                  NA
                <% end %>
              </h4>
            </div>
            <div>
              <h4>
                <b>  Spaces Interested : </b>
                <% if detail.spaces.present? %>
                <% Category.find(detail.spaces).each_with_index do |categ_id , index| %>
                  <!-- <label class="btn btn-primary"> -->
                    <% if index != 0 %>
                      ,
                    <% end %>
                    <%= categ_id.name %>
                  <!-- </label> -->
                <% end %>
                <% else %>
                  NA
                <% end %>
              </h4>
            </div>
            <div>
              <h4>
                <dt> Description : </dt><dd>
                  <% if detail.description.present? %>
                    <%= detail.description %>
                  <% else %>
                    NA
                  <% end %>
                </dd>
              </h4>
            </div>
          <% end %>
        </span>
      </div>

      <br>

      <div class="admin-main-jumbo jumbotron ">
        <div class="admin-hd1">My Interests</div>
        <hr>
        <span class="admin-txt2">
          <%#= @user_profile.work_details %>
          <% if !@user_interest.empty? %>
            <% @questions.each do |ques| %>
              <div class="container">
                <div class="admin-main">
                  <div class="admin-hd1"><%= ques.name %></div>
                  <hr>
                  <div id="" class="preference-slider category-slider">
                    <% @user_interest.where(question_id: ques.id).each do |catg_images| %>
                      <div>
                        <%= image_tag attachment_url(catg_images.category_item, :image, :fill, 300, 300, format: "jpg"), data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %>
                        <br>
                      </div><!--slide content-->
                    <% end %>
                  </div><!--preference slider-->
                </div>
              </div>
            <% end %>
          <% end %>
        </span>
      </div><!--admin-main-jumbo-->

      <div class="admin-main-jumbo jumbotron ">
        <div class="admin-hd1">My Favourite Products</div>
        <hr>
        <span class="admin-txt2">
          <%#= @user_profile.work_details %>
          <% if !@fav_products.empty? %>
              <div class="container">
                <div class="admin-main">
                  <hr>
                  <div id="" class="preference-slider category-slider">
                    <% @fav_products.each do |fav_product| %>
                      <div>
                        <%= image_tag attachment_url(fav_product.product, :product_image, :fill, 300, 300, format: "jpg"), data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %>
                        <br>
                      </div><!--slide content-->
                    <% end %>
                  </div><!--preference slider-->
                </div>
              </div>
          <% else %>
            <div class="admin-hd1"><center>Not Available</center></div>
          <% end %>
        </span>
      </div><!--admin-main-jumbo-->


    </div><!--col-md-* end-->
  </div>
</div>
