<h4>Hello Admin, Professional <%= vendor.name %> has requested for account activation.</h4>
<hr>
<ul>
  <li>Name: <%= vendor.name %></li>
  <li>Email: <%= vendor.email %></li>
  <li>Phone: <%= vendor.phone %></li>
</ul>
