<h2> User <%= @user.name %>, Wants to Connect with the Professional
    <%= @vendor.name %> </h2>
<hr>
<h4>User Details:</h4>
<p>Name: <%= @user.name %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<hr>
<h4>Vendor Details:</h4>
<p>Name: <%= @vendor.name %> </p>
<p>Phone: <%= @vendor.phone %></p>
<p>Email: <%= @vendor.email %></p>
