<h2> Professional <%= @vendor.name %>, Wants to Connect with the User
    <%= @user.name %> </h2>
<hr>
<h4>User Details:</h4>
<p>Name: <%= @user.name %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<hr>
<h4>Professional Details:</h4>
<p>Name: <%= @vendor.name %> </p>
<p>Phone: <%= @vendor.phone %></p>
<p>Email: <%= @vendor.email %></p>
