<h4>New User has signed up on Huzzpa
  <hr>
  <p>
    Details of the user:
  </p>
  <div class="">
    Name: <%= @user.name %> <br>
    Email: <%= @user.email %> <br>
    Phone: <%= @user.phone %> <br>
  </div>

</h4>
