<% status = @vendor.activate ? "activated" : "deactivated" %>
<h4>Hey <%= @vendor.name %>, Thank you for choosing Huzzpa.</h4>
<p>
 Your Account on Huzzpa has been <%= status %>.</p>
 <% if @vendor.activate %>
  <p>
    Please login to your account and complete the process.
    <a href="http://www.huzzpa.com">Huzzpa</a>
  </p>
 <% else %>
  <p>
    We are sorry but your account on Huzzpa has been <%= status %>.<br>
    contact support team for more information. call-us:: 080-395-12575.
  </p>
 <% end %>
 <p>
   Thank you, <br>
   The Happy Huzzpa Team
 </p>
