<% @title = "Kitchen Interior Designers in Bangalore | Modular Kitchen Design Bangalore" %>
<% @description= "Huzzpa Homes is one of the premium Kitchen Interior Designers in Bangalore. We are known for our best in class modular kitchen design across Bangalore."  %>
<% @keyword = 'kitchen interior designers in bangalore, kitchen design in bangalore, modular kitchen design bangalore' %>

<br>
<div class="container">
  <div class="admin-main-jumbo jumbotron">
  <h1 class="main-sugg-hd2 center-h1 reduced-margin">Modular Kitchen Designers in Bangalore</h1>
  <hr class="myhr">
    <% @category_items.each_slice(3) do |category_items| %>
      <div class="row">
        <% category_items.each do |category_item| %>
          <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
            <div class="sugg-box img-thumbnail">
              <div class="filters">
                <label>
                  <%= image_tag attachment_url(category_item, :image, :fill, 300, 300, format: 'jpg'), alt: "modular kitchen designs" , class: "category-items port-img img-thumbnail"%>
                  <br>
                  <span class="hashtag">
                    <% if category_item.tags.present? %>
                      <% category_item.tags.each do |tag_id| %>
                        #<%= Tag.find(tag_id).name %>
                      <% end %>
                    <% else %>
                      NA
                    <% end %>
                  </span><br>
                </label>
              </div><!-- Filter End -->
            </div>
          </div>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
<br>
<div class="huzzpa_promise ">
  <span class="more">
    Not happy with your current kitchen? Or perhaps, you are shifting elsewhere and want to have a new modular kitchen installed. No matter what your need is, our kitchen interior designers from Bangalore will take care of it. We will work along with you to make a perfect design that take cares of all your space and aesthetic needs.
    The style of modular kitchen design depends on number of factors, few among them are the total available space, layout of kitchen, but most importantly, it depends on how you intend your space to look & function like. Our kitchen interior designers will understand your style preferences and your functional requirements and create a design. And of course, their valuable expertise will always be available.
    Modular kitchen design can come in a range of different varieties. Our interior designers have years of experience of working with all forms of kitchen design. We look at very fine details when designing the kitchen, so be it, the accessories, the fittings, the base cabinets, wall cabinets or the appliances like sink, microwave etc. we consider every minute detail that go into making the perfect modular kitchen.
    The layouts of modular kitchen designs are of five kinds L-shape, parallel, island, U-shape, Single. Say, for example, island design is suitable for the needs of both small and large spaces. The island, which is the main working area, does not come in a standard dimension and can be modified as per the available space.
  </span>
</div>
