<% @title = "TV Unit Design Ideas | Wall-Mounted TV Cabinet Designs" %>
<% @description= "Get best TV Unit Design Ideas @ Huzzpa Homes. Choose from a wide variety sleek, stylish & modern tv cabinet designs. We offer wide range of customised interior designing services" %>
<% @keyword = 'tv unit design ideas, tv cabinet designs, wall mounted tv cabinets' %>

<br>
<div class="container">
  <div class="admin-main-jumbo jumbotron">
  <h1 class="main-sugg-hd2 center-h1 reduced-margin">TV Unit Designs</h1>
  <hr class="myhr">
    <% @category_items.each_slice(3) do |category_items| %>
      <div class="row">
        <% category_items.each do |category_item| %>
          <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
            <div class="sugg-box img-thumbnail">
              <div class="filters">
                <label>
                  <%= image_tag attachment_url(category_item, :image, :fill, 300, 300, format: 'jpg'), alt: "tv unit designs", class: "category-items port-img img-thumbnail"%>
                  <br>
                  <span class="hashtag">
                    <% if category_item.tags.present? %>
                      <% category_item.tags.each do |tag_id| %>
                        #<%= Tag.find(tag_id).name %>
                      <% end %>
                    <% else %>
                      NA
                    <% end %>
                  </span><br>
                </label>
              </div><!-- Filter End -->
            </div>
          </div>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
<br>
