<% @title = "Vanity Unit Designs | Bathroom Interior Design Ideas" %>
<% @description= "Elegant Vanity Unit Designs available @ Huzzpa Homes. Get in touch with us for getting best & modern bathroom interior design ideas. Huge collection of interior design ideas for bathroom" %>
<% @keyword = ' vanity unit designs, bathroom interior design ideas ' %>

<br>
<div class="container">
  <div class="admin-main-jumbo jumbotron">
  <h1 class="main-sugg-hd2 center-h1 reduced-margin">Vanity Unit Designs</h1>
  <hr class="myhr">
    <% @category_items.each_slice(3) do |category_items| %>
      <div class="row">
        <% category_items.each do |category_item| %>
          <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
            <div class="sugg-box img-thumbnail">
              <div class="filters">
                <label>
                  <%= image_tag attachment_url(category_item, :image, :fill, 300, 300, format: 'jpg'), alt: "vanity unit designs", class: "category-items port-img img-thumbnail"%>
                  <br>
                  <span class="hashtag">
                    <% if category_item.tags.present? %>
                      <% category_item.tags.each do |tag_id| %>
                        #<%= Tag.find(tag_id).name %>
                      <% end %>
                    <% else %>
                      NA
                    <% end %>
                  </span><br>
                </label>
              </div><!-- Filter End -->
            </div>
          </div>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
<br>
