<%= form_for(@vendor_work) do |f| %>
  <% if @vendor_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_work.errors.count, "error") %> prohibited this vendor_work from being saved:</h2>

      <ul>
      <% @vendor_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
    <%= f.label :vendor_portfolio_images_files, "Please limit the size of images to 200-300 KB" %><br>
    <%= f.attachment_field :vendor_portfolio_images_files, multiple: true, direct: true, presigned: true, class: 'admin-intxt2 form-group' %><br>
    <em class="text-muted" id="vendorWork">You can upload multiple images.</em>
    <br><br>
    <!-- <#%= f.check_box :remove_vendor_portfolio_images, class: 'admin-intxt2 form-control' %><br> -->
    <!-- <#%= f.label :remove_vendor_portfolio_images %> -->
    <%= f.label :description %><br>
     <%= f.text_area :description, placeholder: 'Something else', class: 'admin-txtarea form-control', rows: '5' %>
    <br>
    <%= f.label :price %><br>
    <%= f.number_field :price, class: 'login-intxt form-control' %>
    <br><br>

    <%= f.submit 'Submit', class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', vendor_works_path, class: 'cancel-btn pad-btn btn' %></span>
<% end %>
