<% @title = "Huzzpa interior |portfolio |bangalore |mumbai" %>

<div class="container" oncontextmenu="return false;">
  <div class="admin-main-jumbo jumbo2 jumbotron">
    <div class="admin-hd1">Portfolio <span>
      <div class="admin-txt">
      Collections of work done by our Top Professionals.
    </div></span></div>
    <hr>
    <% if @vendor_works %>
    <% j = 1 # using j to change the value of carousel slide id value for each new work %>
      <% @vendor_works.each_slice(3) do |vendor_work|%>
        <div class="row">
          <% vendor_work.each do |vendor_works| %>
            <%= link_to public_vendor_profiles_path(vendor_works.vendor_id), class: 'txt-color' do %>
            <div class="col-sm-4 mob-mgbtm">
              <div class="box2">
                <div id="exp<%= j %>" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <% i = 0 %>
                  <div class="carousel-inner" role="listbox">
                    <% vendor_works.vendor_portfolio_images.each do |image|%>
                      <div class="item<%= ' active' if i == 0 %>">
                        <%= attachment_image_tag(image, :file, :fill, 500, 500, {class: 'exp-img port-img img-thumbnail'})%>
                      </div>
                      <% i += 1 %>
                    <% end %>
                  </div><!--carousel inner end-->
                  <ol class="carousel-indicators">
                    <% (0..i-1).each do |i| %>
                      <li data-target="#exp<%= j %>" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
                    <% end %>
                  </ol>
                </div><!--exp1 slider end-->
                <div class="text-right">
                  By <b><%= vendor_works.vendor.name %></b>
                </div>
                <div class="white-box">
                  <div class="row">
                    <div class="col-xs-12 mg-top">
                      <!-- <span><b>Price:</b></span><span class="exper"> &#8377; <#%= vendor_works.price %></span><br> -->
                      <span class=""><%= vendor_works.description %></span>
                    </div><!--col-sm-*-->
                  </div><!--row end-->
                </div><!--white-box end-->
              </div><!--box2-->
            </div><!--col-sm-*-->
          <% end %>
            <% j += 1 %>
          <% end %>
        </div><!--row end-->
      <% end %>
    <% end %>
  </div><!--admin-main-jumbo-->
</div><!--container end-->
<br><br>
