<div class="container">
  <div class="admin-main-jumbo jumbo2 jumbotron">
    <div class="admin-hd1">Portfolio <span>
      <div class="admin-txt">
      By choosing the right images and adding budgets,
      you increase your chances to get call from customers
    </div></span></div>
    <hr>
    <%= link_to 'Add more work', new_vendor_work_path, class: 'org-btn2 btn' %>
    <br><br>

    <% if @vendor_works %>
    <% j = 1 # using j to change the value of carousel slide id value for each new work %>
    <div class="row">
      <% @vendor_works.each do |vendor_works|%>
        <% if @vendor_works.count == 1 %>
          <div class="col-sm-4 col-sm-offset-4 mob-mgbtm thumbnail">
        <% elsif @vendor_works.count == 2 %>
          <div class="col-sm-4 col-sm-offset-1 mob-mgbtm thumbnail">
        <% else %>
          <div class="col-sm-4  mob-mgbtm thumbnail">
        <% end %>
            <div class="box2">
              <div id="exp<%= j %>" class="carousel slide car" data-ride="carousel">
                <!-- Wrapper for slides -->
                <% i = 0 %>
                <div class="carousel-inner" role="listbox">
                  <% vendor_works.vendor_portfolio_images.each do |image|%>
                    <div class="item<%= ' active' if i == 0 %>">
                      <%= attachment_image_tag(image, :file, :fill, 250, 250, {class: 'exp-img port-img img-thumbnail'})%>
                    </div>
                    <% i += 1 %>
                  <% end %>
                </div><!--carousel inner end-->
                <ol class="carousel-indicators">
                  <% (0..i-1).each do |i| %>
                    <li data-target="#exp<%= j %>" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
                  <% end %>
                </ol>
              </div><!--exp1 slider end-->
              <div class="white-box">
                <div class="row">
                  <div class="col-xs-12 mg-top">
                    <!-- <span><b>Price:</b></span><span class="exper"> &#8377; <#%= vendor_works.price %></span><br> -->
                    <span class="vendor_desc">Description : </span>
                    <span class=""><%= vendor_works.description %></span>
                    <br><br>
                    <span><%= link_to 'Edit', edit_vendor_work_path(vendor_works) , class: 'org-btn3 btn' %> &nbsp;&nbsp;</span>
                    <span><%= link_to 'Delete', vendor_works, method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } , class: 'org-btn3 btn'  %></span>

                  </div><!--col-sm-*-->
                </div><!--row end-->
              </div><!--white-box end-->
            </div><!--box2-->
          </div><!--col-sm-*-->
          <% j += 1 %>
      <% end %>
    </div><!--row end-->
    <% else %>
      <h2>You havent added any work.</h2>
    <% end %>
  </div><!--admin-main-jumbo-->
</div><!--container end-->
<br><br>
