<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <h2>Add New Work</h2>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<br><br>
