<div class="container">
  <div class="row">
      <div class="admin-main-jumbo jumbotron">
        <div class="preference-slider">
          <% @vendor_work.vendor_portfolio_images.each do |image|%>
            <div>
                <%= attachment_image_tag(image, :file, :fill, 1000, 1000, {class: 'exp-img port-img img-thumbnail'})%>
            </div>
          <% end %>
        </div>

        </div>

        <p>
          <strong>Description:</strong>
          <%= @vendor_work.description %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @vendor_work.price %>
        </p>
    </div>
</div>
<br><br>
