<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">My Favorite Products</div>
    <hr>
    <% if !@fav_products.empty? %>
        <div class="container">
          <div class="admin-main">
              <% @fav_products.each_slice(4) do |fav_products| %>
                <div class="row">
                  <% fav_products.each do |fav_product| %>
                    <div class="col-sm-3 mob-mgbtm categ_id<%= fav_product.product.category_id %> price_<% if fav_product.product.price.present? %><%= fav_product.product.price %><% else %><%=0%><% end %>" id="<%= fav_product.product.id %>" >
                      <a href="products/<%=fav_product.product.id%>" class="font_color" >
                        <div class="sugg-box img-thumbnail">
                          <div class="filters">
                            <label>
                              <%= image_tag attachment_url(fav_product.product, :product_image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: fav_product.product.description , data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %><br>
                              <br>
                              <div >
                                <div class="col-md-11">
                                  <span class="productbox-hd1 product_id" data-product-id= "<%= fav_product.product.id %>" ><%= fav_product.product.name %></span><br>
                                  <span>Price:</span>
                                  <span class="exper price" data-price="<% if fav_product.product.price.present? %><%= fav_product.product.price %><% else %><%=0%><% end %>">
                                    <% if fav_product.product.price.present? %>
                                      <%= fav_product.product.price %> INR
                                    <% else %>
                                      <%= 'Not Mentioned' %>
                                    <% end %>
                                  </span><br>
                                  <span class="place">Sold By: <%= fav_product.product.seller %></span>
                                </div>
                                <!-- <div class="col-md-3">
                                <%#= check_box_tag 'category_item_id[]', questioner.category_item.id -%>

                                </div> -->
                              </div>
                            </label>
                          </div><!-- Filter End -->
                        </div><!--img-thumbnail End-->
                      </a>
                    </div>
                  <% end %>
                </div>
                <br>
              <% end %>
          </div>
        </div>
    <% else %>
      <div class="admin-hd1"><center>Not Available</center></div>
    <% end %>
  </div>
</div>
