You Have a message from <h4><%= @name %></h1>
  <blockquote>
    " <%= @message %> "
  </blockquote>
<hr>
Contact details of the user:
<ul>
  <li>Name: <%= @name %></li>
  <li>Contact No.: <%= @mobile %> </li>
  <li>Email: <%= @email %></li>
</ul>
