<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name, class: 'login-intxt form-control full-width'  , :required => true %><br><br>
  </div>
  <div class="field">
      <%= f.label :category_id %><br>
      <%= f.select :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, @tag.category_id), { prompt: 'Select category' }, class: 'category-item login-intxt form-control' %><br><br>
  </div>

  <div class="actions">
    <%= f.submit "Create", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', tags_path, class: 'cancel-btn pad-btn btn' %></span>
  </div>
<% end %>
