<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">Tags</div>
      <hr>
      <%= link_to 'Add more', new_tag_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
         <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= tag.category.name %></td>
              <!-- <td><#%= link_to 'Show', question %></td> -->
              <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
              <!-- <td><%= link_to 'Show', tag_path(tag)%> -->
              <!-- <td><%#= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>


<%#= link_to 'New Tag', new_tag_path %>
