<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <h2>New Tags</h2>
        <hr>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<br><br>
<%= link_to 'Back', tags_path %>
