<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-mymd-offset-3 col-md-5">
      <div class="login-box">
        <%= link_to root_path, class: 'close' do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        <div class="login-logo-div">
          <%= image_tag("icons/user.png", class: 'login-logo')%>
        </div>
        <br><br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <%= f.email_field :email, placeholder: 'Email', class: 'login-box-width login-intxt form-control', required: 'required', autofocus: true %>
          <br><br>
          <%= f.password_field :password, placeholder: 'Password',class: 'login-box-width login-intxt form-control', required: 'required', autocomplete: "off" %>
          <br><br>
          <!-- <#% if devise_mapping.rememberable? -%>
            <div class="field">
              <#%= f.check_box :remember_me %>
              <#%= f.label :remember_me %>
            </div>
          <#% end -%> -->
          <center>
              <%= f.submit "Login", class: 'org-btn2 pad-btn btn' %><br> <br>
              <%= link_to omniauth_authorize_path(resource_name, :facebook), class: "btn btn-social btn-facebook" do %>
                <span class="fa fa-facebook"></span> Log in with Facebook
              <% end %>
              <span>
                <%= link_to omniauth_authorize_path(resource_name, :google_oauth2), class: "btn btn-social btn-google" do %>
                  <span class="fa fa-google"></span> Log in with Google
                <% end %>
              </span>
            <br><br>
        <% end %>
            <%= render "devise/shared/links" %>
          </center>

          </div><!--login-box end-->
        </div><!--col-md-6 end-->
      </div><!--row end-->
      <br><br><br>
    </div><!--div container-->
