<%= form_for(@questioner) do |f| %>
  <% if @questioner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questioner.errors.count, "error") %> prohibited this questioner from being saved:</h2>

      <ul>
      <% @questioner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :question_id %><br>

    <%= select_tag(:question_id, options_for_select(Question.all.collect { |c| [c.name, c.id] }, @questioner.question_id), { class: 'category login-intxt form-control' , prompt: 'Select Question' , required: true})  %>
  </div>
  <br>
  <div class="field">
    <%= label_tag  'Category' %><br>
   <%= select_tag(:category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, @questioner.category_item_id), { class: 'category login-intxt form-control' , prompt: 'Select category'  , required: true})  %>

  </div>
  <br>
  <div class="field">
    <%= f.label :category_item_id %><br>
    <div class="category-item-image-view">
    </div>
  </div>

  <br>

  <div class="actions">
    <%= f.submit"Create", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', questioners_path, class: 'cancel-btn pad-btn btn' %></span>
  </div>
<% end %>

<script type="text/javascript">

  $( ".category" ).change(function() {
    url = '/questioners/get_category_item/' + $(this).val();
          $.get(url, function(data) {
            $('.category-item-image-view').html(data);
          });
});
</script>
