<span class="main-sugg-hd2"><span>
<hr class="myhr">
<div class="container">
  <% @category_items.each_slice(2) do |category_items| %>
    <div class="row">
      <% category_items.each do |category_item| %>
        <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
          <div class="sugg-box img-thumbnail">
            <div class="filters">
              <label>
                <%= image_tag attachment_url(category_item, :image, :fill, 200, 200, format: 'jpg'), rel: 'tooltip', title: 'Select multiple images to indicate preferences', data: { 'placement': 'bottom' }, class: "category-items port-img img-thumbnail"%><br>
                <span class="hashtag">
                  <% if category_item.tags.present? %>
                    <% category_item.tags.each do |tag_id| %>
                      #<%= Tag.find(tag_id).name %>
                    <% end %>
                  <% else %>
                    NA
                  <% end %>
                </span><br>
                   <%= check_box_tag 'category_item_id[]', category_item.id -%>
                <span class="icon"><i class="fa fa-check reg-check"></i></span><span class="chbox-txt"> Select</span>
              </label>
            </div><!-- Filter End -->
          </div>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
</div>
<br>
