
<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Questionnaire</div>
      <hr>
    <%= link_to 'Add Questionnaire', new_questioner_path, class: 'org-btn2 btn' %>



          <div class="admin-main-jumbo jumbotron">

            <span class="admin-txt2">
              <%#= @user_profile.work_details %>
              <% if !@ques_cat_id.present? %>
                <% @ques_cat_ids.each do |ques_cat_id| %>
                  <div class="container">
                    <div class="admin-main">
                      <div class="admin-hd1"><h3> <%= Question.find(ques_cat_id[0]).name %></h3></div>
                      <div class="admin-hd1"> <h4>Category :  <%= Category.find(ques_cat_id[1]).name %></h4></div>
                      <%= link_to 'Delete', {:controller => "questioners", :action => 'destroy', :id => ques_cat_id[0] }, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <hr>
                      <div id="" class="preference-slider category-slider">
                        <% @questioners.where(question_id: ques_cat_id[0]).each do |questioner| %>
                          <div>
                            <%= image_tag attachment_url(questioner.category_item, :image, :fill, 300, 300, format: "jpg"), data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %>
                            <br>
                          </div><!--slide content-->
                        <% end %>
                      </div><!--preference slider-->
                    </div>
                  </div>
                <% end %>
              <% end %>
            </span>
          </div><!--admin-main-jumbo-->


  </div>
</div>



<br>
