<h4>Hello <%= @vendor.name %>,</h4><br>
<h4>User <%= @user.name%>,wants to connect with you for his/her interior requirements.</h4>
<h4>Please login to <a href="http://www.huzzpa.com">huzzpa.com</a></h4>
<p>
  Team Huzzpa.
</p>
