<div class="container" <% if !@userprofile.preference_no.nil? %> style="display: none;" <% end %> id="client_form">
  <div class="form-jumbo jumbotron ">
    <div class="row">
      <div class="col-md-5">
          <%= image_tag "form_left.jpg", class: 'img-responsive'%>
      </div>
      <div class= "col-md-7">
        <div class="form_div">
          <br>
          <span class=""><h2>Please Fill Details</h2></span>
          <div id="error_message"></div>
          <br>
          <%= form_for @userdetails , html: {:class => "user_detail_form"} do |f| %>
            <% if @userdetails.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@userdetails.errors.count, "error") %> prohibited this userdetails from being saved:</h2>
                <ul>
                <% @userdetails.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field type_of_house">
               <%= label_tag('', "Type of House", class: "main-sugg-hd2") %>  <br>
            	 <!-- f.collection_radio_buttons ,"work_scop[]", [["2BHK","2 BHK"], ["3BHK","3 BHK"], ["4BHK","4 BHK"],["Villa","Villa"], ["Other","Other"]], :first, :last %> -->
              <!-- <input type="radio" name="work_scope[type]" id="type_2BHK" value="2BHK"> 2 BHK -->
              <div class="row">
                <div class="col-md-2">
                  <input type="radio" value="2BHK" name="user_detail[work_scope][]"  id="user_detail_work_scope_type_2BHK" required="true" class="type_radio_btn with-font">
                  <label for="user_detail_work_scope_type_2BHK"> 2 BHK</label>
                </div>
                <div class="col-md-2">
                  <input type="radio" value="3BHK" name="user_detail[work_scope][]" id="user_detail_work_scope_type_3BHK" required="true" class="type_radio_btn with-font">
                    <label for="user_detail_work_scope_type_3BHK"> 3 BHK</label>
                </div>
                <div class="col-md-2">
                  <input type="radio" value="4BHK" name="user_detail[work_scope][]"  id="user_detail_work_scope_type_4BHK" required="true" class="type_radio_btn with-font">
                  <label for="user_detail_work_scope_type_4BHK"> 4 BHK</label>
                </div>
                <div class="col-md-2">
                  <input type="radio" value="Villa" name="user_detail[work_scope][]" id="user_detail_work_scope_type_villa" required="true" class="type_radio_btn with-font">
                  <label for="user_detail_work_scope_type_villa"> Villa</label>
                </div>
                <div class="col-md-2">
                  <input type="radio" value="Other" name="user_detail[work_scope][]" id="user_detail_work_scope_type_other" required="true" class="type_radio_btn with-font">
                  <label for="user_detail_work_scope_type_other"> Other</label>
                </div>
              </div>
                <!-- <#%= f.radio_button :work_scope, 'email'%>dsfsd -->
            </div>
            <div class="field budget">
              <br>
              <label class="main-sugg-hd2"> Select Budget</label><br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="">
                      <%=radio_button_tag :budget, 1 , false, class: " radio_budget with-font" , id: "radio_5l"%>
                      <label for="radio_5l">5 Lac and Under</label>
                    </div>
                    <%=radio_button_tag :budget, 2 , false, class: " radio_budget with-font"  , id: "radio_10l"%>
                    <label for="radio_10l">10 Lac and Under</label>
                  </div>
                  <div class="col-md-6">
                    <div class="">
                      <%=radio_button_tag :budget, 3 , false, class: " radio_budget with-font" , id: "radio_15l"%>
                      <label for="radio_15l">15 Lac and Under</label>
                    </div>
                    <div>
                      <%=radio_button_tag :budget, 4 , false, class: " radio_budget with-font" , id: "radio_16l" %>
                      <label for="radio_16l">15 Lac above</label>
                    </div>
                  </div>
                </div>
              <%#= f.select :budget, options_for_select([['5 Lac and Under', 1], ['10 Lac and Under', 2],['15 Lac and Under', 3] , ['15 Lac above', 4]]), { prompt: 'Select Budget' }, class: ' login-intxt form-control'  , required: true %>
            </div>
            <div class="field spaces">
              <br>
              <%= label_tag('', "What are the spaces you are looking to design ?", class: "main-sugg-hd2") %> (Optional)<br>
              <div class="btn-group" data-toggle="buttons">
                <% @categories.each do |category| %>
                  <% if category.name == "General" || category.name == "general" %>
                    <label class="btn btn-default client-req-frm active" id = "general_checkbox">
                      <%= f.check_box_tag 'user_detail[spaces][]' , category.id , checked: true %> <%= category.name %>
                    </label>
                  <% elsif category.form_option %>
                    <label class="btn btn-default client-req-frm ">
                      <%= f.check_box_tag 'user_detail[spaces][]' , category.id %> <%= category.name %>
                    </label>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="field floor_plan_image">
              <%= label_tag('', "Upload Floor Plan Image", class: "main-sugg-hd2") %> (Optional)<br><br>
              <%= f.attachment_field :floor_plan_image, direct: true, presigned: true, class: 'login-intxt form-group'  %>
            </div>
            <div class="field upload_design">
               <%= label_tag('', "Upload Designs", class: "main-sugg-hd2") %> (Multiple Files - Optional)<br><br>
              <%= f.attachment_field :flat_images_files, direct: true, multiple: true , presigned: true, class: 'login-intxt form-group  '  %>
            </div>
            <div class="field description">
               <%= label_tag('', "Description ", class: "main-sugg-hd2") %> (Optional)<br>
               <%= f.text_area :description, placeholder: 'Something else', class: 'admin-txtarea form-control', rows: '5' %>
            </div>
            <div class="field">
              <%= f.hidden_field :user_id, :value => current_user.id%>
            </div>
            <div id="form_next">
              <br>
                <button type="button" name="button" onclick="hide_form()" class="grey-btn2 btn-bot-marg  btn col-xs-5   col-sm-offset-1  col-sm-4 "> Cancel</button>
                <button type="button" name="button" id="btn_next" class="frm-org-btn2  btn btn-bot-marg col-xs-5 col-xs-offset-1 col-sm-offset-1 col-sm-4   "> Next</button>
                <br>
            </div>
            <div class="actions proceed_btn">
              <br><br>
                <button type="button" name="button"  class="grey-btn2 btn-bot-marg  btn col-xs-5 col-sm-offset-1  col-sm-4  btn  form_back_btn"> Back</button>
                <%= f.submit"Proceed", class: 'frm-org-btn2 btn-bot-marg col-xs-5 col-xs-offset-1 col-sm-offset-1 col-sm-4 btn ' %><!--  <span><%= link_to 'Cancel', category_items_path, class: 'cancel-btn pad-btn btn' %></span> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div><!--admin-main-jumbo-->
</div><!--container end-->
