<div class="" id="ques_container" >
  <% if @curr_ques.present? %>
    <div id="tempdiv" class="container ">
      <div class="row">
        <div class="col-md-12"> <br>
          <div class="admin-main-jumbo jumbotron" >
            <center>
              <span class="main-sugg-hd2"><%= @curr_ques.name %><span>
                <input value="<%= @curr_ques.id %>" id="quesNo" type="hidden">
                <input value="<%=   @ques_cat_interested_arr %>" id="ques_sequence_array" type="hidden">
                <input value="<%=  @total_no_ques %>" id="total_no_ques" type="hidden">
              <!-- <div><%= @ques_sequence_array %></div> -->
              <hr class="myhr">
              <div class="container">
                <% @curr_ques_images.each_slice(3) do |images| %>
                  <div class="row">
                    <% if @curr_ques_images.count == 2 %>
                    <div class=" col-sm-2 mob-mgbtm" oncontextmenu="return false;">
                      <!-- For extra spcae for 2 items -->
                    </div>
                    <% end %>
                    <% images.each do |image| %>
                      <% if @curr_ques_images.count == 1 %>
                        <div class="col-sm-12 mob-mgbtm" oncontextmenu="return false;">
                      <% elsif  @curr_ques_images.count == 2  %>
                        <div class=" col-sm-4 mob-mgbtm" oncontextmenu="return false;">
                      <% else %>
                        <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
                      <% end %>
                          <div class="sugg-box img-thumbnail">
                            <div class="filters">
                              <label>
                                <%= image_tag attachment_url(image.category_item, :image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: 'Select to view choices from the design library', data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %><br>
                                <span class="hashtag">
                                  <% if image.category_item.tags.present? %>
                                    <% image.category_item.tags.each do |tag_id| %>
                                      #<%= Tag.find(tag_id).name %>
                                    <% end %>
                                  <% else %>
                                    NA
                                  <% end %>
                                </span><br>
                                  <%= check_box_tag 'category_item_id[]', image.category_item.id -%>
                                    <!-- questioner.category_item.description %> -->
                                <span class="icon"><i class="fa fa-check reg-check"></i></span><span class="chbox-txt"> I Like it</span>
                              </label>
                            </div><!-- Filter End -->
                          </div>
                        </div>
                    <% end %>
                  </div>
                  <br>
                <% end %>
              </div>
              <br>
              <% if @total_no_ques > 1 %>
                <button type="button" class ="org-btn2 pad-btn btn getNextQuestion common-btn-all" >Next</button>
              <% else %>
                <button type="button" class ="org-btn2 pad-btn btn updateQuesAns common-btn-all"  >Done</button>
              <% end %>
            </center>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div id="" class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="admin-main-jumbo jumbotron" >
            <center>
              <span class="main-sugg-hd2">NA<span>
              <hr class="myhr">
            </center>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
