<div id="tempdiv">
  <br>
  <span class="main-sugg-hd2"><%= @fetch_next_question.name %><span>
  <input value="<%= @next_seq_no %>" id="arrCurrPos" type="hidden">
  <input value="<%= @ques_no %>" id="quesNo" type="hidden">
  <!-- <div><%= @ques_sequence_array %></div> -->
  <hr class="myhr">
  <div class="container">
    <% @fetch_next_questioner.each_slice(3) do |questioners| %>
      <div class="row">
        <% questioners.each do |questioner| %>
          <div class="col-sm-4 mob-mgbtm" oncontextmenu="return false;">
            <div class="sugg-box img-thumbnail">
              <div class="filters">
                <label>
                  <%= image_tag attachment_url(questioner.category_item, :image, :fill, 300, 300, format: "jpg"), rel: 'tooltip', title: 'Select to view choices from the design library', data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %><br>
                  <span class="hashtag">
                    <% if questioner.category_item.tags.present? %>
                      <% questioner.category_item.tags.each do |tag_id| %>
                        #<%= Tag.find(tag_id).name %>
                      <% end %>
                    <% else %>
                      NA
                    <% end %>
                  </span><br>
                    <%= check_box_tag 'category_item_id[]', questioner.category_item.id -%>
                      <!-- questioner.category_item.description %> -->
                  <span class="icon"><i class="fa fa-check reg-check"></i></span><span class="chbox-txt"> I Like it</span>
                </label>
              </div><!-- Filter End -->
            </div>
          </div>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
  <br>
</div>
