
<%= render 'user_preferences/show_question' %>


<script type="text/javascript">


$(".getNextQuestion").click(function(){
  var selectedImageId = [];
  var quesNo = [];
  $("input:checked").each(function() {
    selectedImageId.push($(this).val());
  });
  quesNo.push(document.getElementById("quesNo").value);
  storeData.push({question_id: quesNo , category_item_id: selectedImageId })

  // var curr_ques_seq_no = document.getElementById("curr_ques_seq_no").value;
  var total_no_ques = document.getElementById("total_no_ques").value;
   var quesSeqArray = document.getElementById("ques_sequence_array").value;
  $("#tempdiv").remove();
  if (total_no_ques > 1 ) {
    $.ajax({
      type: "get",
      url: "/user_preferences/get_next_interest_question/",
      dataType: "html",
      // data: {ques_sequence_array: quesSeqArray , curr_ques_seq_no: curr_ques_seq_no },
      data: { ques_sequence_array: quesSeqArray  },
      success: function(data){
          $('#ques_container').html(data);


            // $('#preference-image').hide('slow');

      },
      error: function (err){}
    });
  }
});

$(".updateQuesAns").click(function(){
  var selectedImageId = [];
  var quesNo = [];
  $("input:checked").each(function() {
    selectedImageId.push($(this).val());
  });
  quesNo.push(document.getElementById("quesNo").value);
  storeData.push({question_id: quesNo , category_item_id: selectedImageId })
  // console.log(storeData);
  $("#tempdiv").remove();
  $.ajax({
    type: "get",
    url: "/user_preferences/update_user_interest" ,
    dataType: "json",
    data: {user_interest: storeData },
    success: function(data){
         window.location.href = ""+data.path_to ;
    },
    error: function (err){}
  });
});
</script>
