<div class="row">
  <span class="main-sugg-hd2">Please Fill Details<span>
       <hr class="myhr">
  <div class= "col-md-offset-2 col-md-8">

  <br><br>
    <%= form_for @userdetails , html: {:class => "user_detail_form"} do |f| %>
      <% if @userdetails.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@userdetails.errors.count, "error") %> prohibited this userdetails from being saved:</h2>

          <ul>
          <% @userdetails.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">

        <%= label_tag('', "Type of House", class: "main-sugg-hd2") %> <br><br>
    	 <!-- f.collection_radio_buttons ,"work_scop[]", [["2BHK","2 BHK"], ["3BHK","3 BHK"], ["4BHK","4 BHK"],["Villa","Villa"], ["Other","Other"]], :first, :last %> -->
      <!-- <input type="radio" name="work_scope[type]" id="type_2BHK" value="2BHK"> 2 BHK -->
        <input type="radio" value="2BHK" name="user_detail[work_scope][]" id="user_detail_work_scope_type_2BHK"> 2 BHK
        <input type="radio" value="3BHK" name="user_detail[work_scope][]" id="user_detail_work_scope_type_3BHK"> 3 BHK
        <input type="radio" value="4BHK" name="user_detail[work_scope][]" id="user_detail_work_scope_type_4BHK"> 4 BHK
        <input type="radio" value="Villa" name="user_detail[work_scope][]" id="user_detail_work_scope_type_villa"> Villa
        <input type="radio" value="Other" name="user_detail[work_scope][]" id="user_detail_work_scope_type_other"> Other

        <!-- <#%= f.radio_button :work_scope, 'email'%>dsfsd -->

      </div>
      <br>

      <div class="field">
        <label class="main-sugg-hd2"> Select Budget</label><br><br>

    	 <%= f.select :budget, options_for_select([['5 Lac and Under', 1], ['10 Lac and Under', 2],['15 Lac and Under', 3] , ['15 Lac above', 4]]), { prompt: 'Select Budget' }, class: ' login-intxt form-control' , required: true  %>
      </div>
      <br>
      <div class="field">
        <%= label_tag('', "Upload Floor Plan Image", class: "main-sugg-hd2") %><br><br>
        <%= f.attachment_field :floor_plan_image, direct: true, presigned: true, class: 'login-intxt form-group'  , required: true  %>
      </div>
      <br>
      <div class="field">
         <%= label_tag('', "Upload Flat Image", class: "main-sugg-hd2") %><br><br>
        <%= f.attachment_field :flat_image, direct: true, presigned: true, class: 'login-intxt form-group' , required: true  %>
      </div>
      <br>

      <div class="field">
        <%= label_tag('', "What are the spaces you are looking to design ?", class: "main-sugg-hd2") %><br><br>

        <div class="btn-group" data-toggle="buttons">

          <% @categories.each do |category| %>
            <label class="btn btn-default client-req-frm ">
            <%= f.check_box_tag 'user_detail[spaces][]' , category.id %> <%= category.name %>
          </label>
          <% end %>
        </div>

      </div>
      <br>

      <div class="field">
         <%= label_tag('', "Description", class: "main-sugg-hd2") %><br><br>
         <%= f.text_area :description, placeholder: 'Something else', class: 'admin-txtarea form-control', rows: '5'  , required: true  %>
      </div>
      <br>

      <div class="field">
        <%= f.hidden_field :user_id, :value => current_user.id%>
      </div>
      <br>

      <div class="actions">
        <%= f.submit"Submit", class: 'org-btn2 pad-btn btn' %><!--  <span><%= link_to 'Cancel', category_items_path, class: 'cancel-btn pad-btn btn' %></span> -->
      </div>
    <% end %>
 </div>
</div>
