
<%= render 'user_preferences/gather_client_req' %>


<!-- ########################################################################### -->
<!-- <% if !current_user.user_profile.preference_no.nil? %> -->
<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">My Preferences
      <button type="button" name="button"  onclick="show_form()" class="btn  org-btn-xs start-over-btn" >Start Over</button>
    </div>

    <hr>
    <% if !@user_interest.empty? %>
      <% @questions.each do |ques| %>
        <div class="">
          <div class="admin-main">
            <div class="answer-hd1"><%= ques.answer %></div>
            <br>
            <div id="" class="preference-slider">
              <% @user_interest.where(question_id: ques.id).each do |catg_images| %>
                <div>
                  <%= image_tag attachment_url(catg_images.category_item, :image, :fill, 400, 400, format: "jpg"), rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail img-pop mytooltip' %>
                  <br><br>
                </div><!--slide content-->
              <% end %>
            </div><!--preference slider-->
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">My Requirements</div>
    <hr>
    <% @user_detail.each do |detail| %>
      <% if detail.floor_plan_image.present? %>
        <div class="admin-hd1">Floor Plan </div><br>
      <% end %>
      <div id="" class="row">
        <% if detail.floor_plan_image.present? %>
          <div class="col-md-3">
            <%= image_tag attachment_url(detail, :floor_plan_image, :fill, 400, 400, format: "jpg"), rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }, class: 'port-img mytooltip img-thumbnail img-pop' %>
            <br>
          </div><!--slide content-->
        <% end %>
        <div class="col-md-9 form-detail-block">
          <div class="user_pre_hd1">
              <div> Budget: </div>
              <div class="user_pre_suhd1">
              <% if detail.budget == 1 %>
                5 Lac and Under
              <% elsif detail.budget == 2 %>
                10 Lac and Under
              <% elsif detail.budget == 3 %>
                15 Lac and Under
              <% elsif detail.budget == 4 %>
                15 Lac above
              <% else %>
               NA
              <% end %>
            </div>
          </div>
          <br>
          <div class="user_pre_hd1">
              <div> Type of House: </div>
              <div class="user_pre_suhd1">
                <% if detail.work_scope.present? %>
                  <%= detail.work_scope[0] %>
                <% else %>
                  NA
                <% end %>
              </div>
          </div>
          <br>
          <div class="user_pre_hd1">
              <div>  Spaces Interested : </div>
              <div class="user_pre_suhd1">
                <% if detail.spaces.present? %>
                <% Category.find(detail.spaces).each_with_index do |categ_id , index| %>
                  <!-- <label class="btn btn-primary"> -->
                    <% if index != 0 %>
                      ,
                    <% end %>
                    <%= categ_id.name %>
                  <!-- </label> -->
                <% end %>
                <% else %>
                  NA
                <% end %>
              </div>
          </div>
          <br>
          <div class="user_pre_hd1">
            <div> Description : </div>
            <div class="user_pre_suhd1">
              <% if detail.description.present? %>
                <%= detail.description %>
              <% else %>
                NA
              <% end %>
            </div>
          </div>
        </div>
      </div><!--preference slider-->
      <br>

      <div>

        <% if FlatImage.where(user_detail_id: detail.id).present? %>
          <div class="admin-hd1">Uploaded Designs</div><br>
          <div class=" preference-slider ">
            <!-- <%#= image_tag attachment_url(detail, :flat_image, :fill, 300, 300, format: "jpg"), data: { 'placement': 'bottom' }, class: 'port-img img-thumbnail' %> -->
            <% FlatImage.where(user_detail_id: detail.id).each do |i| %>
              <div>
                <% if i.file_content_type == "application/pdf" %>
                  <%= attachment_image_tag(i, :file, :fill, 300, 300 , class: ' img-thumbnail img-pop mytooltip', format: "jpg" ,  rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' })  %>
                  <%= link_to "Download file", attachment_url(i, :file, format: "pdf") %>
                <% else %>
                    <%= attachment_image_tag(i, :file, :fill, 300, 300 , class: ' img-thumbnail img-pop mytooltip' ,  rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' })  %>
                <% end %>
                <br>
              </div>
            <% end %>
            <br>
          </div>
        <% end %>
      </div>


    <% end %>
  </div><!--admin-main-jumbo-->
</div><!--container end-->
<!-- <% end %> -->



  <script type="text/javascript">
    window.selectedCount = [];
  </script>
  <!-- <#%= javascript_tag do %>
    <#% if !current_user.vendor_profile.preference_no.to_i.nil? %>
    //  $('.preference-slider').hide();
    <#% end %>
  <#% end %> -->
<script type="text/javascript">
  var storeData = [];

  // $(".getNextQuestion").click(function(){
  //   var selectedImageId = [];
  //   var quesNo = [];
  //   $("input:checked").each(function() {
  //     selectedImageId.push($(this).val());
  //   });
  //   quesNo.push(document.getElementById("quesNo").value);
  //   storeData.push({question_id: quesNo , category_item_id: selectedImageId })
  //
  //   var arrCurrPos = document.getElementById("arrCurrPos").value;
  //   $("#tempdiv").remove();
  //   var quesSeqArray = <%= @ques_sequence_array %>
  //   if (arrCurrPos < quesSeqArray.length-1) {
  //     $.ajax({
  //       type: "get",
  //       url: "/user_preferences/get_question/"+ arrCurrPos,
  //       dataType: "html",
  //       data: {ques_sequence_array: quesSeqArray },
  //       success: function(data){
  //           $('.category-items').html(data);
  //           var categoryVisible = $('#preference-image').is(':visible');
  //
  //           if(categoryVisible === true) {
  //             $('#preference-image').hide('slow');
  //           }
  //           var arrCurrPos = document.getElementById("arrCurrPos").value;
  //
  //           if (arrCurrPos == quesSeqArray.length-1) {
  //               $(".getNextQuestion").remove();
  //               $(".updateQuesAns").show();
  //           }
  //       },
  //       error: function (err){}
  //     });
  //   }
  // });



  $(".updateQuesAns").click(function(){

    var selectedImageId = [];
    var quesNo = [];
    $("input:checked").each(function() {
      selectedImageId.push($(this).val());
    });
    quesNo.push(document.getElementById("quesNo").value);
    storeData.push({question_id: quesNo , category_item_id: selectedImageId })
    // console.log(storeData);
    $("#tempdiv").remove();
    $(".updateQuesAns").remove();

    $.ajax({
      type: "get",
      url: "/user_preferences/update_user_interest" ,
      dataType: "html",
      data: {user_interest: storeData },
      success: function(data){
        // location.reload();
           $.ajax({
            type: "get",
            url: "/user_preferences/get_client_requirement",
            dataType: "html",

            success: function(data){
               $('.client-req').html(data);
            },
            error: function (err){}
          });


      },
      error: function (err){}
    });
  });
</script>
