<% @results.each do |res| %>
<% @users.find { |v| v.id == res[:user_id] } %>
<% end %>
<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <%= link_to vendor_preferences_path do %>
      <span class="main-sugg-hd1">Preferences /</span>
    <% end %>
    <span class="main-sugg-hd2">Suggested Users</span>
    <hr class="myhr">
    <br>
    <% if @users.count < 3 then count_is_less = true else count_is_less = false end %>
    <% @users.each_slice(3) do |users| %>
      <div class="row">
        <% i = 0 %>
        <% users.each do |user|%>
          <% if count_is_less == true %>
            <div class="<%= 'col-md-offset-2' if i == 0 %> col-md-4 mob-mgbtm">
          <% else %>
            <div class="col-md-4 mob-mgbtm" >
          <% end %>
              <div class="sugg-box img-thumbnail">
                <% if !user.user_profile.profile_image_id.nil? %>
                  <%= image_tag attachment_url(user.user_profile, :profile_image, :fill, 300, 300, format: 'png'), class: 'admin-prof-img img-thumbnail' %>
                <% else %>
                  <%= image_tag "default.png", class: 'admin-prof-img img-thumbnail' %>
                <% end %>
                <br><br>
                <span class="suggbox-hd1"><%= user.name %></span>
                <% if !user.user_profile.location.nil? && user.user_profile.location != "Location of the work" %>
                  <span class="exper">, <%= user.user_profile.location %></span>
                <% end %>
                <br>
                <span><%= truncate("#{user.user_profile.work_details}", length: 35) %></span><br>
                <!-- Connect button for users -->
                <span>
                  <%= form_tag(controller: "matched_users", action: "connect") do %>
                    <%= hidden_field_tag(:user_id, "#{user.id}") %>
                  <br>
                    <%= button_tag(type: 'submit', class: 'sm-green-btn btn') do %>
                    Lets Connect <i class="fa fa-paper-plane"> </i>
                    <% end %>
                  <% end %>
                </span>

              </div><!--sugg-box-->
          </div><!--col-md-* end-->
          <% i = 1 %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>
