// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green : #3cb879;
$white : #fff;
.download-btn,
.download-btn:hover,
.download-btn:active,
.download-btn:focus {
  background: $green;
  border: 0 !important;
  border-radius: 3px !important;
  color: $white !important;
  outline: 0 !important;
  padding: 10px 20px;
  font-size: 16px !important;
  vertical-align: bottom !important;
}

#show_profile .modal-content{
  width: 100%;
  padding: 10px;
}
#show_profile .modal-dialog{
  width: 100%;
}
#show_profile img{
  // height: 100px;
}
