/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require bootstrap-select
 *= require bootstrap3-switch
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
 label{
  font-weight: inherit;
 }
 input[type="radio"]{
   margin: 0 10px 0 10px;
 }

 @import "bootstrap3-switch";

.alert-alert {
  background-color: rgba(223, 240, 216, 0);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
  transition: all 0.5s ease-in-out;

  .close,
  .close:hover {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    opacity: 1;
    background: none;
  }
}

.alert-notice {
  background-color: rgba(255, 255, 255, 0);
  border-color: #3CB879;
  color: #3CB879;
  font-size: 16px;
  text-align: center;
  transition: all 0.5s ease-in-out;

  .close,
  .close:hover {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #3CB879;
    opacity: 1;
    background: none;
  }
}
.main-jumbo {
  background-image: image-url("home/1.png");
}
.about-jumbo{
  background-image: image-url("home/about.jpg");
}

.hashtag{
  font-size: 14px;
  color: #3cb879;
}

.input-group-addon{
  background-color: #FFF;
}

.tooltip-inner {
   background-color: #f37022;
   color: #fff;
}.tooltip.top .tooltip-arrow {
   border-top-color: #f37022;
}.tooltip.right .tooltip-arrow {
   border-right-color: #f37022;
}.tooltip.bottom .tooltip-arrow {
   border-bottom-color: #f37022;
}.tooltip.left .tooltip-arrow {
   border-left-color: #f37022;
}
.chat_box{

position: absolute;
    bottom: 20px;
    right: 60px;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.img_popup_close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.img_popup_close:hover {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fffff;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.team_close{
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
}
button.team_close{
  padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.chat_usr_btn{
  padding: 2px !important;
  float: right;

}
.chat_name_tab{
  float: left;
  padding-left: 10px;
  padding-right: 33px;
}

.chat_name_tab > li.active > a,
.chat_name_tab > li.active > a:hover,
.chat_name_tab > li.active > a:focus {
 background:#f37022;
 color: white;
}

#chat_close_btn{
  float: right !important;
}
.chat_btn{
  border-radius: 17px;
  cursor: pointer;
}
#floatdiv{
  position: fixed;
  width: 350px;
  right: 10px;
  padding: 2px;
  bottom: 0px;
  height: auto;
  background-image: image-url("chat_bg.jpg");
  border:1px solid rgba(118, 118, 118, 0.32);
  display: none;
  z-index:100
}
.common-font-all{
  background: transparent;
  border: 0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  outline: 0 !important;
  box-shadow: none !important;
}
.common-btn-all{
  border: 0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  outline: 0 !important;
  box-shadow: none !important;
}
.common-font-color{
  color: #767676 !important;
}
#chat_notification_icon{
  position: absolute;
  right: 0px;
  top: 0px;
  // visibility: hidden;
}
.img-pop{
  cursor: pointer;
}

// Remove next & prev button of pagination while scrollling up
.chatboxcontent .pagination {
  .next,
  .prev{
    display: none;
  }
}

.subscribe_thanks{
  color: #3cb879;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px){
  .jumbotron h1 {
      font-size: 40px;
  }
  .jumbotron .h1 {
      font-size: 25px !important;
  }
}

.center-h1{
  text-align: center;
}
