.blog-main-jumbo{
  border-radius: 0px !important;
  padding: 0px 0px !important;
  background: #fff !important;
}
.blog-sidebar-jumbo {
  background: #fff !important;
  border-radius: 3px !important;
  padding: 14px 15px !important;
}

.blog-sub-jumbo{
  border-radius: 0px !important;
  padding: 10px 10px !important;
  background: #fff !important;
}
.blog-categ-hd1{
  font-size: 15px;
  font-weight: 600;
}
.blog-categ-sub-hd{
  font-size: 15px;
  font-weight: 400;
}
.sidebar-list{
  padding-left: 0px;
}
.sidebar-item{
  line-height: 1.25;
  position: relative;
  z-index: 0;
  display: block;
  color: #333;
}
.sidebar-item.active a{
  color: #3cb879;
}
.sidebar-item-label{
  word-wrap: break-word;
  display: block;
  padding: 4px 4px;
  padding-left: 0px;
  color: #333;
}

.sidebar-item-label:hover,
.sidebar-item-label:focus{
  word-wrap: break-word;
  display: block;
  padding: 4px 4px;
  padding-left: 0px;
  color: #33b877;
}


.blog-main-jumbo2{
  background: #fff !important;
  border-radius: 3px !important;
  padding: 28px 75px !important;
}
.first-blog{
  position: relative;
}
.first-blog-img{
  position: relative;
}
.first-blog-title{
  position: absolute;
  top: 30%;
  text-align: center;
  color: #fff;
  font-size: 41px;
  line-height: 42px;
  display: block;
  zoom: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  font-weight: 400;
}

@media only screen and (max-width: 700px){
  .first-blog-title{
    font-size: 13px;
    line-height: 21px;
  }
}

.sidebar-item a,a:active {
  color: #000 ;
}
.sidebar-item  a:hover, a:focus {
  color: #3cb879;
}


.first-blog-content{
  position: absolute;
  bottom: 0px;
  color: #fff;
  text-align: center;
}
.first-blog-content-text > p{
  margin: 0 0 0px ;
}
.first-blog-content-text {
  background-color: rgba(0, 0, 0, 0.21);
  padding: 14px 31px;
  font-size: 16px;
  text-align: left;
}
.first-blog-content-btn{
  background-color: rgba(0, 0, 0, 0.21);
  padding: 19px;
}
@media only screen and (max-width: 700px){
  .first-blog-content-btn{
    padding: 5px;
  }
}

.blog-in-main{
  padding: 20px 80px;
  background-color: #fff;
}
.full-story-btn{
  color: #ffffff;
  background-color: #3cb879;
  border-color: #3cb879;
}
.blog-sub-title{
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.blog-sub-title:hover{
  color: #3cb879;
}
.blog-sub-subtitle,
.blog-sub-author{
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.blog-sub-full-link{
  color: #3cb879;
  font-size: 16px;
  font-weight: 600;
}
.blog-sub-full-link:hover{
  color: #000;
}
.replies {margin-left: 50px;}

.blog-show-title{
  font-size: 30px;
  font-weight: 400;
}
.blog-show-subtitle{
  font-size: 17px;
  font-weight: normal;
  margin-top: 12px;
}
.blog-show-header{
  margin-bottom: 10px;
}
.blog-show-content{
  font-size: 17px;
  line-height: 1.5;
  color: #000;
  margin-top: 20px
}
.blog-sub-img{
  width: 100%;
  height: 260px;
}
.sub-category,
.sub-category a{
  font-size: 14px;
  color: #33b877;
}

.sub-category{
  margin-bottom: 4px;
}
.sub-category-icon{
  font-size: 10px;
}
.blog-top-links{
  margin-bottom: 10px;
  color: rgba(51, 184, 119, 0.64);
}
.blog-top-links a{
  color: #33b877;
}
.visitor{
  margin: 10px;
  float: right;
  font-size: 12px;
  font-weight: 700;
  color: #929292;
  cursor: pointer;
}
.sidebar-sub-items{
  margin-left: 10px;
}
.comment_count{
  font-size: 20px;
  font-weight: 600;
}
.blog_date{
  font-size: 12px;
  color: #8b9294;
  padding: 1px;
}
.blog_author{
  font-size: 15px;
  font-weight: 600;
}
.blog-hr-top{
  margin-top: 10px;
  margin-bottom: 3px;
}
.blog-hr-bottom{
    margin-top: 3px;
}
.sidesub-items{
  padding-left: 18px;
}

 section {
        width: auto !important;
      }
.graf-image{
  display: block;
  max-width: 100%;
  height: auto;
}
.markup--anchor{
  display: none;
}
.section p {
  font-size: 17px;
  font-weight: normal;
  margin-top: 12px;
}
