/*radio btns*/
input[type=radio].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=radio].css-checkbox + label.css-label {
  padding-left:25px;
  height:20px;
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:18px;
  font-weight: 300;
  vertical-align:middle;
  cursor:pointer;

}
input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}
label.css-label {
background-image:url(../img/icons/radio.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.icons{
  margin-top: -8px;
  margin-right: 5px;
  margin-left: 3px;
}
/*radio btns*/

/* chkbox */
/* Core */

.filters input {
  display: none;
}

.filters .icon {
  text-align: center;
  display: inline-block;
}

.filters .icon .fa {
  visibility: hidden;
}

.filters input:checked + .icon .fa {
  visibility: visible;
}


/* IE8 and lower disabling hack because it does not support the :checked selector */

.filters input {
  display: inline\9;
}

.filters .icon {
  display: none\9;
}


/* Optional */

.filters {
  /* prevent accidental selection when clicking */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.filters label {
  cursor: pointer;
}


/* Checkbox styling */

.filters input {
    margin: 0 .1em; /* Use something similar to .icon */
}

.filters .icon {
  background: #FFF;
  border: 1px solid;
  border-color: #9D9D9D;
  border-radius: 0.3em;
  text-align: center;
  font-size: 9px;
  color: #3CB879;
  margin: 0px 0.1em;
  height: 5px;
  width: 5px;
  padding: 10px;
  line-height: 1px;
}
.reg-check{
  font-size: 17px !important;
  margin-top: -8px;
  margin-left: -9px;
}
.chbox-txt{
  font-size: 18px;
  font-weight: 300;
}
/* chkbox End*/
