
.chat_state_btn{
  float: right !important;
}
.frm_update_chat_state{
  display: inline-block;
}

.user_name_nav > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background: #f37022;
    color: #fff !important;
}
.chat_user_profile_img{
  margin-left: 10px;
}

.user_name_nav{
  font-size: 13px !important;
}
.download_file{
  color: #33b877;
}
#mynotice{
  color: #33b877;
  font-size: 14px;
}
.change_state_btn{
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555555;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#chat-history-container{
  min-height: 500px;
}
.chat-user-name{
  margin-top: 4px;
}
.chat_hd{
  padding-bottom: 0px !important;
}
.chat_hd:hover{
  border-color: rgba(240, 248, 255, 0)  !important;
}
.width_auto{
  width: auto !important;
}
#project_phase{
  color: #000;
  font-weight: 700;
}
.vendor_chat_hd{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

@media (max-width: 768px){
  #chat-history-container {
    min-height: 325px;
  }
}

.message_content{
  font-size: 17px;
  margin: 5px;
  font-weight: 500;
}
.message_download_btn{
  margin: 5px;
}
