.blog_profile_img {
  width: 25px !important;
  height: 25px !important;
  margin-top: 0px !important;
}
.comment_box{
  padding-top: 4px;
  padding-left: 15px;
  padding-bottom: 2px;
}
.comment_box hr {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.content{
  margin: 2px;
  margin-left: 50px;
}
.replies .comment_box{
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}
.replies .comment_box hr {
  margin-top: 2px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.comment_buttons {
  padding-left: 35px;
}
.replies .reply-comment{
  display: none;
}
