// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-image-type{
  // display: none;
}
.org-btn3 {
  background: #f37022;
    border: 0 !important;
    border-radius: 3px !important;
    color: #fff !important;
    outline: 0 !important;
    padding: 2px 14px !important;
    font-size: 14px !important;
    vertical-align: bottom !important;
}
.org-btn4{
  background: #f37022;
    border: 0 !important;
    border-radius: 3px !important;
    color: #fff !important;
    outline: 0 !important;
    padding: 2px 14px !important;
    font-size: 16px !important;
    vertical-align: bottom !important;
}
.chat_image_upload_status{
  color: #3c763d;
}
