$black : #000;
$bgcolor : #ecf0f1;
$grey2 : #767676;
$green : #3cb879;
$orange : #f37022;
$social: #a7b5bb;
$white : #fff;
$hr-color : #d5d5d5;

// general
@media screen and (max-width: 992px){
  .mob-mgbtm-foo {
    margin-bottom: 25px;
    text-align: center;
  }
}

.footer {
  background-color: $white;
  padding: 29px 0 18px;
}

.foo-hd {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}

.foo-txt,
.foo-txt a {
  color: $black;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 8px;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.foo-intxt,
.foo-intxt:focus {
  background: $bgcolor;
  border: 0;
  border-radius: 2px;
  box-shadow: none !important;
  font-size: 17px;
  height: 42px;
}

.org-btn,
.org-btn:hover,
.org-btn:active,
.org-btn:focus {
  background: $orange;
  border: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $white !important;
  margin-left: -4px;
  outline: 0 !important;
  padding: 11px 20px;
}

.foo-social a {
  color: $social;
  font-size: 22px;
  margin-right: 15px;
}

// social icons colors
.fb {
  color: #356399;
}

.tw {
  color: #55ACEE;
}

.pin {
  color: #CA2127;
}

.insta {
  color: #895A4D;
}

.google {
  color: #EA4335;
}

.copyright-font {
  font-size: 15px;
  font-weight: 300;
}
.link{
  color: #007AB9;
}

.you{
  color: #E62117;
}
