// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

$black : #000;
$bgcolor : #ecf0f1;
$grey2 : #767676;
$green : #3cb879;
$orange : #f37022;
$social: #a7b5bb;
$white : #fff;
$hr-color : #d5d5d5;

//general
body {
  background: $bgcolor;
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  outline: 0;
  text-decoration: none;
}


.logo {
  margin-top: 1px;
}

.nav  li  a:hover,
.nav  li  a:focus {
  background: transparent;
  text-decoration: none;
}

.navbar-portal {
  background-color: $green;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 60px;

  .navbar-brand {
    padding: 0 !important;
  }

  .navbar-nav {
    margin-top: 10px;

    a {
      color: $white !important;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }

  .navbar-collapse {
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 25px;
  }

  .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent !important;
  }

  .navbar-toggle {
    border-color: $white !important;
    margin-top: 15px;
    border-radius: 3px;

    .icon-bar {
      background-color: $white !important;
    }
  }
}// navbar-portal

//Animated menu icon for mob start
.navbar-toggle {
  background: transparent !important;
  border: none;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    transition: all .2s;
    width: 22px;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}
//Animated menu icon for mob end



.outline-btn,
.outline-btn:hover,
.outline-btn:focus, {
  background: rgba(0, 0, 0, 0) !important;
  border: solid 1px $white;
  margin-top: 5px;
  padding: 10px 20px !important;
}

@media screen and (max-width: 992px) {
  .mob-mgbtm3 {
    margin-bottom: 15px;
    text-align: center !important;
  }
  .mob-mgbtm3 table {
    margin: 0px auto;
  }

}

.head-prof-img {
  width: 115px;
  height: 115px;
}
.dropdown-menu{
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  margin-top: -1px !important;
  li a {
    color: white;
  }
  li:hover{
    background: white;
    a{
      color: black !important;
    }
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

 .profile_img{
   width: 30px;
   height: 30px;
   margin-top: -4px;
   margin-left: 4px;
 }
 .prof-desc-hd {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
    color: #767676;
    margin-top: 7px !important;
}
.user-desc-hd {
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   padding-left: 15px;
   color: #767676;
   margin-top: 4px;
}
.user-detail{
  text-align: center;
}
.org-btn-xs{
  background: #f37022;
  border: 0 !important;
  border-radius: 3px !important;
  color: #fff !important;
  outline: 0 !important;
  padding: 2px 14px !important;
  font-size: 12px !important;
  vertical-align: bottom !important;
}
.admin-header2{
  background: #fff !important;
  padding: 14px 14px !important;
  padding-bottom: 4px !important;
}
.hearder2-right{
  padding-top: 10px;
}
#setting-btn{
  background-color: #3cb879;
  border-color: rgba(240, 248, 255, 0);
  margin-top: 7px;
  width: 100%;
}
#setting-icon{
  color: #fff;
  font-size: 23px;
}
#setting-menu{
  background-color: #3cb879;
  border-color: rgba(243, 112, 34, 0);
  border-top-color: #fff;
}
.user-name-hd{
  font-size: 16px;
  font-weight: 500;
  // text-transform: uppercase;
  color: #fff;
  font-style: normal;
}
.start-over-btn{
  font-size: 15px !important;
}
#setting-menu-main{
  background-color: rgba(60, 184, 121, 0);
  border-color: rgba(243, 112, 34, 0);
}
#setting-btn-main {
  background-color: rgba(60, 184, 121, 0);
  border-color: rgba(240, 248, 255, 0);
  margin-top: 7px;
  width: 100%;
}
.blog-dropdown{
  background-color: #fff;
}
.dropdown .blog-dropdown > li >  a{
  color: #3cb879 !important;
}
.blog-dropdown > li:hover{
  background-color: #3cb879;
}
.blog-dropdown > li:hover >a{
  color: #fff !important;
}
