// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Developer
// @ashwinkshenoy & @abhinay


//General
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

$black : #000;
$bgcolor : #ecf0f1;
$green : #3cb879;
$orange : #f37022;
$social: #a7b5bb;
$white : #fff;
$grey2 : #767676;
$hr-color : #d5d5d5;

pre {
  display: none;
}

.jumbo-mgbtm0 {
  margin-bottom: 0;
}

.home-div {
  font-family: 'Roboto', sans-serif;
}

.main-jumbo {
  background-size: cover !important;
  margin-bottom: 0;
  padding: 0;
  @extend .jumbo-mgbtm0;
}

.navbar-home {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 60px;

  .nav  li  a:hover,
  .nav  li  a:focus {
    background: transparent;
    text-decoration: none;
  }

  .navbar-brand {
    padding: 0 !important;
  }

  .navbar-nav {
    margin-top: 12px;

    a {
      color: $white !important;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }

  .navbar-collapse {
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 25px;
  }

  .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent !important;
  }

  .navbar-toggle {
    border-color: $white !important;
    margin-top: 15px;
    border-radius: 3px;

    .icon-bar {
      background-color: $white !important;
    }
  }
}
.square{
  border-radius: 0%;
}
// navbar-portal

.main-content {
  padding-bottom: 25vh;
  padding-top: 17vh;

  //carousel
  .h-slide {
    padding: 10px 38px;
    text-align: center;
  }

  .carousel-indicators {
    bottom: -90px;
  }
  //carouselEnd
}

.home-hd1 {
  color: $white;
  font-size: 45px;
  font-weight: 600;
}
.get-started-hd {
  color: $white;
  font-size: 40px;
  font-weight: 600;
}

.home-txt1 {
  color: $white;
  font-size: 21px;
  font-weight: 300;
}

.mg-btn {
  margin-left: 15px;
  margin-right: 15px;
}

// jumbo1


.jumbo1 {
  background: $white;
  @extend .jumbo-mgbtm0;

  .pad-lr {
    padding: 10px 35px !important;
  }

  .jumbo1-hd {
    color: $green;
    font-size: 40px;
    font-weight: 500;
  }

  .jumbo1-txt1 {
    font-size: 20px;
    font-weight: 300;
  }

  .box {
    background-size: cover;
    color: $white;
    font-size: 25px;
    font-weight: 600;
    height: 285px;
    padding: 105px 15px;
  }

  .j1box-txt {
    margin-top: 20px;
    transition: .3s all ease-in-out;
    text-shadow: 1px 1px 6px #060606;
  }

  .btn-overlay {
    opacity: 0;
    transition: .3s all ease-in-out;
  }

  .box:hover {

    .j1box-txt {
      margin-top: 0;
      transition: .3s all ease-in-out;
      text-shadow: 1px 1px 6px #060606;
    }

    .btn-overlay {
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
  }
  .wardrobe{
    background-image: image-url("home/areas/wardrobe.png");
  }
  .vanity_unit{
    background-image: image-url("home/areas/bathroom.jpg");
  }
  .shoe_cabinet{
    background-image: image-url("home/areas/cabinet.jpg");
  }
  .study_unit{
    background-image: image-url("home/areas/study_room.jpg");
  }
  .kitchen{
    background-image: image-url("home/areas/kitchen.png");
  }
  .tv_unit{
    background-image: image-url("home/areas/living_room.jpg");
  }
  .crockery_unit{
    background-image: image-url("home/areas/dining_area.png");
  }


}
.white-btn,
.white-btn:hover,
.white-btn:active,
.white-btn:focus {
  background: rgba(0, 0, 0, 0);
  border: solid 2px $white;
  border-radius: 3px;
  color: $white !important;
  font-size: 17px;
  outline: 0 !important;
  margin-top: 10px;
  padding: 6px 20px;
}

// jumbo2

.jumbo2 {
  padding: 40px 10px;
  @extend .jumbo-mgbtm0;
  .jumbo2-hd {
    color: $green;
    font-size: 30px;
    font-weight: 500;
  }

  .jumbo2-txt1 {
    font-size: 20px;
    font-weight: 300;
  }

  .exp-img {
    width: 100%;
  }

  .box2 {
    background: $white;

    .white-box {
      padding: 15px 10px;

      .name {
        font-size: 20px;
      }

      .place {
        font-size: 17px;
        font-weight: 300;
      }

      .exper {
        color: $green;
      }

      .mg-top {
        margin-top: 8px;
      }
    } //white-box
  } //box

} //jumbo2

// jumbo3
.jumbo3 {
  @extend .jumbo-mgbtm0;
  background-image: image-url("home/logo.png");
  background-size: cover;

  .jumbo3-content {
    padding-bottom: 15vh;
    padding-top: 15vh;
  }

  .jumbo3-hd1 {
    @extend .home-hd1;
  }

  .jumbo3-hd2 {
    @extend .home-txt1;
  }
} // jumbo3

//jumbo4 - Testimonials
.jumbo4 {
  @extend .jumbo-mgbtm0;
  background: $green;

  .jumbo4-hd {
    color: $white;
    font-size: 30px;
    font-weight: 500;
  }

  .jumbo4-txt1 {
    color: $white;
    font-size: 20px;
    font-weight: 300;
  }

  #testi {
    padding: 0 60px;
  }

  .testi-main-img {
    width: 100%;
  }

  .quote {
    color: $white;
    font-size: 30px;
    margin-right: 15px;
  }

  .testi-txt {
    color: $white;
    font-size: 20px;
    font-weight: 400;
  }

  //carousel
  @media screen and (min-width: 992px){
    .col-mymd-offset-2 {
      margin-left: 12.666667%;
    }
  }

  .testi-img {
    width: 80px;
  }

  .testi-name {
    color: $white;
    font-size: 20px;
    font-weight: 300;
  }
}//jumbo4

@media screen and (max-width: 992px){
  .jumbo4 {
    padding-left: 0;
    padding-right: 0;
  }
}
//jumbo4 end

//jumbo5
.jumbo5 {
  @extend .jumbo-mgbtm0;
  background: $white;

  .jumbo5-hd {
    color: $green;
    font-size: 30px;
    font-weight: 500;
  }

  .jumbo5-txt1 {
    font-size: 20px;
    font-weight: 300;
  }

}//jumbo5

.company-slider {
  .slick-slide:focus {
    outline: 0;
  }

  img {
    margin: 0 auto;
    outline: 0;
    width: 90% !important;
  }

  .slick-next,
  .slick-next:hover,
  .slick-next:focus {
    background-image: image-url("home/icons/right.png");
    height: 32px;
    width: 23px;
  }

  .slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    background-image: image-url("home/icons/left.png");
    height: 32px;
    width: 23px;
  }
}//company-slider

//jumbo6
.jumbo6 {
  @extend .jumbo-mgbtm0;
  background-image: image-url("home/3.png");
  background-size: cover;

  .jumbo6-hd {
    color: $green;
    font-size: 30px;
    font-weight: 500;
  }

  .bg-color {
    background: $white;
    padding: 35px;
  }

  .cont-txt1 {
    font-size: 20px;
    font-weight: 400;
  }

  .cont-txt2 {
    font-size: 17px;
    font-weight: 300;
  }

  .in-txt {
    background: $bgcolor;
    border: 0;
    border-radius: 2px;
    box-shadow: none !important;
    font-size: 18px;
    height: 42px;
  }

  .in-tarea {
    background: $bgcolor;
    border: 0;
    border-radius: 2px;
    box-shadow: none !important;
    font-size: 18px;
    resize: vertical;
  }

}
.green-btn,
.green-btn:hover,
.green-btn:active,
.green-btn:focus {
  background: $green;
  border: 0 !important;
  border-radius: 3px;
  color: $white !important;
  font-size: 16px;
  outline: 0 !important;
  padding: 10px 20px;
  vertical-align: bottom;
}

.sm-green-btn,
.sm-green-btn:hover,
.sm-green-btn:focus{
  background: $green;
  border: 0 !important;
  border-radius: 3px;
  color: $white !important;
  width: 100%;
  font-size: 14px;
  outline: 0 !important;
  // padding: 10px 20px;
  // vertical-align: bottom;
}
//About Us Page
//Team Section
.abt-hd1 {
  color: $green;
  font-size: 30px;
  font-weight: 500;
}
.abt-txt1 {
  font-size: 20px;
  font-weight: 300;
}

.responsive {
  .slick-prev,
  .slider2 .slick-prev:hover,
  .slider2 .slick-prev:focus {
    background-image: image-url("home/icons/left.png") !important;
    height: 32px;
    width: 23px;
  }

  .slick-next,
  .slider2 .slick-next:hover,
  .slider2 .slick-next:focus {
    background-image: image-url("home/icons/right.png") !important;
    height: 32px;
    width: 23px;
  }

  .slick-slide:focus {
    outline: 0;
  }


}//Responsive slider
  .slick-initialized .slick-slide {
    text-align: -webkit-center !important;
    text-align: -moz-center !important;
    text-align: center;
  }

.team {
  cursor: pointer;
}

.team-outer {
  height: 260px;
  width: 260px;
}
.lisa{
  background-image: image-url("home/team/Lisa.jpg");
  background-repeat: no-repeat;
}
.rashmi{
  background-image: image-url("home/team/Rashmi.jpg");
  background-repeat: no-repeat;
}
.shyama{
  background-image: image-url("home/team/shyama.jpg");
  background-repeat: no-repeat;
}
.abhinay{
  background-image: image-url("home/team/abhinay.jpg");
  background-repeat: no-repeat;
}
.mahima{
  background-image: image-url("home/team/mahima.jpg");
  background-repeat: no-repeat;
}
.hari{
  background-image: image-url("home/team/hari.jpg");
  background-repeat: no-repeat;
}
.ann{
  background-image: image-url("home/team/ann.jpg");
  background-repeat: no-repeat;
}


@media screen and (max-width: 767px) {
  .team-outer {
    height: 240px;
    width: 240px;
  }
  .team-overlay {
    width: 240px !important;
  }
}

.team-outer:hover .team-overlay {
  display: block;
}

.team-overlay {
  background: rgba(239, 90, 17, .45);
  color: $white;
  cursor: pointer;
  display: none;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 260px;
}

.team-social {
  bottom: 3px;
  font-size: 18px;
  position: absolute;
  text-align: center;
  width: 100%;
  // border-top: solid 1px $white;
  padding-top: 10px;

  i {
    color: $white;
    margin-right: 10px;
  }
}

.team-outer-desc {
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  // border-bottom: solid 1px $white;
  padding-bottom: 10px;
}

.team-name {
  font-size: 20px;
}

.team-pos {
  font-size: 18px;
  font-weight: 300;
}
//Team Section

//Abt-jumbo1
.abt-jumbo1 {
  @extend .jumbo-mgbtm0;
  background: $green;
}

.abt-hd2 {
  color: $white;
  font-size: 25px;
  font-weight: 500;
}

.abt-hd3 {
  color: $white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.abt-txt2 {
  color: $white;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
}
//Abt-jumbo1 End

//About Us Page End
// How it works
.img-size{
  width: 55%;
}
.about-us-txt {
  text-align: justify;
  color: $grey2;
  font-size: 18px;
  font-weight: 300;
  // margin-left: -8px;
}
.team-txt {
  font-size: 17px;
  font-weight: 300;
}
// About background
.about-jumbo {
  background-image: image-url("home/about.jpg");
  background-size: cover;
  margin-bottom: 0;
  padding: 0;
  @extend .jumbo-mgbtm0;
}

//About Us Page End



// Mummbai Interior

.mumbai-jumbo {
  background-image: image-url("home/mumbai.jpg");
  background-size: cover;
  margin-bottom: 0;
  padding: 0;
  @extend .jumbo-mgbtm0;
}
.mumbai-block{
  background-color: white;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 22px;
  margin-bottom: 100px;
  margin-top: 16px;
}
.mumbai-block-header{
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}
.mumbai-block-content{
  font-size: 15px !important;
  font-weight: 500;
  margin-top: 10px;
  line-height: 36px;
  // text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #767676;
}
.mumbai-block-content > i > span{
  line-height: 20px;
margin-left: 6px;
text-align: center;
}
.mumbai-block-logo {
  margin-top: -100px;
  margin-bottom: 10px;
}

.mumbai-hd1{
  text-shadow: 2px 2px 2px #000;
}
.mumbai-jumbo-hd{
  color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
.img_1{
  background-image: image-url("home/mumbai/1.png");
  background-repeat: no-repeat;
}
.img_2{
  background-image: image-url("home/mumbai/2.png");
  background-repeat: no-repeat;
}
.img_3{
  background-image: image-url("home/mumbai/3.png");
  background-repeat: no-repeat;
}
.img_4{
  background-image: image-url("home/mumbai/4.png");
  background-repeat: no-repeat;
}
.img_5{
  background-image: image-url("home/mumbai/5.png");
  background-repeat: no-repeat;
}
.img_6{
  background-image: image-url("home/mumbai/6.png");
  background-repeat: no-repeat;
}
.img_7{
  background-image: image-url("home/mumbai/7.png");
  background-repeat: no-repeat;
}


// Faq Page
.faq-jumbo {
  background: $white;
}

.faq-hd1 {
  font-size: 30px;
  font-weight: 500;
}

.faq-hd2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.transition {
  transition: .5s all ease-in-out;
}

.panel-heading {
  background: $white;
  @extend .transition;
}

.fa {
  @extend .transition;
}

.default-bg {
  background: $bgcolor;
}

.panel-title {
  color: $grey2;
  font-size: 18px;
}

.panel-body {
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
}

.panel-group .panel + .panel {
  margin-top: 10px;
}
// Faq Page End
.drop-down-color{
  color: #008A8A !important;
}

.home-org-btn2,
.home-org-btn2:hover,
.home-org-btn2:active,
.home-org-btn2:focus {
  background: $orange;
  border: 0 !important;
  border-radius: 3px !important;
  color: $white !important;
  outline: 0 !important;
  padding: 15px 25px;
  font-size: 20px !important;
  vertical-align: bottom !important;
  text-transform: uppercase;
}
.home-org-btn2:hover{
  background: #FF6103;
}
.proj_text_left{
  float: left;
  margin: 4px;
}
.set-height{
    height: 267px;
}
.set-height-padd{
  height: 100px;
  padding: 10px;
}
.profile-hd{
  color: #000;
    font-size: 16px;
    font-weight: 400;
}
.profile-btn{
  font-size: 16px;
  color: #727272;
}
#setting_btn{
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: 3px;
  padding-left: 8px;
}
.about-img{
  border: 0px solid #dddddd;
}

.index_links > a {
  color: #fff !important;
}
.index_links > a:hover {
  color: #FF6103 !important;
}
.mumbai_form{
  color: #3cb879;
  font-weight: 400;
}
.mumbai_form:hover{
  color: #3cb879;
  text-decoration: underline;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.huzzpa_promise{
  padding: 29px;
  padding-left: 60px;
  padding-right: 60px;

  a,
  a:hover{
    color: #3cb879;
  }
}
