// Place all the styles related to the MatchedVendors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green : #3cb879;
.exper {
  color: $green;
}
.sold_by{
    font-size: 11px;
}

.btn_chat_req{
	background-color: #f37022;
	color: white;
}

.fav_icon{
  color: #f37022;
}
.choose_budget_text{
  font-size: 14px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 7px;
}
.font_color ,
.font_color:hover {
  color: #757575;
}
#sugg_rec_nav li a:hover{
  color: #000;
}


:hov

.cls

element.style {
}
.sm-green-btn,
.sm-green-btn:hover,
.sm-green-btn:focus {
    background: #3cb879;
    border: 0 !important;
    border-radius: 3px;
    color: #fff !important;
    font-size: 13px !important;
    width: 48% !important;
    outline: 0 !important;
  }
.text_cl a{
    color: #000;
}
#notice{
  color: #3cb879;
  text-align: center;
}
.productbox-hd1{
  font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.suggbox-hd1{
  font-size: 18px !important;
}
.lbl-waiting{
  font-size: 13px;
}
.budget_dropdown{
  background: #fff !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 14px !important;
  height: 34px !important;
  width: auto;
}
.panel-category{
  border-color: #3cb879;
}
.panel-category > .panel-heading{
  background-color: #3cb879;
  cursor: pointer;
}
.panel-category > .panel-heading > .panel-title{
  color: #fff;
}
.panel-price{
  border-color: #f37022;
}
.panel-price > .panel-heading{
  background-color: #f37022;
  cursor: pointer;
}
.panel-price > .panel-heading > .panel-title{
  color: #fff;
}
#amount{
  border: 0;
color: #f6931f;
font-weight: bold;
/* display: inline; */
font-size: 14px;
}
#chataccessnotice{
  font-size: 18px;
  font-weight: 500;
  color: #f37022;
  padding: 14px;
  text-align: center;
}
.vendor_detail{
  padding: 15px;
  color: #524656;
}
#chat_allowed_lable{
  background: rgba(240, 248, 255, 0);
  color: #3cb879 !important;
  border: 1px solid #3cb879 !important;
  cursor: default;
}
#chat_waiting_req_lable{
  background: rgba(240, 248, 255, 0);
  color: #f37022 !important;
  border: 1px solid #f37022 !important;
  cursor: default;
}


/*** custom checkboxes ***/

#collapseCategory label {
  font-size: 18px;
  cursor: pointer;
}
#collapseCategory input[type=checkbox] { display:none; } /* to hide the checkbox itself */
#collapseCategory input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

#collapseCategory input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
#collapseCategory input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

#collapseCategory input[type=checkbox]:checked + label:before { content: "\f046"; color: #33b877 ;} /* checked icon */
#collapseCategory input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
/*** custom checkboxes Ends ***/



// Custom nave bar starts
@media (max-width: 768px){
  #sugg_header , #reco_header{
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    border: 0px !important;
  }
  #reco_header{
    padding-left: 8px;
  }
  #sugg_li{
    padding-left: 0px;
    padding-right: 0px;
  }
  #max-price{
      padding-left: 0px;
        padding-right: 0px;
  }
  #sugg_li.active{
    background-color: #f37022;

    #sugg_header{
      color: #fff;
    }
  }

  #max-price.active{
    background-color: #f37022;

    #reco_header{
      color: #fff;
    }
  }
}

#sugg_li.active,
#max-price.active,
#sugg_li:hover,
#max-price:hover
{
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  border-radius: 4px;
}
#sugg_li.active > a,
#max-price.active > a,
#sugg_li > a:hover,
#max-price > a:hover{
    border: 0px solid #dddddd;
}
.default_img{
  width: 100px !important;
}

.matched_vendors_sugg_box{
  width: 100%;
}
