@media (max-width: 768px){
  .product_detail_btns .org-btn2
  {
    font-size: 12px !important;
    padding: 10px 0px !important;
  }
  .product_detail_btns .org-btn2:active,{
    font-size: 12px !important;
    padding: 10px 0px !important;
  }
}
