// Place all the styles related to the UserProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .fileUpload {
//     position: relative;
//     overflow: hidden;
//     margin: 10px;
// }
// .fileUpload input.upload {
//     position: absolute;
//     top: 0;
//     right: 0;
//     margin: 0;
//     padding: 0;
//     font-size: 20px;
//     cursor: pointer;
//     opacity: 0;
//     filter: alpha(opacity=0);
// }
