// Place all the styles related to the VendorPreferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black : #000;
$bgcolor : #ecf0f1;
$grey2 : #767676;
$green : #3cb879;
$orange : #f37022;
$social: #a7b5bb;
$white : #fff;
$hr-color : #d5d5d5;

//general
img {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.myhr {
  border-top-color: $hr-color;
}

@media screen and (max-width: 767px) {
  .mob-mgbtm {
    margin-bottom: 15px;
    text-align: center !important;
  }

  .mob-mgbtm2 {
    margin-bottom: 15px;
  }
}



.my-hr1 {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

//slick slider
.admin-slider {
  .slick-slide:focus {
    outline: 0;
  }

  img {
    margin: 0 auto;
    outline: 0;
    width: 90% !important;
  }

  .slick-next,
  .slick-next:hover,
  .slick-next:focus {
    background-image: image-url("home/icons/right.png");
    height: 32px;
    width: 23px;
  }

  .slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    background-image: image-url("home/icons/leftt.png");
    height: 32px;
    width: 23px;
  }
}//company-slider

//admin-jumbo
.admin-jumbo1 {
  background: $white !important;
  padding: 30px 15px !important;
  padding-bottom: 15px !important;
}

.prof-img {
  width: 100%;
}

.edit-prof-img {
  bottom: 5px;
  color: $bgcolor;
  font-size: 20px;
  position: absolute;
  right: 25px;
}

.prof-desc-hd {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.prof-desc-txt {
  color: $grey2;
  font-size: 15px;
  font-weight: 300;
  margin-left: -8px;

  tr td:first-child {
    text-align: center;
    width: 15%;
  }
}

.edit-img {
  margin-right: 10px;
  // width: 16%;
}

@media screen and (max-width: 768px) {
  .prof-desc-hd {
    text-align: center;
  }
  .prof-desc-txt {
    margin: 0 auto;
  }
  .edit-img {
    margin: 0 auto;
  }
}

// tab buttons
.tab-buttons {
  text-align: center;
}

.border-btn-outer,
.border-btn-outer:active,
.border-btn-outer:focus,
.border-btn-outer:hover {
  background: rgba(0, 0, 0, 0);
  border: 0 !important;
  color: $grey2 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  outline: 0 !important;
  box-shadow: none !important;
}

.tab-button-active {
  border-bottom: solid 3px $green;
  padding-bottom: 4px;
}

//admin-main-jumbo
.admin-main-jumbo {
  background: $white !important;
  border-radius: 3px !important;
  padding: 20px 30px !important;
}

.admin-hd1 {
  font-size: 20px;
  font-weight: 400;
}

.admin-txt {
  color: $grey2;
  font-size: 16px;
}

.port-img {
  width: 100%;
}

.org-btn2,
.org-btn2:hover,
.org-btn2:active,
.org-btn2:focus {
  background: $orange;
  border: 0 !important;
  border-radius: 3px !important;
  color: $white !important;
  outline: 0 !important;
  padding: 10px 20px;
  font-size: 16px !important;
  vertical-align: bottom !important;
}

// work

//slick slider
.preference-slider {
  .slick-slide {
    text-align: left;
  }

  .slick-slide:focus {
    outline: 0;
  }

  img {
    margin: 0 auto;
    outline: 0;
    width: 90% !important;
  }

  .slick-next,
  .slick-next:hover,
  .slick-next:focus {
    background-image: image-url("home/icons/right.png");;
    height: 32px;
    width: 23px;
  }

  .slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    background-image: image-url("home/icons/left.png");
    height: 32px;
    width: 23px;
  }

  .pref-content {
    width: 80%;
  }
}//preference-slider

.admin-intxt {
  background: $white !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 18px !important;
  height: 42px !important;
  width: auto !important;
}

.admin-intxt2 {
  background: $white !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 18px !important;
  height: 42px !important;
  margin-top: 5px;
}

.prof-select {
  border: 1px solid #CCC !important;
  box-shadow: none !important;
  margin-top: 5px;
  height: 42px !important;
}

.admin-txt2 {
  color: $grey2;
  font-size: 16px;
  margin-right: 5px;
}

.admin-txtarea {
  box-shadow: none !important;
  margin-top: 5px;
  resize: vertical;
}

.grey-btn,
.grey-btn:hover,
.grey-btn:active,
.grey-btn:focus {
  background: #C7C7C7;
  border: 0 !important;
  border-radius: 3px !important;
  color: $black !important;
  outline: 0 !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  vertical-align: bottom !important;
  margin-left: 10px;
}

//profile page
.prof-comp-table {
  color: $grey2;
  font-size: 17px;
  font-weight: 300;
  margin-left: -8px;

  tr td:first-child {
    padding-bottom: 10px;
    text-align: center;
    width: 22%;
  }

  tr td {
    padding-bottom: 10px;
  }
}

//Matched People

.mp-hd1 {
  font-size: 20px;
}

.mp-hd2 {
  font-size: 16px;
  font-weight: 600;
}

.mp-txt1 {
  font-size: 16px;
  font-weight: 300;
}

.mp-txt2 {
  font-size: 16px;
  font-weight: 300;
}
// ####################
// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black : #000;
$bgcolor : #ecf0f1;
$grey2 : #767676;
$green : #3cb879;
$orange : #f37022;
$social: #a7b5bb;
$white : #fff;
$hr-color : #d5d5d5;

// suggested vendors profile
.sugg-hd1 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.sugg-hd2 {
  font-size: 19px;
}

.sugg-hd3 {
  font-size: 18px;
}

.sugg-txt1 {
  color: $grey2;
  font-size: 17px;
  margin-right: 10px;
}

.sugg-txt2 {
  font-size: 17px;
  font-weight: 400;
}

//Suggested Vendors

.main-sugg-hd1 {
  color: $black;
  font-size: 20px;
  font-weight: 300;
}

.main-sugg-hd2 {
  color: $black;
  font-size: 20px !important;
  font-weight: 400;
}

.reduced-margin{
  margin-top: 9px !important;
}

.sugg-box {
  color: $black;
  padding: 10px;

  .suggbox-hd1 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .suggbox-txt1 {
    font-size: 17px;
    font-weight: 300;
  }
}

.pad-lr {
  padding: 10px 35px !important;
}

.user_detail_form .field{
  /* text-align:right; */
  text-align:left;

}

.client-req {


}

.client-req-frm{
  background: #fff ;
    border-radius: 3px !important;;
    box-shadow: none ;
    display: inline ;
    font-size: 17px ;
    height: 40px ;
    width: auto;
    margin: 10px;
}

.client-req-frm:active , .client-req-frm:focus , .client-req-frm.active {
    background: #33b877 !important;
    border-color: #33b877 !important;
}

#general_checkbox{
  display: none;
}

// .budget,
.floor_plan_image,
// .spaces,
.upload_design,
.description,
.proceed_btn{
  display: none;
}
.form-jumbo  {
  background: #fff !important;
  padding: 0px 0px !important;
}
.form_div{
  margin-left: 25px;
  margin-right: 15px;
}
#error_message{
  color: #f35d22;
}


// Form CSS fro radio button
input[type=radio].with-font{
  border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input[type=radio]~ label{
  cursor: pointer;
}
input[type=radio].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.6em;
    color: #000;
    width: 1.4em;
}
input[type=radio].with-font:checked ~ label:before {
    content: "\f00c";
    font-size: 1.6em;
    color: #33b877;
    letter-spacing: 5px;
}
input[type=radio].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label
{
    color: #33b877;
}
#reset_preference{
  margin: 12px;
}

.user_pre_hd1{
  font-size: 15px;
  font-weight: 600;
  color: #767676;
  display: inline-flex;
  padding: 2px;
}
.user_pre_suhd1{
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 5px;
}
.form-detail-block{
    padding: 20px 40px;
    // border: 1px solid #33b877;
    // border-radius: 25px;
}
.btn-bot-marg{
  margin-bottom: 13px !important;
}
.answer-hd1{
  font-size: 17px;
  font-weight: 500;
}
.start-over-btn{
  float: right;
}
.grey-btn2{
  background: #c7c7c7;
  border: 0 !important;
  border-radius: 3px !important;
  color: #000 !important;
  outline: 0 !important;
  padding: 6px 20px !important;
  font-size: 16px !important;
  vertical-align: bottom !important;
}


.frm-org-btn2,
.frm-org-btn2:hover,
.frm-org-btn2:active,
.frm-org-btn2:focus {
  background: #f37022;
  border: 0 !important;
  border-radius: 3px !important;
  color: #fff !important;
  outline: 0 !important;
  padding: 6px 20px !important;
  font-size: 16px !important;
  vertical-align: bottom !important;
}
#sugg_rec_nav > li {
  text-align: center;
}
