// Place all the styles related to the VendorWorks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cancel-btn {
  background: #8C8988;
  color: #FFF;
}
.txt-color, .txt-color:hover{
  color: #000;
}
.vendor_desc{
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
