// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black : #000;
$bgcolor : #ecf0f1;
$grey2 : #767676;
$green : #3cb879;
$orange : #f37022;
$social: #a7b5bb;
$white : #fff;
$hr-color : #d5d5d5;

//general
img {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.myhr {
  border-top-color: $hr-color;
}

@media screen and (max-width: 767px) {
  .mob-mgbtm {
    margin-bottom: 15px;
    text-align: center !important;
  }

  .mob-mgbtm2 {
    margin-bottom: 15px;
  }
}

.my-hr1 {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

//slick slider
.admin-slider {
  .slick-slide:focus {
    outline: 0;
  }

  img {
    margin: 0 auto;
    outline: 0;
    width: 90% !important;
  }

  .slick-next,
  .slick-next:hover,
  .slick-next:focus {
    background-image: image-url("home/icons/right.png");
    height: 32px;
    width: 23px;
  }

  .slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    background-image: image-url("home/icons/leftt.png");
    height: 32px;
    width: 23px;
  }
}//company-slider

//admin-jumbo
.admin-jumbo1 {
  background: $white !important;
  padding: 30px 15px !important;
  padding-bottom: 15px !important;
}

.vendor-prof-img {
  width: 100%;
}

.edit-prof-img {
  bottom: 5px;
  color: $bgcolor;
  font-size: 20px;
  position: absolute;
  right: 25px;
}

.prof-desc-hd {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 8px;
}

.prof-desc-txt {
  color: $grey2;
  font-size: 15px;
  font-weight: 300;
  margin-left: -8px;

  tr td:first-child {
    text-align: center;
    width: 15%;
  }
}

.edit-img {
  margin-right: 10px;
  // width: 16%;
}

@media screen and (max-width: 768px) {
  .prof-desc-hd {
    text-align: center;
  }
  .prof-desc-txt {
    margin: 0 auto;
  }
  .edit-img {
    margin: 0 auto;
  }
}

// tab buttons
.tab-buttons {
  text-align: center;
}

.border-btn-outer,
.border-btn-outer:active,
.border-btn-outer:focus,
.border-btn-outer:hover {
  background: rgba(0, 0, 0, 0);
  border: 0 !important;
  color: $grey2 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  outline: 0 !important;
  box-shadow: none !important;
}

.tab-button-active {
  border-bottom: solid 3px $green;
  padding-bottom: 4px;
}

//admin-main-jumbo
.admin-main-jumbo {
  background: $white !important;
  border-radius: 3px !important;
  padding: 20px 30px !important;
}

.admin-hd1 {
  font-size: 20px;
  font-weight: 400;
}

.admin-txt {
  color: $grey2;
  font-size: 16px;
}

.port-img {
  width: 100%;
}

.org-btn2,
.org-btn2:hover,
.org-btn2:active,
.org-btn2:focus {
  background: $orange;
  border: 0 !important;
  border-radius: 3px !important;
  color: $white !important;
  outline: 0 !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  vertical-align: bottom !important;
}

// work

.admin-intxt {
  background: $white !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 18px !important;
  height: 42px !important;
  width: auto !important;
}

.admin-intxt2 {
  background: $white !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 18px !important;
  height: 42px !important;
  margin-top: 5px;
}

.prof-select {
  border: 1px solid #CCC !important;
  box-shadow: none !important;
  margin-top: 5px;
  height: 42px !important;
}

.admin-txt2 {
  color: $grey2;
  font-size: 16px;
  margin-right: 5px;
}

.admin-txtarea {
  box-shadow: none !important;
  margin-top: 5px;
  resize: vertical;
}

.grey-btn,
.grey-btn:hover,
.grey-btn:active,
.grey-btn:focus {
  background: #C7C7C7;
  border: 0 !important;
  border-radius: 3px !important;
  color: $black !important;
  outline: 0 !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  vertical-align: bottom !important;
  margin-left: 10px;
}

//profile page
.prof-comp-table {
  color: $grey2;
  font-size: 17px;
  font-weight: 300;
  margin-left: -8px;

  tr td:first-child {
    padding-bottom: 10px;
    text-align: center;
    width: 22%;
  }

  tr td {
    padding-bottom: 10px;
  }
}

//Login page
.login-box {
  background: $white;
  border-radius: 4px;
  padding: 35px;
}

.login-logo-div {
  left: 0;
  position: absolute;
  text-align: center;
  top: -50px;
  width: 100%;
}

.login-intxt {
  background: $white !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  display: inline !important;
  font-size: 17px !important;
  height: 40px !important;
  width: auto;
}
.login-box-width , .full-width{
  width: 100% !important;
}

@media screen and (min-width: 992px){
  .col-mymd-offset-3 {
    margin-left: 27%;
  }
}

.radio label {
  font-size: 16px;
  font-weight: 300 !important;
}

.pad-btn,
.pad-btn:hover,
.pad-btn:focus,
.pad-btn:active {
  padding: 10px 50px !important;
}

.login-txt1 {
  @extend .admin-txt;
}

// suggested vendors
.sugg-hd1 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.sugg-hd2 {
  font-size: 19px;
}

.sugg-hd3 {
  font-size: 18px;
}

.sugg-txt1 {
  color: $grey2;
  font-size: 17px;
  margin-right: 10px;
}

.sugg-txt2 {
  font-size: 17px;
  font-weight: 400;
  // text-transform: uppercase;
}

//slick slider
.vendor-public-preference-slider {
  .slick-slide {
    text-align: left;
  }

  .slick-slide:focus {
    outline: 0;
  }

  img {
    margin: 0 auto;
    outline: 0;
    width: 90% !important;
  }

  .slick-next,
  .slick-next:hover,
  .slick-next:focus {
    background-image: image-url("home/icons/right.png");;
    height: 32px;
    width: 23px;
  }

  .slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    background-image: image-url("home/icons/left.png");
    height: 32px;
    width: 23px;
  }

  .pref-content {
    width: 80%;
  }
}//preference-slider

.sm-green-btn,
.sm-green-btn:hover,
.sm-green-btn:focus {
    background: #3cb879;
    // border: 0 !important;
    border: 1px solid #3cb879 !important;
    border-radius: 3px;
    color: #fff !important;
    font-size: 14px;
    width: 100%;
    outline: 0 !important;
  }

.vendor-sm-green-btn,
.vendor-sm-green-btn:hover,
.vendor-sm-green-btn:focus {
    background: #3cb879;
    border: 0 !important;
    border-radius: 3px;
    color: #fff !important;
    font-size: 14px;
    width: 100% !important;
    outline: 0 !important;
  }
