<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <h2>Editing Category</h2>
        <hr>
        <%= form_for(@category) do |f| %>
          <% if @category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

              <ul>
              <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'login-intxt full-width form-control' , :required => true %><br><br>
          </div>
          <div class="field">
            <%= f.label 'Image' %> (Optional)<br>
            <%= f.attachment_field :profile_image, direct: true, presigned: true  , class: 'form-group'  %> <br>
          </div>
          <div class="field">
            
           <%= f.label :form_option %><br />
           <% if @category.form_option %>
             <%= f.label :form_option, "Yes", :value => "true"  %>
             <%= f.radio_button :form_option, true  , :checked => true %>
             <%= f.label :form_option, "No", :value => "false" %>
             <%= f.radio_button :form_option, false, :checked => false %>
            <% else %>
              <%= f.label :form_option, "Yes", :value => "true"  %>
              <%= f.radio_button :form_option, true   %>
              <%= f.label :form_option, "No", :value => "false" %>
              <%= f.radio_button :form_option, false, :checked => true %>
            <% end %>
            <br><br>
            <!-- <%= radio_button_tag(:form_option, "true") %> True <%= radio_button_tag(:form_option, "false")%> False<br><br> -->
          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', categories_path, class: 'cancel-btn pad-btn btn' %></span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<br><br>
