<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">All Categories</div>
      <hr>
    <p id="notice"><%= notice %></p>
    <%= link_to 'Add more', new_category_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Form Option</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= category.form_option %></td>
              <!-- <td><#%= link_to 'Show', category %></td> -->
              <td><%= link_to 'Edit', edit_category_path(category) %></td>
              <td><%= link_to 'Show', category_path(category)%>
              <!-- <td><%#= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>



<br>
