<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 mob-mgbtm">
      <div class="sugg-box img-thumbnail">
        <%= image_tag attachment_url(@category, :profile_image, :fill, 300, 300, format: "jpg")%>
        <br>
        <span>Category: <%= @category.name %></span><br>
        <span>
          <%= link_to 'Edit', edit_category_path(@category) %> |
          <%= link_to 'Back', categories_path %>
        </span>
      </div>
    </div>
  </div>
</div>
