<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'login-intxt form-control full-width' , required: true %><br><br>
  </div>
  <div class="field">
    <%= f.label 'Product Image' %><br>
    <%= f.attachment_field :product_image, direct: true, presigned: true , required: true , class: 'form-group' %> <br>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: 'login-intxt form-control' , required: true %><br><br>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'login-intxt form-control full-width' %><br><br>
  </div>
  <div class="field">
    <%= f.label :seller %><br>
    <%= f.text_field :seller, class: 'login-intxt form-control full-width' , required: true %><br><br>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, @product.category_id), { prompt: 'Select category' }, class: 'category-item login-intxt form-control' %><br><br>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <div class="btn-group" data-toggle="buttons">
      <% get_tags.each do |tag| %>
        <label class="btn btn-default client-req-frm ">
          <%= f.check_box_tag 'product[tags][]' , tag.id %> <%= tag.name %>
        </label>
      <% end %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit "Create", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', products_path, class: 'cancel-btn pad-btn btn' %></span>
  </div>
<% end %>
