<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="login-box">
        <h2>Editing Product</h2>
        <hr>
        <%= form_for(@product) do |f| %>
          <% if @product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@product.errors.count, "error") %> prohibited this category from being saved:</h2>
              <ul>
              <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'login-intxt form-control full-width' , required: true %><br><br>
          </div>
          <div class="field">
            <%= f.label 'Product Image' %> (Optional)<br>
            <%= f.attachment_field :product_image, direct: true, presigned: true , class: 'form-group' %> <br>
          </div>
          <div class="field">
            <%= f.label :price %><br>
            <%= f.text_field :price, class: 'login-intxt form-control' , required: true %><br><br>
          </div>
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_field :description, class: 'login-intxt form-control full-width' %><br><br>
          </div>
          <div class="field">
            <%= f.label :seller %><br>
            <%= f.text_field :seller, class: 'login-intxt form-control full-width' , required: true %><br><br>
          </div>
          <div class="field">
            <%= f.label :category_id %><br>
            <%= f.select :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id] }, @product.category_id), { prompt: 'Select category' }, class: 'category-item login-intxt form-control' %><br><br>
          </div>
          <div class="field">
            <%= f.label :tags %><br>
            <div class="btn-group" data-toggle="buttons">
              <% get_tags.each do |tag| %>
                <% if @product.tags.include? tag.id.to_s %>
                  <label class="btn btn-default client-req-frm  active">
                    <%= f.check_box_tag 'product[tags][]' , tag.id ,  :checked => true %> <%= tag.name %>
                  </label>
                <% else %>
                  <label class="btn btn-default client-req-frm ">
                    <%= f.check_box_tag 'product[tags][]' , tag.id %> <%= tag.name %>
                  </label>
                <% end %>
              <% end %>
            </div>

          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'org-btn2 pad-btn btn' %> <span><%= link_to 'Cancel', products_path, class: 'cancel-btn pad-btn btn' %></span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <%#= link_to 'Show', @product %>
  <%#= link_to 'Back', products_path %>
</div>

<br><br>
