<div class="container">
  <div class="admin-main-jumbo jumbotron">
    <div class="admin-hd1">Products</div>
      <hr>
    <p id="notice"><%= notice %></p>
    <%= link_to 'Add more', new_product_path, class: 'org-btn2 btn' %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th> Product Image </th>
            <th>Price</th>
            <th>Description</th>
            <th>Seller</th>
            <th>Category</th>
            <th>Tags</th>
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td class="sugg-box img-thumbnail"><%= image_tag attachment_url(product, :product_image, :fill, 100, 100, format: 'jpg') %></td>
              <td><%= product.price %></td>
              <td><%= product.description %></td>
              <td><%= product.seller %></td>
              <td>
                <% if product.category_id.present? %>
                  <%= product.category.name %>
                  <% else %>
                    NA
                  <% end %>
              </td>
              <td>
                <% if product.tags.present? %>
                  <% product.tags.each do |tag_id| %>
                    #<%= Tag.find(tag_id).name %>
                  <% end %>
                <% else %>
                  NA
                <% end %>

              </td>

              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Show', product_path(product)%>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>



<br>



<%#= link_to 'New Product', new_product_path %>
