<div class="container">
    <div class="admin-main-jumbo jumbotron">
        <% @product.each do |product|%>
            <div class="admin-hd1"><%= product.name%></div>
            <hr>
            <br>
            <div class="row">
              <div class=" col-md-5 col-xs-12">
                <%= image_tag attachment_url(product, :product_image, :fill, 400, 300, format: 'jpg' ), rel: 'tooltip', title: 'Click to zoom', data: { 'placement': 'bottom' }, class: "thumbnail img-pop mytooltip img-thumbnail" %>
              </div>
              <div class="col-md-7 col-xs-12">
                <div class="admin-hd1"><%= product.name%></div>
                <br>
                <div class="admin-hd2">INR <%= product.price %></div>
                <br>
                <div class="admin-hd2">Description: <%= product.description%></div>
                <br>
                <div class="admin-hd2">Seller : <%= product.seller%></div>
                <br>
                <div class="admin-hd2">Product Category: <%= product.category.name%> </div>
                <br>
                <div class="row product_detail_btns">
                  <% if current_user.role != "admin"%>
                    <button type="button" name="button" class="btn org-btn2 col-md-5 col-xs-6" onclick="set_favourate_btn(<%= product.id %>)" id="prod_fav_btn" <% if FavProduct.where(user_id: current_user , product_id: product.id).present? %> style="display: none;" <% end %> >  <i class=" fa-heart-o fa  fa-1x"> </i> Add to Favourites</button>
                    <button type="button" name="button" class="btn org-btn2 col-md-5 col-xs-6" onclick="remove_favourate_btn(<%= product.id %>)" id="prod_rem_btn" <% if !FavProduct.where(user_id: current_user , product_id: product.id).present? %> style="display: none;" <% end %> >  <i class=" fa-heart fa  fa-1x" > </i> Remove from Favourites</button>
                    <!-- <button type="button" name="button" class="btn org-btn2 col-md-offset-1 col-md-5 col-xs-6" onclick="goBack()">More Recommendations</button> -->
                    <%= button_to "More Recommendations", matched_recommendations_path(tab: 'recom'), method: :get , class: "btn org-btn2 col-md-offset-1 col-md-5 col-xs-6"%>
                  <% end %>
                </div>
              </div>
            </div>


        <% end %>
    </div>
  <%#= link_to 'Edit', edit_product_path(@product) %>
  <%#= link_to 'Back', products_path %>
</div>

<br><br>
