<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 mob-mgbtm-foo">
        <div class="foo-hd">Sitemap</div>
        <!-- <div class="foo-txt"><%= link_to 'Home', root_path %></div> -->
        <div class="foo-txt"><%= link_to 'Blog', blogs_path %></div>
        <div class="foo-txt"><%= link_to 'About', about_path %></div>
        <div  class="foo-txt" ><%= link_to "Our Portfolio", our_portfolio_path, class: '' %></div>
        <div  class="foo-txt"><%= link_to 'Mumbai', interior_designers_mumbai_path %></div>

        <!-- <div class="foo-txt"><%= link_to 'Top Designers', "#top-designer" %></div> -->
        <div class="foo-txt"><%= link_to 'Testimonials', root_path+"#testimonials" %></div>
      </div><!--col-md-* end-->
      <div class="col-md-2 mob-mgbtm-foo">
        <div class="foo-hd">Support</div>
        <!-- <div class="foo-txt"><%= link_to 'Get Started', new_user_registration_path %></div>
        <div class="foo-txt"><%= link_to 'Sign In', new_user_session_path %></div>
        <div class="foo-txt"><%= link_to 'Create Account', new_user_registration_path %></div> -->
        <div class="foo-txt"><%= link_to 'Terms and Conditions', terms_path %></div>
        <div class="foo-txt"><%= link_to 'Privacy policy', privacy_path %></div>
        <div class="foo-txt"><%= link_to 'FAQ', faq_path %></div>
        <div  class="foo-txt"><%= link_to 'Contact Us', contact_us_path %></div>
        <div class="foo-txt"><%= link_to 'How it Works', root_path+"#how-it-works" %></div>
      </div><!--col-md-* end-->
      <div class="col-md-4 mob-mgbtm-foo">
        <div class="foo-hd">Address</div>
        <div class="foo-txt">
          42, 2nd Floor, 100 Feet Rd,
          Koramangala 4th Block,<br>
          Koramangala, Bengaluru,
          Karnataka - 560034 <br>
          Email : hello@huzzpa.com<br>
        </div>
      </div><!--col-md-* end-->
      <div class="col-md-4 mob-mgbtm-foo">
        <div id="subscribe_block">
          <div class="foo-hd">Subcribe to our Newsletter</div>
          <!-- <#%= form_tag(subscribe_path, class: 'form-inline') do %> -->
          <%= form_tag(subscribe_path, class: 'form-inline', remote: true , id:'subscribe_form') do %>
            <div class="form-group">
              <input name="email" type="email" class="foo-intxt form-control" placeholder="Your Email" required="true">
            </div>
            <button type="submit" class="org-btn btn">
              <i class="fa fa-paper-plane"></i>
            </button>
          <% end %>
        </div>

        <!-- <div class="">
          Thanks You for Subscription!!
        </div> -->
        <br>
        <div class="foo-social">
          <a href="https://www.facebook.com/Huzzpa" target="_blank">
            <i class="fa fa-facebook fb"></i>
          </a>
          <a href="https://twitter.com/Huzzpa" target="_blank">
            <i class="fa fa-twitter tw"></i>
          </a>
          <a href="https://www.linkedin.com/company/huzzpa" target="_blank">
            <i class="fa fa-linkedin link"></i>
          </a>
          <a href="https://www.pinterest.com/huzzpa" target="_blank">
            <i class="fa fa-pinterest pin"></i>
          </a>
          <a href="https://plus.google.com/+MakeUber/posts" target="_blank">
            <i class="fa fa-google-plus google"></i>
          </a>

          <a href="https://www.youtube.com/channel/UCK-55LvkPy9dgVo4AicfAmw" target="_blank">
            <i class="fa fa-youtube you"></i>
          </a>
          </div><!--social end-->
      </div><!--col-md-* end-->
    </div><!--row end-->



    <center class="copyright-font">
      &copy; 2017 Huzzpa. All Rights Reserved.
    </center>
  </div><!--container-->
</div><!--footer-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71174259-1', 'huzzpa.com');
  ga('send', 'pageview');

  $('#subscribe_form').bind('ajax:success', function(evt, data, status, xhr){
     $("#subscribe_block").html('<div class="subscribe_thanks">Thanks for Subscribing!</div>');
  });
</script>

<script type="text/javascript">
(function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
  t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
})(window, document, '_gscq','script','//widgets.getsitecontrol.com/111805/script.js');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '1432374030160541');
   fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1432374030160541&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
