<%= render 'layouts/main_header' %>
<% if user_signed_in? %>
  <% unless current_user.guest == true %>
    <div class="admin-header2 jumbotron">
      <div class="container">
          <div class=" tab-buttons ">
            <% if current_user.role == 'user' %>
              <%#= link_to user_profile_path(current_user.user_profile), rel: 'tooltip', title: 'This is how your profile looks', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn pro' do %>
                <!-- <span class="<%= active_class(user_profile_path(current_user.user_profile)) %>">Profile</span> -->
              <%# end %>
              <%= link_to preferences_path, rel: 'tooltip', title: 'Shows Preferred Images', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn pref' do %>
                <span class="<%= active_class(preferences_path) %>">My Preference</span>
              <% end %>
              <%= link_to matched_vendors_path, rel: 'tooltip', title: 'Recommendations of professionals and products', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn match' do %>
                <span class="<%= active_class(matched_vendors_path) %>">My Matches</span>
              <% end %>
              <%= link_to fav_products_path, rel: 'tooltip', title: 'Favourite Products You Liked', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn pref' do %>
                <span class="<%= active_class(fav_products_path) %>">My Favorites</span>
              <% end %>
              <% if   ChatAccess.where(user_id: current_user , status: true).count > 0 %>
                <%= link_to chat_data_path , rel: 'tooltip', title: 'Chat History', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn match' do %>
                    <span class="<%= active_class(chat_data_path) %>">Chat History</span>
                <% end %>
              <% end %>
            <% elsif current_user.role == 'vendor' %>
              <%= link_to vendor_profile_path(current_user.vendor_profile), rel: 'tooltip', title: 'This is how your profile looks', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn pro' do %>
                <span class="<%= active_class(vendor_profile_path(current_user.vendor_profile)) %>">Profile</span>
              <% end %>
              <%= link_to vendor_preferences_path, rel: 'tooltip', title: 'Shows Preferred Images', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn pref' do %>
                <span class="<%= active_class(vendor_preferences_path) %>">My Preference</span>
              <% end %>
              <%= link_to vendor_works_path, rel: 'tooltip', title: 'Showcase your work', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn wrk' do %>
                <span class="<%= active_class(vendor_works_path) %>">Works</span>
              <% end %>
              <!-- <%#= link_to matched_users_path, rel: 'tooltip', title: 'Users matched to you', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn match' do %>
                <span class="<%#= active_class(matched_users_path) %>">Matched Users</span>
              <%# end %> -->
              <% if    ChatAccess.where(vendor_profile_id: current_user.vendor_profile , status: true ).count > 0 %>
                <%= link_to chat_data_path, rel: 'tooltip', title: 'Chat History', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn match' do %>
                  <span class="<%= active_class(chat_data_path) %>">Chat History</span>
                <% end %>
              <% end %>
            <% elsif current_user.role == 'admin' %>
              <%= link_to categories_path, rel: 'tooltip', title: 'Add Category of the Products', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(categories_path) %>">Category</span>
              <% end %>
              <%= link_to category_items_path,  rel: 'tooltip', title: 'Add and Link Images to the Category  ', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(category_items_path) %>">Categ Item</span>
              <% end %>
              <%= link_to types_path,  rel: 'tooltip', title: 'Add Sub Categories of the Category', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(types_path) %>">Sub Categ</span>
              <% end %>
              <%= link_to tags_path,  rel: 'tooltip', title: 'Add Tags for the Category', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(tags_path) %>">Tags</span>
              <% end %>
              <%= link_to questions_path, rel: 'tooltip', title: 'Create Questions', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(questions_path) %>">Questions</span>
              <% end %>
               <%= link_to questioners_path,  rel: 'tooltip', title: 'Link Question to Category and set Image Options', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(questioners_path) %>">Questionnaire</span>
              <% end %>
              <%= link_to question_sequences_path, rel: 'tooltip', title: 'Activate and Deactivate Questioners', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(question_sequences_path) %>">Activate Ques</span>
              <% end %>
              <%= link_to vendors_admins_path, rel: 'tooltip', title: 'View and Activate/Deactivate Vendors', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(vendors_admins_path) %>">Vendors</span>
              <% end %>
              <%= link_to users_admins_path,  rel: 'tooltip', title: 'View Users and details', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(users_admins_path) %>">Users</span>
              <% end %>
              <%= link_to guests_admins_path,  rel: 'tooltip', title: 'View Guests', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(guests_admins_path) %>">Guests</span>
              <% end %>
              <%= link_to products_path, rel: 'tooltip', title: 'Add/View/Delete Products', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(products_path) %>">Products</span>
              <% end %>
              <%= link_to chat_accesses_path,  rel: 'tooltip', title: 'Allow/Disallow Chat access and Check the Project Status', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="<%= active_class(chat_accesses_path) %>">Chat Access</span>
              <% end %>
              <%= link_to huzzpa_works_path,  rel: 'tooltip', title: 'Add/ Delete Huzzpa Projects', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="">Profile</span>
              <% end %>
              <%= link_to admin_blog_blogs_path,  rel: 'tooltip', title: 'Add/Delete Blogs', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
                <span class="">Blog</span>
              <% end %>
            <% end %>
        </div><!--tab buttons end-->

      </div><!--container end-->
    </div><!--admin-jumbo1-->
  <% end %>
<% end %>
