<nav class="navbar-portal navbar-default-portal">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag('huzzpa-logo.png', class: 'logo img-responsive', alt: 'best interior designers bangalore') %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%#= link_to 'Blog', 'http://blog.huzzpa.com/', target: '_blank' %>
          <%= link_to 'Blog', blogs_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to "Our Portfolio", our_portfolio_path, class: '' %></li>
        <li><%= link_to 'Contact Us', contact_us_path %></li>
        <% if user_signed_in? -%>
          <% unless current_user.guest == true %>
            <% if current_user.role == 'user' %>
              <li><%= link_to 'My Preference', preferences_path %></li>
            <% elsif current_user.role == 'vendor' %>
              <li><%= link_to 'My Preference', vendor_preferences_path %></li>
            <% end %>

            <li class="btn-group" role="group">
              <button type="button" id="setting-btn" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div>
                  <i class="user-name-hd">
                    <%= current_user.name %>
                  </i>
                  <% if current_user.role == 'user' || current_user.role == 'admin' %>
                    <% if !current_user.user_profile.profile_image_id.nil?%>
                      <%= image_tag attachment_url(current_user.user_profile, :profile_image, :fill, 50, 50, format: 'png'), class: 'head-prof-img img-circle profile_img ', title: 'Profile Image' %>
                    <% else %>
                      <%= image_tag "default.png", class: 'head-prof-img img-circle profile_img' %>
                    <% end %>
                  <% elsif current_user.role == 'vendor' %>
                    <% if !current_user.vendor_profile.profile_image_id.nil?%>
                      <%= image_tag attachment_url(current_user.vendor_profile, :profile_image, :fill, 50, 50, format: 'png'), class: 'head-prof-img img-circle profile_img', title: 'Profile Image' %>
                    <% else %>
                      <%= image_tag "default.png", class: 'head-prof-img img-circle profile_img' %>
                    <% end %>
                  <% end %>

                </div>
              </button>
              <ul class="dropdown-menu" id="setting-menu">
                <li><%= link_to 'Account', edit_user_registration_path %></li>
                <% if current_user.role == "user"%>
                  <li><%= link_to 'Edit Profile', edit_user_profile_path(current_user.user_profile) %></li>
                <% elsif current_user.role == "vendor"%>
                    <li><%= link_to 'Edit Profile',  edit_vendor_profile_path(current_user.vendor_profile) %></li>
                <% end %>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="btn-group" role="group">
              <button type="button" id="setting-btn" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog fa-2x" id="setting-icon" aria-hidden="true"><span id="setting_btn">Settings</span></i>
              </button>
              <ul class="dropdown-menu" id="setting-menu">
                <li><%= link_to 'My Preference', preferences_path %></li>
                <li><%= link_to 'Logged in Guest', preferences_path %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li class="btn-group" role="group">
            <li role="presentation" class="dropdown">
              <a href="#", data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" class="outline-btn btn dropdown-toggle">
                Create Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu blog-dropdown">
                <li><%= link_to "User", user_role_path  %></li>
                <li><%= link_to "Professional", vendor_role_path %></li>
              </ul>
            </li>
            <li>
              <%= link_to 'Log In', new_user_session_path %>
            </li>


          </li>

        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
