<% flash.each do |key, value| %>
  <% key = "alert" if current_page?(root_path) %>
  <% if value.present?%>
    <div class="container">
      <div class="row">
        <div class="col-mymd-offset-3 col-md-5">
          <div class="alert alert<%= "-#{key}" %>" id="flash">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <%= value %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
