  <!DOCTYPE html>
<html>
<head  prefix="og: http://ogp.me/ns#" >
  <title><%= @title || 'Best Interior Designers in Bangalore | Home Interior Decorators Bangalore'%></title>

   <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta charset="UTF-8">
  <meta name="p:domain_verify" content="48ee09e567e5fecf35d752bf7c3c03b2" />

  <meta name="description" content="<%= @description || "Best Interior Designers in Bangalore @ your service from Huzzpa Homes. A leading architecture & home interior decorator firm in Bangalore & Mumbai." %>">

  <meta name="keyword" content="<%= @keyword || "best interior designer in bangalore, interior designer bangalore, home interior decorator, interior decorators" %>" >

  <meta content="<%= user_signed_in? ? current_user.id : "" %>" name='user-id'/>

  <%= canonical_tag -%>

  <!-- <meta name=viewport content="width=device-width, initial-scale=1"> -->

    <meta name="theme-color" content="#ff9b6e ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="author" content="Huzzpa.com">

    <link rel="apple-touch-icon" sizes="50x50" type="image/png" href="<%= asset_path 'favicon.png' %>">
    <link rel="icon" sizes="50x50" type="image/png" href="<%= asset_path 'favicon.png' %>">


    <!--FB meta tags-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Huzzpa"/>
    <meta property="og:site_name" content="Huzzpa" />
    <meta property="og:type" content="Website"/>
    <meta property="og:url" content="http://www.huzzpa.com/">
    <meta property="og:image" content="http://huzzpa.com/assets/home/areas/bathroom-9a03020ddee1de54d6b33c0abbb2e04d731a049f6fadbf3f6d4372adcf57239d.jpg" />
    <meta property="og:description" content="Huzzpa Description">
    <meta property="og:image:width" content="851" />
    <meta property="og:image:height" content="315" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Huzzpa">
    <meta name="twitter:title" content="Huzzpa">
    <meta name="twitter:description" content="Huzzpa Description">
    <meta name="twitter:image" content="">



  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <!-- <link rel="icon" type="image/png" href="/assets/favicon.png"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js">

  </script>

  <!-- Hotjar Tracking Code for https://www.huzzpa.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:551455,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
<body <% if content_for?(:body_attributes) %> <%= yield(:body_attributes) %> <% end %> id="body-div">

  <!-- Chat Start -->
  <!-- <div class="row chat_box"> -->
   <% if  user_signed_in? &&  current_user.role != 'admin'%>
   <div id="floatchat_btn" style="
     position: fixed;
     width: auto;
     height: auto;
     bottom: 0px;
     right: 10px;
     padding: 2px;
     border: no;
     z-index: 100;
    ">

    <!-- <button type="button" name="button" class="btn btn-default chat_btn"> -->
    <% if current_user.role == "user"  && !current_user.guest %>
      <% if   ChatAccess.where(user_id: current_user , status: true).count > 0 %>
        <%= image_tag "chat_notification.ico", size: "30x30" ,id: 'chat_notification_icon'%>
         <%= image_tag "chat_vendor_logo.png", size: "160x100" ,class: 'img-responsive chat_btn'%>
      <% end %>
    <% elsif current_user.role == "vendor" %>

      <% if ChatAccess.where(vendor_profile_id: current_user.vendor_profile , status: true ).count > 0 %>
        <%= image_tag "chat_notification.ico", size: "30x30" ,id: 'chat_notification_icon'%>
        <%= image_tag "chat_user_logo.png", size: "160x100" ,class: 'img-responsive chat_btn'%>
      <% end %>
    <% end %>
     <!-- </button> -->

     <br>
   </div>
    <% end %>
  <!-- </div> -->


    <% if  user_signed_in? &&  current_user.role != 'admin'%>
      <% if  current_user.role == 'user'  %>
        <div id="floatdiv">
          <div class="">
            <button type="button" id="chat_close_btn" class="">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
          <br>
          <div class="">
            <ul class="nav nav-tabs chat_name_tab col-md-10">
              <!-- Chat part starts -->
              <% @allowed_chat_vendors.each_with_index do |vendorId , index| %>
               <li role="presentation" class="<% if index == 0 %> active  <% end %>" >
                 <%= link_to truncate(User.where(id: VendorProfile.where(id: vendorId).pluck(:vendor_id)[0] ).pluck(:name)[0] , length: 9 , separator: ' ') , "##{ VendorProfile.where(id: vendorId).pluck(:vendor_id)[0] }" , class: "btn btn-default btn start-conversation chat_usr_btn", "data-toggle" => "tab", "data-sid" => current_user.id, "data-rip" => VendorProfile.where(id: vendorId).pluck(:vendor_id)[0] , :title => User.where(id: VendorProfile.where(id: vendorId).pluck(:vendor_id)[0] ).pluck(:name)[0] , :rel => 'tooltip' %>
                 </li>
              <% end %>
            </ul>
          </div>
          <br>
          <div class="tab-content" style="padding-top: 15px">
              <% @allowed_chat_vendors.each_with_index do |vendorId , index| %>
                <div class="tab-pane <% if index == 0 %> active  <% end %> " id="<%=VendorProfile.where(id: vendorId).pluck(:vendor_id)[0]%>">
                </div>
              <% end %>
          </div>
          </div>

       <% elsif  current_user.role == 'vendor' %>
         <div id="floatdiv">
           <div class="">
             <button type="button" id="chat_close_btn" class="">
               <i class="fa fa-times" aria-hidden="true"></i>
             </button>
           </div>
           <br>

           <ul class="nav nav-tabs chat_name_tab col-md-10">
              <!-- Chat part starts -->
              <% @allowed_chat_user.each_with_index do |userId , index| %>
                <li role="presentation" class="<% if index == 0 %> active  <% end %> ">
                 <%= link_to truncate(User.where(id: userId ).pluck(:name)[0], length: 9 , separator: ' ') , "##{userId}", class: "btn btn-default btn start-conversation chat_usr_btn", "data-toggle" => "tab" , "data-sid" => current_user.id, "data-rip" => userId , :title => User.where(id: userId ).pluck(:name)[0] , :rel => 'tooltip' %>

                </li>

                <!--Subscribe for notification  -->
                <% chat_conver = get_conversation(current_user) %>

                 <% chat_conver.each do |conver| %>

                   <%= subscribe_to "/messages/#{conver.id}" %>
                <% end %>

              <% end %>
            </ul>

            <div class="tab-content" style="padding-top: 15px">
              <% @allowed_chat_user.each_with_index do |userId , index| %>
                <div class="tab-pane  <% if index == 0 %> active  <% end %> " id="<%=userId%>"></div>
              <% end %>
            </div>
          </div>
       <% end %>


     <% end %>

   <!-- Chat End -->


  <!-- End Disable Turbolinks -->
  <% if present_url(request.original_url) %>
    <%= render 'layouts/home_header' %>
  <!-- <#% elsif is_blog_url? %>
    <#%= render 'layouts/main_header' %> -->
  <% elsif request.original_url.split('?').first == our_portfolio_url %>
    <%= render 'layouts/header' %>
  <% elsif request.original_url.include?('utm') || request.original_url.include?('gclid') %>
    <%= render 'layouts/home_header' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>

   <%= render 'layouts/messages' %>

   <%= yield %>


   <%= render 'layouts/footer' %>


   <!-- Image popup start -->
   <!-- The Modal -->
     <div id="myPopupModal" class="modal">
      <span class="img_popup_close"  data-dismiss="modal" aria-label="Close" >×</span>
        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <img class="modal-content thumbnail" id="mimg">
            </div>
          </div>
        </div>

      <div id="caption"></div>
     </div>
   <!-- Image Popup End -->

   <!-- <audio id="chatAudio">
     <source src="/sounds/notification.mp3" type="audio/mpeg">
    </audio> -->
    <!-- <#%= audio_tag("notification.mp3" , id: "chatAudio") %> -->
      <% unless current_user && chat_visible?(current_user) %>
        <script type="text/javascript">
            var tawkReady;
            tawkReady = function(){
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
              (function(){
                 var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                 s1.async=true;
                 s1.src='https://embed.tawk.to/597451ea5dfc8255d623e759/default';
                 s1.charset='UTF-8';
                 s1.setAttribute('crossorigin','*');
                 s0.parentNode.insertBefore(s1,s0);
              })();
            }
            // Loads javascript while loading page
            $(document).ready(tawkReady);
            $(document).on('page:load', tawkReady);
            $(document).on('page:change', tawkReady);
        </script>
      <% end %>

</body>
</html>

<!-- /*<style type="text/css">
.affix {
      bottom: 20px;
    right: 60px;
  }
</style>*/ -->
